page-ep-home-dealer-report {
  @include epIonHeader;
  $ep-bg-content:#17181a;
  $ep-bg-header:#ef6c00;
  $ep-bg-box:#2e323d;
  $ep-txt-orange:#ff9900;
  $ep-txt-white:#ffffff;
  .toolbar-background {
      background: none;
      border: none !important;
    }
  
    .toolbar-title {
      color: $ep-txt-white !important;
    }
    ion-grid{
        margin-top: 0px !important;
    }
    ion-content{
        background-image: url('../assets/icon/ePocket_icon/EPBG.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
 
    ion-buttons[end] {
        button {
            width: 100% !important;
        }
        ion-icon {
            position: absolute !important;
            font-size: 36px !important;
            color: #ffffff !important;
        }
        .menu-right-text {
            font-size: 10px !important;
            color: #ffffff !important;
            margin-top: 38px;
            z-index: 999;
        }
    }

    .grid {
        padding: 0px !important;
        margin-top: 30px;
        .col {
            padding: 0px !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media only screen and (max-width: 1023px) and (orientation: landscape) {
        .grid.bg-layout {
            width: 40vw;
        }
        .row-landscape {
            flex-wrap: nowrap !important;
            justify-content: center;
            overflow-x: auto;
        }
        .col-landscape {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 14.44444%;
            -ms-flex: 0 0 14.44444%;
            flex: 0 0 14.44444%;
            width: 14.44444%;
            max-width: 14.44444%;
        }
        ion-badge {
            position: absolute;
            right: 8px;
            top: 8px;
        }
        .scroll-content {
            padding: 0px !important;
            margin-top: 0px !important;
            align-items: center;
            justify-content: center;
        }
    }
}