<ion-header>
  <ion-navbar>
    <ion-title>ลืมรหัสผ่าน</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="forgot__text">
    กรุณาระบุชื่อผู้ใช้งานที่ท่านได้ลงทะเบียนไว้ <br> แล้วระบบจะส่งรายละเอียดการรีเช็ตรหัสผ่านในทางอีเมล์ของท่าน
  </div>
  <form [formGroup]="form" (ngSubmit)="onForgotPassword(form.value)" autocomplete="off" #Form="ngForm">
    <ion-list>
      <ion-item>
        <ion-label floating>
          <span style="color:red">*</span>
          ชื่อผู้ใช้งาน
        </ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-grid no-padding>
      <ion-row no-padding>
        <ion-col col-6 no-padding>
          <button ion-button full no-margin mode="ios" color="light" (click)="gotoHome()">
            กลับสู่หน้าหลัก
          </button>
        </ion-col>
        <ion-col col-6 no-padding>
          <button ion-button full no-margin mode="ios" [disabled]="!form.valid || btnLoading" (click)="Form.ngSubmit.emit()">
            <span *ngIf="btnLoading">
              <ion-spinner name="dots"></ion-spinner>
            </span>
            <span *ngIf="!btnLoading">
              ส่ง
            </span>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>