page-eo-promotion-freegood {
  @include eoHeader;

  @include block('promotion') {
    @include element('list') {
      ion-label {
        margin: 5px 8px 5px 0 !important;
      }

      ion-list {
        &.list-md {
          margin: 1px 0 1px !important;
        }

        &.list-ios {
          margin: -1px 0 10px !important;
        }

        border-bottom: 1px solid #e8e6e6;

        &:last-child {
          border-bottom: none !important;
        }

        ion-item {
          &:last-child {
            margin-bottom: 10px;
          }
        }
      }

      @include element('header') {
        padding: 10px 8px;
        font-weight: bold;
        //margin-bottom: 10px;

        @include modifier('blue') {
          background: rgb(204, 230, 255);
          //color: #0f61bb;
        }

        @include modifier('green') {
          background: #d9ffba;
          //color: #0f61bb;
        }
      }

      @include element('dropdown') {
        @include element('button') {
          //border: 1px solid color($colors, 'primary');
          padding-left: 10px;
          padding-right: 10px;
          color: #000000;

          @include element('btf') {
            // text-align: left !important;
            border: 1px solid color($colors, 'primary');

            .button-inner {
              justify-content: left !important;
            }
          }

        }
      }

      @include element('color') {
        @include element('preview') {
          div {
            width: 40px;
            height: 25px;
            float: left;
            position: relative;
            top: -1px;
          }
        }

        @include element('name') {
          padding-left: 10px;
          margin-top: 1px;
          
          ion-icon {
            position: relative;
            bottom: -3px;
          }
        }

        button {
          color: #000000;
          border-radius: 0px;
          font-weight: bold;
          font-size: 1.5rem;
          border: 2px solid color($colors, 'primary');
          padding: 21px !important;
        }
      }

      @include element('qty') {
        display: block;
        width: 100%;
        margin-top: 5px;

        input[type=number] {
          width: 100%;
          font-weight: bold;
          text-align: center;
          line-height: 34px;
          border: none;

          &:disabled {
            background: #ffffff;
          }
        }
      }

      @include element('dt-select') {
        @include element('title') {
          font-weight: bold;
        }

        @include element('detail') {
          font-size: 1.4rem;
        }
      }
    }

    @include element('summary') {
      margin-top: 10px;

      @include element('title') {
        font-size: 1.5rem;
        font-weight: bold;
        color: #0000bb;
      }

      @include element('amount') {
        font-size: 1.5rem;
        font-weight: bold;
        padding-right: 0px;
      }
    }
  }

  ion-footer {
    //padding-top: 10px;
    ion-list {
      //min-height: 2rem !important;
      margin-top: 10px;

      &.list-ios {
        margin: 10px 0 10px !important;
      }
      
      ion-item {
        min-height: 2rem !important;

        ion-label {
          margin: 5px 8px 5px 0 !important;
        }
      }
    }
  }
}
