<ion-header>
  <ion-navbar>
    <ion-title>รายการของแถม</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="promotion__list" *ngIf="(!promotionHD.checkStepBySKU && freeGoods?.length > 0) || !promotionFG.length">
    <div class="promotion__list__header--blue">
      เลือกของแถม
    </div> 
    <ion-list no-lines *ngFor="let product of promotionFG">
      <ion-item text-wrap>
        <ion-label>
          {{ product.productName }}
          ({{ product.productFreeGoodsData.btf }})
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          ขนาด
        </ion-label>
        <ion-label ion-end text-right>
          <div *ngIf="product.editSize && product.editSize != undefined">
            <button ion-button clear right class="promotion__list__dropdown__button">
              <!-- {{ getIsSize(product)?.sizeName }}  -->
              <ion-icon name="md-arrow-dropdown"></ion-icon>
            </button>
          </div>
          <div *ngIf="!product.editSize || product.editSize == undefined">
            {{ product.productFreeGoodsData.sizeName }}
          </div> 
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label ion-start>
          สี / เบอร์ / รุ่น
        </ion-label>
        <ion-label ion-end text-right>
          <div *ngIf="product.editColor && product.editColor != undefined">
            <button ion-button clear right class="promotion__list__dropdown__button" (click)="openModalColor(product)">
              <ul class="list-inline">
                <li class="promotion__list__color__preview" *ngIf="getIsColorFreeGoods(product)?.rgbCode">
                  <div [style.background-color]="'rgb(' + getIsColorFreeGoods(product)?.rgbCode + ')'" [style.border]="'1px solid'">
                  </div>
                </li>
                <li class="promotion__list__color__preview" *ngIf="!getIsColorFreeGoods(product)?.rgbCode">
                  <img src="./assets/imgs/eOrdering/no-color.png" [style.border]="'1px solid'">
                </li>
                <li class="promotion__list__color__name">
                  {{ getIsColorFreeGoods(product)?.colorCode }} 
                  <ion-icon name="md-arrow-dropdown"></ion-icon>
                </li>
              </ul>
            </button>
          </div>
          <div *ngIf="!product.editColor && product.format != 'SKU'">
            <ul class="list-inline">
              <li class="promotion__list__color__preview" *ngIf="product.productFreeGoodsData.rgbCode">
                <div [style.background-color]="'rgb(' + product.productFreeGoodsData.rgbCode + ')'">
                </div>
              </li>
              <li class="promotion__list__color__preview" *ngIf="!product.productFreeGoodsData.rgbCode">
                <img src="./assets/imgs/eOrdering/no-color.png">
              </li>
              <li class="promotion__list__color__name">
                {{ product.productFreeGoodsData.colorCode }}
              </li>
            </ul>
          </div>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label ion-start>
          จำนวน <span class="text-red" *ngIf="promotionHD.checkStepBySKU">(ซื้อรวมแถม)</span>
        </ion-label>
        <ion-label ion-end class="promotion__list__qty">
          <ion-grid no-padding *ngIf="product.editQty">
            <ion-row>
              <ion-col col-12>
                <ion-grid no-padding>
                  <ion-row>
                    <ion-col offset-2 col-2 text-right>
                      <button ion-button block small (click)="decQty(product)">
                        <ion-icon name="remove"></ion-icon>
                      </button>
                    </ion-col>
                    <ion-col col-6 text-center>
                      <input type="number" [(ngModel)]="product.qty" (blur)="edtQty(product)">
                    </ion-col>
                    <ion-col col-2 text-left>
                      <button ion-button block small (click)="incQty(product)">
                        <ion-icon name="add"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div *ngIf="!product.editQty" text-right>
            {{ product.qty | number }}
          </div>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label ion-end text-right>
          <button ion-button full small color="secondary" (click)="addFreeGoods(product)" [disabled]="product.qty == 0">
            เลือก
          </button>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div class="text-red" style="padding: 0px 16px 16px 16px" *ngIf="promotionHD.numFreeGoods && (!promotionHD.checkStepBySKU && freeGoods?.length > 0)">
    หมายเหตุ​ : เลือกของแถมได้ <b>{{ promotionHD.numFreeGoods | number }}</b> รายการ
  </div>
  <div class="promotion__list" *ngIf="promotionFG.length && freeGoods.length > 0">
    <div class="promotion__list__header--green">
      รายการของแถม
    </div> 
    <ion-list no-lines *ngFor="let product of promotionFG_Sel">
      <ion-item text-wrap>
        <ion-label>
          {{ product.productFreeGoodsData.productCode }} 
          <span class="text-red">(ของแถม)</span>
          <br>
          {{ product.productFreeGoodsData.productNameTh }}
          ({{ product.productFreeGoodsData.btf }}) 
        </ion-label>
      </ion-item>
      <ion-item class="promotion__list__dt-select">
        <ion-grid>
          <ion-row>
            <ion-col col-4 text-center>
              <div class="promotion__list__dt-select__title">
                จำนวนแถม
              </div>
              <div class="promotion__list__dt-select__detail">
                {{ product.qty }}
              </div>
            </ion-col>
            <ion-col col-4 text-center>
              <div class="promotion__list__dt-select__title">
                หน่วย
              </div>
              <div class="promotion__list__dt-select__detail">
                {{ product.productFreeGoodsData.unitNameTh }}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item *ngIf="!promotionHD.checkStepBySKU">
        <ion-label ion-end text-right>
          <button ion-button full small color="danger" (click)="delFreeGoods(product)">
            ลบ
          </button>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer mode="md">
  <ion-list no-lines class="promotion__summary">
    <ion-item>
      <ion-label ion-start class="promotion__summary__title">
        จำนวนแถมทั้งหมด
      </ion-label>
      <ion-label ion-end text-right class="promotion__summary__amount">
        {{ getTotalQty() | number }}
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full text-center no-margin full color="secondary" mode="ios" (click)="goBack()">
          ย้อนกลับ
        </button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button full text-center no-margin full color="orange" mode="ios" (click)="addCart()" [disabled]="btnLoading || !promotionFG_Sel.length">
          <span *ngIf="btnLoading">
            <ion-spinner name="dots"></ion-spinner>
          </span>
          <span *ngIf="!btnLoading">
            หยิบใส่ตะกร้า
          </span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
