$tp-color:#ffffff;
$tp-color-l:rgba(46, 50, 61, 0.12941176470588237);
$tp-icon-color: #ffffff ;
$tp-content-color:#17181a;
$tp-font-color:#ffffff;

page-ep-product-brand-list {
    .pc-icon-home{
        position: absolute;
        float: left;
    }
    .ep-logo-home{
        width: 150px;
        margin-top: 5px;
    }
    .toolbar{
        padding-top: 0px !important;
    }
    .toolbar-background {
        background-color: #ef6c00!important;
    }
    .back-button {
        color: #ffffff;
    }
    .toolbar-title {
        color: #ffffff;
    }
    .content {
        ion-grid{
            ion-row{
                ion-col{
                    ion-card{
                        margin: 0px;
                        width: 100%;
                    }
                }
            }
        }
        background: $tp-color;
        .scroll-content{
            .list{
            .item{
                // background: $tp-color;
                // color: $tp-content-color;
                // border-bottom: 1px solid #17181a;
            .item-inner{
                border: none !important;
            }
            }
         }
        }
    }
    
    .header-md::after {
        background-image: none;
    }
    .header-ios {
        margin-top: 0px;
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios {
        border-width: 0px !important;
    }

    .toolbar-md {
        padding: 4px;
    }

    ion-content {
        background-color: $tp-color !important;
    }

    .scroll-content {
        // padding: 2px !important;
        
    }

    ion-buttons[start] {
        button {
            width: 100% !important;
        }
        ion-icon {
            position: absolute !important;
            font-size: 26px !important;
            left: 0px;
            margin-left: 24px;
            color: $tp-icon-color !important;
        }
        .menu-left-text {
            font-size: 14px !important;
            color: $tp-icon-color !important;
            margin-top: 40px;
            z-index: 999;
        }
    }
    ion-buttons[end] {
        button {
            width: 100% !important;
        }
        ion-icon {
            position: absolute !important;
            font-size: 26px !important;
            color: $tp-icon-color !important;
        }
        .menu-right-text {
            font-size: 14px !important;
            color: $tp-icon-color !important;
            margin-top: 40px;
            z-index: 999;
        }
    }

    ion-card{
        border-color: #17181a;
        color: #ef6c00;
    }

    .list {
        .label {
            white-space: inherit !important;
            // height: 50px;
        }
        .name {
            color: $tp-font-color;
        }
        .size {
            color: $tp-font-color;
            // font-weight: 600;
            
        }
        .arrow-next {
            color: $tp-font-color;
        }
        img {
            object-fit: cover;
        }        

    }

    .product-name {
        font-size: 2.5rem;
        color: $tp-font-color;
    }
    
}