<ion-header>
    <ion-navbar hideBackButton="true">
      <ion-buttons start class="pc-icon-home">
        <button ion-button icon-only (click)="gotoEPHome()">
          <ion-icon name="home"></ion-icon>
          <span class="menu-left-text" text-center>กลับหน้าหลัก</span>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-only (click)="gotoCart()">
          <ion-icon name="cart"></ion-icon>
          <span class="menu-right-text">รายการแลกฝา</span>
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>
  
  <ion-content fullscreen no-padding>

      <!-- <ion-list>
          <ion-item *ngFor="let item of products" (click)="onSelectProductBrand(item)">
            <ion-thumbnail item-start>
              <img [src]="item.imagefullpath" alt="image">
            </ion-thumbnail>
            <p class="product-name">
              <b>{{ item.branddesc }}</b>
            </p>
            <button ion-button icon-only clear item-end>
              <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
            </button>
          </ion-item>
        </ion-list> -->

        <ion-grid>
            <ion-row >
              <ion-col no-padding col-6 *ngFor="let item of products" (click)="onSelectProductBrand(item)">
                <ion-card no-padding>
                    <img [src]="item.imagefullpath" onerror="this.src='assets/imgs/ePocket/noImage.jpeg'" alt="image">
                </ion-card>
              </ion-col>
            </ion-row>
        </ion-grid>
  
    <!-- <ion-slides pager>
      <ion-slide *ngFor="let slide of slides">
        <ion-grid>
          <ion-row>
            <ion-col class="col-dynamic" col-4 text-center *ngFor="let item of productBrand" (click)="onSelectedBrand(item)">
              <ion-card no-padding>
                <img src="{{ item.brandcode }}" alt="imageErr">
                <ion-card-content>
                  <p class="brand-name">
                    <b>{{item.branddesc}}</b>
                  </p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides> -->
  
  </ion-content>
  