page-eo-profile-update {
  @include eoHeader;

  .label-ios[stacked] {
    margin-top: 2px !important;
  }

  .label-md[stacked] {
    margin-top: 2px !important;
  }
  
  @include block('profile') {
    @include element('header') {
      margin-top: 20px;

      @include element('image') {
        text-align: center;
        margin: 15px auto;
        border-radius: 50%;
        border: 1px solid color($colors, 'primary') !important;
        width: 130px;
        height: 130px;

        img {
          width: 90px;
          margin-top: 14px;
        }
      }

      @include element('code') {
        font-size: 1.7rem;
        font-weight: bold;
        text-align: center;
      }

      @include element('name') {
        font-size: 1.45rem;
        text-align: center;
      }
    }
  }
  
  ion-list {
    margin: 16px !important;
    border: 1px solid #ddd !important;

    ion-item {

      &:first-child {
        //padding-top: 5px;
      }

      &:last-child {
        padding-bottom: 10px;
      }
      padding-left: 0px !important;
      font-size: 1.48rem !important;
      min-height: 3.7rem !important;

      .item-inner {
        padding-top: 10px;
        padding-left: 8px !important;
        box-shadow: none !important;
        border: none !important;
      }
    }
  
    // ion-label {
    //   overflow: visible !important;
    //   color: #000000 !important;
    //   margin: 5px !important;
    // }

    ion-input, ion-textarea {
      color: color($colors, 'primary') !important;
      font-size: 1.4rem;
      margin: 0px !important
    }

    ion-input {
      input {
        width: 100%;
        margin: 0px !important;
      }
    }
  
    ion-textarea {
      textarea {
        margin: 0px !important;
        width: 100% !important;
      }
    }

    .text {
      color: #989898 !important;
      font-size: 1.4rem;
    }
  }
}
