<ion-header>
  <ion-navbar>
    <ion-title>แจ้งเปลี่ยนแปลงข้อมูล</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="profile__header">
    <div class=profile__header__code>
      {{ customerInfo.customerCode }}
    </div>
    <div class=profile__header__name>
      {{ customerInfo.customerName }}
    </div>
  </div>
  
  <form [formGroup]="form" (ngSubmit)="updateProfile(form.value)" autocomplete="off" #Form="ngForm">
    <ion-list>
      <ion-item>
        <ion-label stacked>
          ที่อยู่/เลขที่
        </ion-label>
        <ion-textarea formControlName="address"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label stacked>
          ถนน
        </ion-label>
        <ion-input formControlName="street"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>
          ตำบล/แขวง
        </ion-label>
        <ion-input formControlName="subDistrictName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>
          อำเภอ/เขต
        </ion-label>
        <ion-input formControlName="districtName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>
          จังหวัด
        </ion-label>
        <ion-input formControlName="cityName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>
          รหัสไปรษณีย์
        </ion-label>
        <ion-input formControlName="postCode"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>
          เบอร์โทรศัพท์, เบอร์มือถือ
        </ion-label>
        <ion-input formControlName="telNo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>
          อีเมล
        </ion-label>
        <ion-input formControlName="eMail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>
          เบอร์โทรศัพท์, เบอร์มือถือ (e-Ordering)
        </ion-label>
        <ion-input formControlName="mobileDC"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>
          อีเมล (e-Ordering)
        </ion-label>
        <ion-input formControlName="customerEmailDC"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>
          จัดส่ง
        </ion-label>
        <ion-input [value]="customerInfo.transportZoneDesc"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-grid no-padding>
      <ion-row no-padding>
        <ion-col col-6 no-padding>
          <button ion-button full no-margin mode="ios" color="light" (click)="gotoHome()">
            กลับสู่หน้าหลัก
          </button>
        </ion-col>
        <ion-col col-6 no-padding>
          <button ion-button full no-margin mode="ios" [disabled]="!form.valid || btnLoading" (click)="Form.ngSubmit.emit()">
            <span *ngIf="btnLoading">
              <ion-spinner name="dots"></ion-spinner>
            </span>
            <span *ngIf="!btnLoading">
              ส่ง
            </span>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>