page-eo-store {
  @include eoHeader;

  .infinite-loading {
    margin-bottom: 0px !important;
  }

  ion-avatar {
    img {
      border-radius: 0px !important;
    }
  }

  ion-list {
    padding: 0px !important;
  }
  
  @include block('store') {        
    @include element('code') {
      font-weight: bold;
      font-size: 1.500rem;
    }

    @include element('name') {
      font-size: 1.450rem;
    }
  }
}
