<ion-header>
  <ion-navbar>
    <ion-title>ร้านค้าบนระบบ</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="gotoDC()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="search" placeholder="ค้นหา"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="store">
  <ion-list padding no-lines>
    <ion-item *ngFor="let customer of customers | filterBy: ['customerCode', 'customerName']: search | slice: 0 : slice" (click)="selectedCustomer(customer)">
      <ion-avatar item-start>
        <!-- <img src="assets/imgs/eordering/store-bg.png"> -->
        <img src="./assets/imgs/eOrdering/store-bg.png">
      </ion-avatar>
      <div text-wrap>
        <div class="store__code">
          {{ customer.customerCode }}
        </div>
        <div class="store__name">
          {{ customer.customerName }}
        </div>
      </div>
    </ion-item>
    <ion-item text-center *ngIf="(customers | filterBy: ['customerCode', 'customerName']: search)?.length == 0">
      ไม่พบข้อมูล
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content loadingText="กำลังโหลด"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>