page-eo-size {
  @include eoHeader;

  ion-list {
    margin-bottom: 0 !important;

    button {
      padding-left: 0px !important;

      .item-inner {
        padding-left: 10px !important;
        padding-right: 0px !important;
      }
    }
  }
}
