<ion-header>
  <ion-navbar>
    <ion-title>เลือกขนาด</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <button ion-item *ngFor="let size of sizes | orderBy: 'sizeCode' | unique: 'sizeCode'" (click)="selectSize(size)">
      {{ size.sizeName }}
    </button>
  </ion-list>
</ion-content>
