<!--
  Generated template for the EpDealerHistoryInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>รายละเอียดการแลกฝา</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item class="caption">
    <span>เบอร์โทรศัพท์ช่าง :</span>
    <span class="result">{{ (HistoryHD.mobileno === '9999999999') ? ' ไม่ระบุ ' : HistoryHD.mobileno}}</span>
  </ion-item>
  <ion-item class="caption">
    <span>ชื่อช่าง :</span>
    <span class="result">{{HistoryHD.paintername}}</span>
  </ion-item>
  <ion-item class="caption">
    <span>จำนวนฝารวม (ฝา) :</span>
    <span class="result">{{HistoryHD.qty | number: '1.0-0'}}</span>
  </ion-item>
  <ion-item class="caption">
    <span>จำนวนเงินรวม (บาท) :</span>
    <span class="result">{{HistoryHD.totalamount | number: '1.0-0'}}</span>
  </ion-item>

  <ion-list no-lines class="toplist">
    <ion-item>
      <h2>
        <span class="nametxt">จำนวนรายการทั้งหมด </span>
        <span class="nameresult">{{ HistoryInfo?.length }}</span>
        <span class="nametxt"> รายการ</span>
      </h2>
    </ion-item>
    <ion-item *ngFor="let item of HistoryInfo">
      <ion-thumbnail item-start>
        <!-- <img src='./assets/icon/ePocket_icon/Coin20.png' class="img-icon"> -->
        <img class="" [src]="item.imagefullpath">
      </ion-thumbnail>
      <p class="nametxt">ประเภทฝา :
        <span class="nameresult">{{ item.cointypename }}</span>
      </p>
      <p class="nametxt">ราคาแลกต่อฝา :
        <span class="nameresult">{{ item.valuer }}</span>
      </p>
      <p class="nametxt">จำนวน :
        <span class="nameresult">{{ item.qty }}</span>
        <span> ฝา</span>
      </p>
      <p class="nametxt">ยอด : 
        <span class="nameresult">{{ item.amout | number: '1.0-0' }}</span>
        <span> บาท</span>
      </p>

      <!-- <ion-row>
        <ion-col class="nametxt" col-5>เบอร์โทรช่าง :</ion-col>
        <ion-col class="nametxt" col-6>{{ item.mobileno }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="nametxt" col-8>จำนวนเหรียญที่แลกรวม :</ion-col>
        <ion-col class="nametxt" col-4>{{ item.qty }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="nametxt" col-4>ยอดแลกรวม :</ion-col>
        <ion-col class="nametxt" col-6>{{ item.totalamount | number: '1.2-2' }}</ion-col>
      </ion-row> -->

    </ion-item>
  </ion-list>

</ion-content>
