$tp-color:#2e323d;
$tp-color-l:rgba(46, 50, 61, 0.12941176470588237);
$tp-icon-color: #ffffff ;
$tp-content-color:#17181a;
$tp-font-color:#ffffff;

page-ep-dealer-news {
    ion-list{
        ion-item{
          border-top: none;
      }
        }  
  .toolbar{
      padding-top: 0px !important;
  }
  .toolbar-background {
      background-color: #ef6c00!important;
  }
  .back-button {
      color: #ffffff;
  }
  .toolbar-title {
      color: #ffffff;
  }
  .content {
      background: #17181a;
      .scroll-content{
          
          .list{
          .item{
              background: #363636;
              color: $tp-content-color;
              border-bottom: 1px solid #17181a;
          .item-inner{
              border: none !important;
          }
          }
      }
      }
  }

  .header-md::after {
      background-image: none;
  }
  .header-ios {
      margin-top: 0px;
  }
  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
      border-width: 0px !important;
  }

  .toolbar-md {
      padding: 4px;
  }

  ion-content {
      background-color: $tp-content-color !important;
  }

  .scroll-content {
      padding: 2px !important;
      //overflow: hidden !important;
  }

.list {
  .label {
    white-space: inherit !important;
  }
  img {
      object-fit: cover;
  }
}

  .SubjectName{
    color: #ef6c00;
  }

  .DateText{
    color: $tp-font-color;
    font-size: 14px;
  }


}
