<ion-header>

  <ion-navbar>
    <ion-title>ข่าวสารและกิจกรรม</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
      <ion-item *ngFor="let item of HistoryHD" (click)="onSelected(item.id)">
        <ion-thumbnail item-start>
          <img [src]="item.thumbnailpicture" onerror="this.src='./assets/imgs/noimg.jpg'">
        </ion-thumbnail>
        <ion-row class="SubjectName">
          <span><h2>{{item.subject}}</h2></span>
        </ion-row>
        <ion-row class="DateText">
          <span>{{item.datefrom}}</span>
        </ion-row>

        <button ion-button icon-only clear item-end>
            <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
</ion-content>
