<ion-header>
  <ion-navbar>
    <ion-title>เปลี่ยนรหัสผ่าน</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="changePassword(form.value)" autocomplete="off" #Form="ngForm">
    <ion-list>
      <ion-item>
        <ion-label floating>
          <span style="color:red">*</span>
          รหัสผ่านเก่า
        </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>
          <span style="color:red">*</span>
          รหัสผ่านใหม่
          <!--<span [hidden]="!newpassword.hasError('pattern')" style="color: red;">-->
            <!--รูปแบบรหัสผ่านไม่ถูกต้อง-->
          <!--</span>-->
        </ion-label>
        <ion-input type="password" formControlName="newpassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>
          <span style="color:red">*</span>
          ยืนยันรหัสผ่านใหม่
        </ion-label>
        <ion-input type="password" formControlName="newpassconf"></ion-input>
      </ion-item>
      <div padding class="text-red" style="padding-bottom: 0px" *ngIf="form.value.newpassword != '' && form.controls.newpassconf.errors?.MatchPassword">
        รหัสผ่านทั้งสองไม่เหมือนกัน
      </div>
    </ion-list>
    <div style="font-size: 1.5rem; font-weight: bold; padding-left: 16px;">
      เงื่อนไขการตั้งรหัสผ่าน
    </div> 
    <ol style="margin-left: 16px; padding-left: 16px;">
      <li>
        ต้องมีความยาว
        <span style="color: green;">
          ไม่ต่ำกว่า 8 ตัวอักษร
        </span>
      </li>
      <li>
        ต้องมีตัวอักษร
        <span style="color: green;">
          ตัวพิมพ์ใหญ่
        </span>
        อย่างน้อย 1 ตัว
      </li>
      <li>
        ต้องมีตัวอักษร
        <span style="color: green;">
          ตัวพิมพ์เล็ก
        </span>
        อย่างน้อย 1 ตัว
      </li>
      <li>
        ต้องมี
        <span style="color: green;">
          ตัวเลข
        </span>
        อย่างน้อย 1 ตัว
      </li>
    </ol>
  </form>
</ion-content>

<ion-footer>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full no-margin mode="ios" color="light" (click)="gotoHome()">
          กลับสู่หน้าหลัก
        </button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button full no-margin mode="ios" [disabled]="!form.valid || btnLoading" (click)="Form.ngSubmit.emit()">
          <span *ngIf="btnLoading">
            <ion-spinner name="dots"></ion-spinner>
          </span>
          <span *ngIf="!btnLoading">
            ส่ง
          </span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>