<ion-header>
  <ion-navbar>
    <ion-title>
      รายงาน
    </ion-title>
  </ion-navbar>
  <ion-label class="sub-title">รายงานแบรนด์ที่แลกฝา</ion-label>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6 text-center>ระบุวันที่เริ่มต้น</ion-col>
      <ion-col col-6 text-center>ระบุวันที่สิ้นสุด</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button ion-button large full color="secondary" (click)="openStartDate()">
          <ion-icon ios="ios-calendar" md="md-calendar" item-start> </ion-icon>
          <span>&nbsp; {{ startDate | date: 'dd-MM-yyyy' }}</span>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button large full color="secondary" (click)="openEndDate()">
          <ion-icon ios="ios-calendar" md="md-calendar" item-start> </ion-icon>
          <span>&nbsp; {{ endDate | date: 'dd-MM-yyyy' }}</span>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <button ion-button large full (click)="fatchData()">
          <span>ค้นหาข้อมูล &nbsp;</span>
          <ion-icon ios="ios-search" md="md-search"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list class="accordion-list">
    <!-- First Level -->
    <ion-list-header *ngFor="let item of DataReport; let i = index" no-lines no-padding>
      <!-- Toggle Button -->
      <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <ion-icon item-left class="txt-orange" name="arrow-forward" *ngIf="!item.open"></ion-icon>
        <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
        {{ item.btfsdesc }}
      </button>

      <ion-list *ngIf="item.details && item.open" no-lines>
        <!-- Second Level -->
        <ion-list-header *ngFor="let child of item.details; let j = index" no-padding>
          <!-- Direct Add Button as Fallback -->
          <ion-item *ngIf="!child.details" ion-item detail-none class="child-item" text-wrap>
            <p text-lowercase class="txt-orange">มูลค่าฝา :
              <span class="txt-white">{{child.cointypename}}</span>
            </p>
            <p text-lowercase class="txt-orange">จำนวนฝา :
              <span class="txt-white">{{ child.dealerqty }}</span>
            </p>
            <p text-lowercase class="txt-orange">จำนวนเงิน :
              <span class="txt-white">{{ child.ramount }}</span>
            </p>
          </ion-item>
        </ion-list-header>
      </ion-list>
    </ion-list-header>
  </ion-list>
</ion-content>

<ion-footer no-padding>
  <ion-toolbar no-padding class="footer-toolbar">
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full large color="danger" (click)="cancel()">ยกเลิก</button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button full large color="primary" (click)="downloadCSV()">Export</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>