progress-bar {

  @include block('progress-outer') {
    width: 100%;
    //margin: 10px 2%;
    padding: 3px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 20px;

    @include element('progress-inner') {
      font-size: 1.1rem;
      min-width: 15%;
      white-space: nowrap;
      overflow: hidden;
      padding: 5px;
      border-radius: 20px;
      //background-color: map-get($colors, primary);
    }
  }
}
