<!-- <ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons start>
      <button ion-button icon-only (click)="gotoDCHOME()">
        <ion-icon name="home" ></ion-icon>
        <span class="menu-left-text">DEALER CONNECT</span>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="person"></ion-icon>
        <span class="menu-right-text">PROFILE</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>

  <div>
    <ion-grid>
      <ion-row class="row-landscape">
        <ion-col class="col-landscape" col-6 text-center *ngFor="let menu of tpMenu" (click)="onSelected(menu.action)">
          <div class="bg-layout">
            <img src="{{ menu.icon }}" class="sub-image">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content> -->



<ion-header no-border>
    <ion-navbar text-center transparent hideBackButton="true" >
      <ion-buttons end class="pc-icon-home">
        <button ion-button icon-only (click)="gotoDCHOME()">
          <ion-icon name="home" ></ion-icon>
          <span class="menu-right-text">DEALER CONNECT</span>
        </button>
      </ion-buttons>
      <img src="./assets/icon/ePocket_icon/LogoEpocket.png" class="ep-logo-home">
    </ion-navbar>
  </ion-header>
  
  <ion-content no-bounce fullscreen padding>  
      <ion-grid>
        <ion-row>
          <ion-col col-6 text-center *ngFor="let menu of tpMenu" (click)="onSelected(menu.action)">
            <img src="{{ menu.icon }}" class="sub-image">
            <h2 *ngIf="menu.action == 'CoinStock' && DealerCount != 0 hidden">
                <ion-badge id="notifications-badge" color="danger" class="badgeCustom">{{DealerCount}}</ion-badge>
            </h2> 
            <h2 *ngIf="menu.action == 'SaleConfirmAR' && SumReceiveCoin != 0 hidden">
              <ion-badge id="notifications-badge" color="danger" class="badgeCustom">{{SumReceiveCoin}}</ion-badge>
          </h2> 
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-content>
  
