<!-- <ion-header>

  <ion-navbar>
    <ion-title>EPConfirmPhoneNo</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content fullscreen padding>
  <ion-grid class="grid-pin">
    <ion-row>
      <ion-col col-12 text-center>
        <h4 class="header">ระบุเบอร์โทรศัพท์ช่าง</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 text-center>
        <h1 class="header number">{{numberText}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4 text-right>
        <button ion-item class="btn-pin" outline color="guard-outline" (click)="selectedNumber('1')">1</button>
      </ion-col>
      <ion-col col-4 text-center>
        <button ion-item class="btn-pin" outline color="guard-outline" (click)="selectedNumber('2')">2</button>
      </ion-col>
      <ion-col col-4 text-left>
        <button ion-item class="btn-pin" outline color="guard-outline" (click)="selectedNumber('3')">3</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4 text-right>
        <button ion-item class="btn-pin" outline color="guard-outline" (click)="selectedNumber('4')">4</button>
      </ion-col>
      <ion-col col-4 text-center>
        <button ion-item class="btn-pin" outline color="guard-outline" (click)="selectedNumber('5')">5</button>
      </ion-col>
      <ion-col col-4 text-left>
        <button ion-item class="btn-pin" outline color="guard-outline" (click)="selectedNumber('6')">6</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4 text-right>
        <button ion-item class="btn-pin" outline color="guard-outline" (click)="selectedNumber('7')">7</button>
      </ion-col>
      <ion-col col-4 text-center>
        <button ion-item class="btn-pin" outline color="guard-outline" (click)="selectedNumber('8')">8</button>
      </ion-col>
      <ion-col col-4 text-left>
        <button ion-item class="btn-pin" outline color="guard-outline" (click)="selectedNumber('9')">9</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4 text-right>
        <button ion-item class="btn-pin btn-skip" outline color="guard-outline" (click)="selectedNumber('skip')">ข้าม</button>
      </ion-col>
      <ion-col col-4 text-center>
        <button ion-item class="btn-pin" outline color="guard-outline" (click)="selectedNumber('0')">0</button>
      </ion-col>
      <ion-col col-4 text-left>
        <button ion-item clear class="btn-pin clear" color="guard-outline" (click)="selectedNumber('delete')">
          <ion-icon name="md-backspace"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row class="action">
      <ion-col col-6>
        <button ion-button block clear color="light" (click)="cancel()">ยกเลิก</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block round class="btn-custom" (click)="onSave()" mode="ios">บันทึก</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
