$tp-color:#2e323d;
$tp-color-l:rgba(46, 50, 61, 0.12941176470588237);
$tp-icon-color: #ff9900 ;
$tp-content-color:#ffffff;
$tp-font-color:#ffffff ;
page-ep-confirm-phone-no {

    ion-content{
        background-image: url('../assets/icon/ePocket_icon/EPBG.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .grid{
        margin-top: 30px;
    }

    .grid-pin {
        height: 100%;
        justify-content: space-evenly;
        padding-top: 16vw;
        padding-bottom: 10vw;
    }
    .pin-row{
        height: 100px;
    }

    .btn-pin {
        border-radius: 100%;
        border: 1px solid;
        font-size: 200% !important;
        height: 80px !important;
        width: 80px !important;
        background-color: transparent;
        color: #ffffff;
        text-align: center;
        display: inline-block;
        margin: 10px 0px;
        .label {
            margin: 0px !important;
            padding: 20px;
            border-radius: 50%;
        }
    }
    .btn-skip{
        .label {
            margin: 0px !important;
            padding: 0px;
        }
    }
    .clear {
        border: none !important;
    }
    ion-row {
        background-color: transparent !important;
    }
    .pin-text {
        font-size: 200% !important;
        color: $tp-color;
        padding: 0px;
    }
    .item {
        padding-left: 0px !important;
    }
    .item-inner {
        padding: 0px !important;
        border-bottom: none !important;
        background-image: none !important;
    }
    .button-inner {
        text-align: center !important;
        display: inline-flex;
    }
    .header {
        color: $tp-font-color;
        //margin-top: -4px;
        //min-height: 30px;
    }
    .number {
        //padding: 6px;
        //margin-top: -8px;
        //min-height: 50px;
        //background-color: #3c404c;
    }
    .action {
        padding-top: 30px;
    }
    .btn-custom {
        background-color: $tp-color-btn;
    }
    .button-md.activated {
        background-color: $tp-color-btn !important;
    }
    @media only screen and (orientation: landscape) {
        .grid-pin {
            height: auto;
            padding-top: 4vw;
            padding-bottom: 4vw;
        }
    }
}

.alertCustomCss {
    color: dark;
    .alert-head {
        color: $tp-color-btn;
    }
    .alert-message {
        color: dark;
    }
    .alert-wrapper {
        background-color: color($colors, light, base);
    }
}