page-eo-order-list {
  @include eoHeader;

  .label-ios {
    margin: 8px 8px 8px 0 !important;
    font-size: 1.4rem !important;
  }

  .infinite-loading {
    margin-bottom: 0px !important;
  }

  .select {
    padding: 10px 8px 10px 16px !important;
  }
  
  @include block('filter') {
    ion-input {
      input {
        border: 2px solid #00acec;
        padding: 12px 10px;
        margin-right: 0px;
        width:  100% !important;
        margin: 0px !important;
      }
    }

    ion-select {
      border: 2px solid #00acec;
      max-width: 100% !important;

      .select-icon {
        margin-right: 10px;
      }
    }
  }

  @include block('order') {
    @include element('item') {
      @include element('title') {
        background-color: color($colors, primary) !important;
        color: #ffffff;
      }
    }
  }

  .primary-bg {
    background-color: color($colors, primary) !important;
  }

  .card {
    margin-top: 0px !important;
    background: #FFF;
    border-radius: 1rem;
    //box-shadow: 0 0 1px rgba(86, 61, 124, 0.2), 0 2px 4px rgba(86, 61, 124, 0.15);
  }

  .round {
    border-radius: 1rem;
    overflow: hidden;
  }

  .text-white {
    color: #fff;
  }

  .billing {
    button {
      font-size: 2.6rem !important;
      padding: 0px !important;
      margin-left: 3px;
    }

    table {
      font-size: 1.4rem;

      thead {
        tr {
          th {
            padding: 3px;
            text-align: center;
            border-bottom: 2px solid #cccccc;
          }
        }
      }

      tbody {
        tr {
          td {
            padding: 2px 3px;
            text-align: center;
          }
        }
      }
    }
  }
}
