<ion-header>
  <ion-navbar>
    <ion-title>
      {{ month.year}} {{ month.monthNameTH }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid class="filter">
    <ion-row>
      <ion-col col-12>
        <ion-input type="text" [(ngModel)]="search" placeholder="ค้นหาเลขที่ใบสั่งซื้อ/เอกสาร"></ion-input>
      </ion-col>
      <ion-col col-12>
        <ion-select [(ngModel)]="status" [selectOptions]="{'title': 'สถานะ'}" cancelText="ยกเลิก" okText="เลือก">
          <ion-option value="" selected>All</ion-option>
          <ion-option value="CP">Complete</ion-option>
          <ion-option value="CC">Cancel</ion-option>
          <ion-option value="IP">In Progress</ion-option>
          <ion-option value="WT">Waiting</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card *ngFor="let order of orders | orderFilter: search : status | orderBy: '-createDate'" class="order__item">
    <!--<div class="card round" margin-top>-->
      <!---->
    <!--</div>-->
    <ion-card-header class="order__item__title">
      <strong>{{ order.createDate | date: 'dd/MM/yyyy H:mm' }}</strong>
    </ion-card-header>
    <!--<ion-list no-margin>-->
      <!--<ion-item class="primary-bg">-->
        <!--<h2 ion-text class="text-white">-->
          <!--<strong>{{ order.createDate | date: 'dd/MM/yyyy H:mm' }}</strong>-->
        <!--</h2>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
    <ion-list>
      <ion-item>
        ผู้ดำเนินการ
        <span item-end>
            {{ order.createUser }}
          </span>
      </ion-item>
      <ion-item>
        เลขที่ใบสั่งซื้อ
        <span item-end [style.color]="'#488aff'" (click)="openPdf('I', order)">
          <b>{{ order.docNumber }}</b>
        </span>
      </ion-item>
      <ion-item>
        จำนวนเงินสุทธิ <br>
        <span class="text-red">*</span> (ไม่รวม VAT )
        <span item-end>
          {{ order.netAmount | number: '1.2-2' }}
        </span>
      </ion-item>
      <ion-item>
        เลขที่เอกสาร <br> (หลังหักส่วนลด)
        <span item-end *ngIf="order.salesOrderNumber != ''" [style.color]="'#488aff'" (click)="openPdf('D', order)">
          <b>{{ order.salesOrderNumber }}</b>
        </span>
        <span item-end *ngIf="order.salesOrderNumber == ''">
          -
        </span>
      </ion-item>
      <ion-item>
        สถานะสั่งซื้อ
        <span item-end style="width: 160px;" *ngIf="(order.percentComplete > 0) && (order.percentComplete != 100) && (order.rejectHStatus != 'C')">
            <progress-bar [mode]="'PROCESS'"
                          [text]="order.percentComplete + '%'"
                          [color]="'#f39c12'"
                          [progress]="order.percentComplete"
                          (click)="openPdf('S', order)">
            </progress-bar>
          </span>
        <span item-end style="width: 160px;" *ngIf="(order.percentComplete == 0) && (order.rejectHStatus != 'C')">
            <progress-bar [mode]="'WAIT'"
                          [text]="'0%'"
                          [color]="'#a7a7a7'"
                          [progress]="100"
                          (click)="openPdf('S', order)">
            </progress-bar>
          </span>
        <span item-end style="width: 160px;" *ngIf="(order.percentComplete == 100) && (order.rejectHStatus == 'A')">
            <progress-bar [mode]="'COMPLETED'"
                          [text]="'Completed'"
                          [color]="'#2ecc71'"
                          [progress]="100"
                          (click)="openPdf('S', order)">
            </progress-bar>
          </span>
        <span item-end style="width: 160px;" *ngIf="(order.percentComplete == 0) && (order.rejectHStatus == 'C')">
            <progress-bar [mode]="'CANCELLED'"
                          [text]="'Cancelled'"
                          [color]="'#e74c3c'"
                          [progress]="100"
                          (click)="openPdf('S', order)">
            </progress-bar>
          </span>
      </ion-item>
      <ion-item *ngIf="order.salesOrderNumber != ''">
        Order / Bill Tracking
        <span item-end class="billing">
          <!-- <b>{{ order.salesOrderNumber }}</b> -->
          <div style="display: block; text-align: right;">
            <button ion-button clear (click)="openPdf('B', order)">
              <ion-icon name="md-paper"></ion-icon>
            </button>
            <button ion-button clear (click)="showBilling(order)">
              <ion-icon name="md-paper" style="color: #f57c00 !important"></ion-icon>
            </button>
          </div>
          <table *ngIf="order.showBilling" style="margin-top: 5px;">
            <thead>
              <tr>
                <th>
                  Billing No.
                </th>
                <th>
                  TAX No.
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let billing of order.orderHistoryHeader">
                <td>
                  {{ billing.billno }}
                </td>
                <td>
                  {{ billing.taxNum }}
                </td>
              </tr>
            </tbody>
          </table>
        </span>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
