<ion-header no-border mode="md">
  <ion-navbar>
    <ion-title text-center>โปรโมชั่น</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let promotion of promotions">
    <div class="promotion__image">
      <img [src]="config.partImgProduct + '/ProductDetail/' + btfInfo.btfWeb + '.jpg'">
    </div>
    <div class="promotion__content" [innerHtml]="promotion.promotionDesc | safe: 'html'">
    </div>
    <div class="promotion__remark">
      หมายเหตุ : บริษัท ฯ​ ขอสงวนสิทธิในการเปลี่ยนแปลงรายการ <br>
      โดยมิต้องแจ้งให้ทราบล่วงหน้าตลอดจนความผิดพลาดที่เกิดจากการพิมพ์
    </div> 
    <!--
    <div class="close">
      <button ion-button clear (click)="close()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </div>
    -->
  </div> 
</ion-content>
