page-eo-product-promotion-info {
  .scroll-content {
    overflow-x: scroll !important;
  }

  @include block('promotion') {
    @include element('image') {
      text-align: center;
      margin: 20px 0;

      img {
        width: 130px;
      }
    }

    @include element('content') {
      width: 600px;
    }

    @include element('remark') {
      font-size: 0.96rem;
      color: red;
    }
  }

  ion-header {
    .toolbar-background {
      background-color: color($colors, 'primary') !important;
      box-shadow: none !important;
    }
  }

  ion-navbar {
    .button-inner {
      color: #ffffff;
    }
  }

  
  ion-title {
    padding-right: 0px;
    position: relative;
    right: -20px;

    .toolbar-title {
      color: #ffffff !important;
    }
  }

  .toolbar-md {
    min-height: 45px !important;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    
    button {
      padding: 10px !important;
      font-size: 3rem;
      font-weight: bold;
      color: red;
    }
  }

  .scroll-content {
    padding-top: 0px !important;
  }
}
