<ion-header>
  <ion-navbar>
    <!-- <ion-title>คำขอสร้าง/แก้ไขข้อมูลทางบัญชี</ion-title> -->
    <ion-title>ข้อมูลส่วนตัว</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid class="grid-content">
    <ion-row padding class="row-content">
      <span class="tital-customer">{{ customerInfo.customerCode}} - {{ customerInfo.customerName}}</span>
      <span class="tital-profile">ข้อมูลทางบัญชี</span>
      <br/>
      <ion-col col-12>
        <h2 class="detail-amount">ชื่อบัญชี : {{ inputAccountName }}</h2>
      </ion-col>
      <ion-col col-12 text-center style="display: none">
        <ion-item>
          <ion-input type="text" [(ngModel)]="inputAccountName" placeholder="ชื่อบัญชี"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <h2 class="detail-amount">ธนาคาร : {{inputBankName}}</h2>
      </ion-col>
      <ion-col col-12 text-center style="display: none">
        <ion-item>
          <ion-textarea type="text" [(ngModel)]="inputBankName" (click)="BankSelect()" placeholder="Select One..."></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <h2 class="detail-amount">สาขา : {{inputBranch}} </h2>
      </ion-col>
      <ion-col col-12 text-center style="display: none">
        <ion-item>
          <ion-input type="text" [(ngModel)]="inputBranch" placeholder="สาขา"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <h2 class="detail-amount">เลขที่บัญชี : {{inputBankAccount}} </h2>
      </ion-col>
      <ion-col col-12 text-center style="display: none">
        <ion-item>
          <ion-input type="text" [(ngModel)]="inputBankAccount" placeholder="เลขที่บัญชี"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="grid-content">
    <ion-row padding class="row-content">
      <h1 class="tital-profile">ข้อมูลส่วนตัว</h1>
      <br/>
      <ion-col col-12>
        <h2 class="detail-amount">เลขประจำตัวผู้เสียภาษี : {{ inputTaxno }}</h2>
      </ion-col>
      <ion-col col-12>
        <h2 class="tital-profile" *ngIf="inputAddresstax == 'Waiting For Approve'  hidden">ที่อยู่ : {{inputAddresstax}}</h2>
        <h2 class="detail-amount" *ngIf="inputAddresstax != 'Waiting For Approve'  hidden">ที่อยู่ : {{inputAddresstax}}</h2>
      </ion-col>
      <ion-col col-12>
        <h2 class="detail-amount">เบอร์โทรศัพท์มือถือ : {{inputMobile}} </h2>
      </ion-col>
    </ion-row>
  </ion-grid>