$tp-color:#363636;
$tp-font-color:#ff9900;

page-ep-changeprofile-step4 {
  
  .toolbar-background {
      background-color: #ef6c00 !important;
      color: #ffffff;
      
  }
  .back-button {
      color: #ffffff;
  }
  .toolbar-title {
      color: #ffffff;
  }
  .content {
      background: #17181a;
  }
  .scroll-content {
      margin-bottom: 36px !important;
  }
  .grid-image {
      background-color: #ffffff;
      .image {
          width: 90%;
          border: 4px solid #2b2b2b;
          border-radius: 100%;
      }
  }
  .grid-content {
      // margin-top: 100px;
      .row-content {
          background-color: $tp-color;
          border-radius: 15px;
      }
      .detail-name {
          color: $tp-font-color;
      }
      .detail-size {
          text-align: center;
          color: $tp-color;
          // font-weight: 600;
          // font-size: 4em;
      }
      .item-inner {
          border-bottom: none !important;
          box-shadow: none !important;
      }
      .detail-amount {
          // text-align: center;
          color: rgb(255, 255, 255);
          font-size: 1.4em;
          margin: 0px;
      }
      .amount {
          font-size: 100%;
          color: $tp-font-color;
          font-size: 2em;
          // font-weight: 600;
      }
  }
  .footer-toolbar {
      padding: 0px !important;
      min-height: 0px !important;
      .toolbar-background {
          background-color: #ffffff !important;
      }
      button {
          margin: 0px !important;
      }
  }

  .alertCustomCss {
      color: dark;
      .alert-head {
          color: $tp-color-btn;
      }
      .alert-message {
          color: dark;
      }
      .alert-wrapper {
          background-color: color($colors, light, base);
      }
  }
  
  @media only screen and (max-device-width: 812px) and (orientation: landscape) {
      .image {
          width: 50% !important;
      }
  }
}


