<ion-header>
  <ion-navbar>
    <ion-title>ส่งคำขอแก้ไขข้อมูลส่วนตัว</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid class="grid-content">
      <ion-row padding class="row-content">
        <ion-col col-12>
          <h2 class="detail-amount">สำเนาหน้าสมุดบัญชี</h2>
        </ion-col>
        <ion-col col-12 text-left>
          <button ion-button color="primary" (click)="accessGalleryDoc1()">+ เพิ่มไฟล์</button>
          <button ion-button color="primary" (click)="clearGalleryDoc1()">ลบรูปภาพ</button>
          <img [src]="Doc1base64" *ngIf="Doc1base64" />
        </ion-col>
  
        <ion-col col-12>
          <h2 class="detail-amount">สำเนาบัตรประชาชน / หนังสือรับรองบริษัท</h2>
        </ion-col>
        <ion-col col-12 text-left>
          <button ion-button color="primary" (click)="accessGalleryDoc2()">+ เพิ่มไฟล์</button>
          <button ion-button color="primary" (click)="clearGalleryDoc2()">ลบรูปภาพ</button>
          <img [src]="Doc2base64" *ngIf="Doc2base64" />
        </ion-col>
  
      </ion-row>
    </ion-grid>

</ion-content>
<ion-footer no-padding>
  <ion-toolbar no-padding class="footer-toolbar">
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full large color="danger" (click)="back()">ย้อนกลับ</button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button full large color="primary" (click)="saveOnClick()">ตกลง</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
