eo-order {
  ion-list {
    margin-bottom: 0px !important;

    ion-icon {
      color: rgb(186, 221, 193) !important;
    }

    ion-item {
      border: none !important;
      padding-right: 16px !important;

      .item-inner {
        //margin-left: 5px !important;
        padding-right: 0px !important;
      }
    }
  }

  ion-card {
    margin-top: 0px !important;

    ion-card-header {
      ion-icon {
        margin-right: 5px;
      }

      &.card-header-md {
        padding-bottom: 5px !important;
        font-weight: bold;
        font-size: 2rem;
      }
    }
  }

  @include block('filter') {
    padding-top: 0px !important;

    @include element('date') {
      border: 1.5px solid;
      //padding: 20px !important;
      //margin: 0px !important;
      text-align: left;
      //border-radius: 30px;

      ion-icon {
        font-size: 3rem !important;
        margin-right: 10px;
      }
    }

    @include element('search') {
      border: 1.5px solid;

      ion-icon {
        font-size: 3rem !important;
        //margin-right: 10px;
      }
    }
  }
}
