<ion-content>
  <ion-grid class="filter" no-margin>
    <ion-row no-margin>
      <ion-col col-5>
        <button class="filter__date" ion-button full clear (click)="openStartDate()">
          <ion-icon name="calendar"></ion-icon>
          {{ startDate | date: 'dd-MM-yyyy' }}
        </button>
      </ion-col>
      <ion-col col-5>
        <button class="filter__date" ion-button full clear (click)="openEndDate()">
          <ion-icon name="calendar"></ion-icon>
          {{ endDate | date: 'dd-MM-yyyy' }}
        </button>
      </ion-col>
      <ion-col col-2>
        <button class="filter__search" ion-button full clear (click)="searchOrder()">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list no-lines>
    <button mode="ios" ion-item *ngFor="let month of months | orderBy: 'month'" (click)="gotoOrderList(month)">
      <ion-icon name="md-calendar" item-start></ion-icon>
      {{ month.year }} {{ month.monthNameTH }}
    </button>
  </ion-list>
  <small padding class="text-red">
    * จำนวนเงินสุทธิ หลังหักส่วนลดทั้งหมด ไม่รวมค่าบริการคลังและไม่รวม VAT
  </small>
</ion-content>