<ion-header>

  <ion-navbar>
    <ion-title>ยืนยันการส่งคืนฝา</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item class="caption">
    <span>Sale Name :</span>
    <span class="result">{{DataHD.salename}}</span>
  </ion-item>
  <ion-item class="caption">
    <span>AR Name :</span>
    <span class="result">{{DataHD.arname}}</span>
  </ion-item>
  <div></div>

  <ion-grid class="grid-content">
    <ion-row>
      <ion-col col-12 text-center>
        <h2 class="title-table">รายละเอียด</h2>
      </ion-col>
    </ion-row>
    <ion-row class="header-table" >
      <ion-col col-2 text-center>
        <span>มูลค่า</span>
      </ion-col>
      <ion-col col-4 text-center>
        <span>จำนวนที่ต้องส่ง</span>
      </ion-col>
      <ion-col col-3 text-center>
        <span>AR</span>
      </ion-col>
      <ion-col col-3 text-center>
        <span>ผลต่าง</span>
      </ion-col>
    </ion-row>

    <ion-row class="detail-table" *ngFor="let item of DataDT">
      <ion-col col-2 text-center>
        <span class="dt-content"  text-center>{{item.cointype}}</span>
      </ion-col>
      <ion-col col-4 text-center>
        <span class="dt-content"  text-center>{{item.salereturn}} </span>
      </ion-col>
      <ion-col col-3 text-center>
        <span  text-center>{{item.whreturn}} </span>
      </ion-col>
      <ion-col col-3  text-center>
        <span  text-center>{{item.lostreturn}} </span>
      </ion-col>
    </ion-row>
    
    <ion-row class="footer-table">
      <ion-col col-2 text-center>รวม</ion-col>
      <ion-col col-4 text-center>{{SumReturnCoin}}</ion-col>
      <ion-col col-3 text-center>{{SumReceiveCoin}}</ion-col>
      <ion-col col-3 text-center>-</ion-col>
    </ion-row>

    <!-- issue เอาผลรวมออก -->
    <!-- <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-6>
        <span>รวมฝาที่ส่งคืน</span>
      </ion-col>
      <ion-col col-5>
        <span>{{SumReturnCoin }}</span>
      </ion-col>
    </ion-row> -->

    <!-- <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-6>
        <span>รวมฝาที่รับคืน</span>
      </ion-col>
      <ion-col col-5>
        <span>{{SumReceiveCoin}}</span>
      </ion-col>
    </ion-row> -->

    <!-- <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-6>
        <span>รวมฝาที่หาย</span>
      </ion-col>
      <ion-col col-5>
        <span>{{SumLossCoin}}</span>
      </ion-col>
    </ion-row>
     -->
  </ion-grid>
  <div></div>
</ion-content>

<ion-footer>
  <ion-toolbar no-padding class="footer-toolbar">
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full large color="danger" (click)="Reject()">Reject</button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button full large color="primary" (click)="ReturnCoin()">ยืนยัน</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>