page-eo-product-list {
  @include eoHeader;
  //
  //.toolbar-ios {
  //  height: 44px + $cordova-ios-statusbar-padding;
  //  padding-top: $cordova-ios-statusbar-padding;
  //}
  //
  //.toolbar-title-ios {
  //  padding-top: $cordova-ios-statusbar-padding;
  //}

  .infinite-loading {
    margin-bottom: 0px !important;
  }

  ion-list {
    margin-bottom: 0px !important;

    ion-item {
      border-bottom: 0px !important;

      &:first-child {
        border-top: none !important;
      }

      &:last-child {
        border-bottom: none !important;
      }

      .item-inner {
        //border-bottom-color: #ededf4 !important;
        padding-right: 0px !important;
      }

      ion-label {
        margin: 10px 8px 10px 0 !important;
      }
    }
  }

  @include block('product-item') {
    min-height: 100px;
    padding-left: 0px;

    @include element('image') {
      float: left;
      width: 80px;
      height: 80px;
      text-align: center;
      margin-left: 10px !important;
      margin-right: 10px !important;

      img {
        object-fit: cover !important;
        max-width: 100%;
        max-height: 100%;
      }
    }

    @include element('detail') {
      float: left;
      width: calc(100% - 100px);
      position: relative;
      min-height: 80px;

      @include element('name') {
        font-size: 0.938em;
      }
    }

    @include element('loading') {
      min-height: 100px;
      padding-left: 0px;

      @include element('image') {
        float: left;
        width: 80px;
        height: 80px;
        background: #f5f5f5;
        margin: 0px 10px 0px 10px;
      }

      @include element('detail') {
        float: left;
        width: calc(100% - 100px);
        position: relative;
        min-height: 80px;

        @include element('name1') {
          height: 0.938em;
          background: #f5f5f5;
        }

        @include element('name2') {
          height: 0.938em;
          background: #f5f5f5;
          margin-top: 10px;
        }
      }
    }

    /* favorite position */
    .favorite {
      position: absolute;
      bottom: 0px;
      right: 5px;
    }
  }
}
