<ion-header>
  <ion-navbar>
    <ion-title>รายการสินค้า</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="search" placeholder="ค้นหา"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!loading">
    <ion-item class="product-item" *ngFor="let product of products | filterBy: ['btf', 'btfWebDescEn', 'btfWebDescTh']: search | unique: 'btf' | slice: 0 : slice" (click)="onSelectProduct(product)">
      <div class="product-item__image">
        <img [src]="config.partImgProduct + '/ProductDetail/' + product.btfWeb + '.jpg'">
      </div>
      <div class="product-item__detail">
        <div class="product-item__detail__name" text-wrap>
          {{ product.btfWebDescTh }}
        </div>
        <ion-icon ios="md-star" md="md-star" class="favorite" [class.active]="product.isFavorite" (click)="onSetFavorite($event, product)"></ion-icon>
      </div>
    </ion-item>
    <ion-item text-center *ngIf="slice > products?.length">
      ไม่พบสินค้าอีก
    </ion-item>
  </ion-list>
  <ion-infinite-scroll *ngIf="slice <= products?.length" (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content loadingText="กำลังโหลด"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>