<ion-header>

  <ion-navbar>
      <!-- <ion-icon ios="ios-refresh-circle-outline" class="icon-refresh" 
      md="refresh-circle-outline" (click)="fetchProductBrandByDealer()"></ion-icon> -->

      <ion-buttons class="btn-right" end>
          <button  class="btn-left"  ion-button icon-only (click)="fetchProductBrandByDealer()">
            <ion-icon name="refresh"></ion-icon>
          </button>
        </ion-buttons>

    <ion-title>ระบุจำนวนฝา</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-grid>
    <ion-row *ngFor="let item of productBrand">
      <ion-col col-3>
        <img [src]="item.imagefullpath">
      </ion-col>
      <ion-col col-4>
        <h2 class="name">{{ item.cointypename }} บาท</h2>
        <h2 class="size">{{ item.sizedesc }}</h2>
      </ion-col>
      <ion-col col-5>
        <ion-input class="detail-amount" type="number" [(ngModel)]="item.saleqty" placeholder="จำนวนฝา"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer no-padding>
  <ion-toolbar no-padding class="footer-toolbar">
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full large color="danger" no-margin (click)="OkOnclick()">บันทึก</button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button full large color="primary" no-margin (click)="Confirm()">ส่งข้อมูล</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>