$tp-color:#2e323d;
$tp-color-l:rgba(46, 50, 61, 0.12941176470588237);
$tp-icon-color: #ff9900 ;
$tp-content-color:#ffffff;
$tp-font-color:#ff9900 ;
$tp-font-color-many:#00b129;

page-ep-coinstock-productbrand-list {
    .name {
        color: $tp-font-color;
        font-size: 1.6em;
        text-align: center;
        margin: 5px 0px;
    }
    .size {
        color: $tp-content-color;
        font-size: 1.6em;
        text-align: center;
        margin: 5px 0px;
    }

    .col{
        border: think solid rgb(24, 1, 1);
        border-bottom: 1px solid #000000;
    }

    .detail-amount {
            text-align: center;
            color: rgb(19, 1, 1);
            font-size: 1.8em;
            margin-top: 14px;
            background-color:rgb(255, 255, 255);
    }

    .toolbar-background {
        background-color: #ef6c00!important;
    }

    .back-button {
        color: #ffffff;
    }

    .toolbar-title {
        color: #ffffff;
    }
    .btn-left{
        color: $tp-content-color;
        font-size: 1.6em;
        font-weight: bold;
    }

    .content {
        background: #2e323d;
        .scroll-content{
            padding: 0px;
            margin: 0px;
            .list{
            .item{
                background: #363636;
                border-bottom: 1px solid #17181a;
            }
         }
        }
    }
    .content-md {
        .scroll-content {
            margin-top: 60px !important;
        }
        color: #ff9900;
    }

    .content-ios {
        .scroll-content {
            margin-top: 65px !important;
        }
    }

    .list {
        .label {
            white-space: inherit !important;
        }
        .qty-before{
            color: #ffffff;
        }
        .qtymany {
            color: $tp-font-color-many;
            font-size: 1.6rem;
        }
        .size {
            color: $tp-color;
            font-weight: 600;
        }
        .arrow-next {
            color: $tp-color;
        }
        img {
            object-fit: cover;
        }
        
    }

    .alertCustomCss {
        color: dark;
        .alert-head {
            color: $tp-color-btn;
        }
        .alert-message {
            color: dark;
        }
        .alert-wrapper {
            background-color: color($colors, light, base);
        }
    }

    .ios-refresh-circle{
        margin-right: 20px;
        color:#488aff;
    }
}
