<ion-header no-border>
  <ion-navbar text-center transparent hideBackButton="true">
    <ion-title>
      ยินดีต้อนรับ {{ userInfo.userName }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openMenu($event)" style="color: #FFFFFF;">
        <ion-icon name="md-cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item text-center style="margin-bottom: 15px;">
      <img src="./assets/icon/DealerConnect/txtDC.png">
    </ion-item>
    <ion-item  *ngFor="let app of apps" (click)="selectApp(app)">
      <img [src]="app.icon">
    </ion-item>
  </ion-list>
</ion-content>
