page-dc-home {
  ion-content{
    background-image: url('../assets/icon/DealerConnect/DCBG.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .scroll-content {
    //margin-top: 35px !important;
  }

  .bar-button-ios {
    margin-right: 8px;
  }

  .bar-button-md {
    margin-right: 2px !important;
  }

  .toolbar-title {
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: bold;
  }

  .input-wrapper {
    text-align: center !important;
  }

  .toolbar-title-md {
    padding-left: 50px;
  }
  
  .toolbar-title-ios {
    padding-left: 0px;
  }

  ion-item {
    background: none !important;
    border: none !important;
  }

  ion-list {
    border-bottom: 0px !important;

    ion-item {
      padding-left: 0px !important;

      .item-inner {
        padding-right: 0px !important;
        border: 0px !important;
      }

      ion-label {
        margin: 5px auto !important;
      }
    }
  }
  //
  //.alertCustomCss {
  //  color: dark;
  //  .alert-head {
  //    color: $tp-color-btn;
  //  }
  //  .alert-message {
  //    color: dark;
  //  }
  //  .alert-wrapper {
  //    background-color: color($colors, light, base);
  //  }
  //}
}
