<ion-header>
  <ion-navbar>
    <ion-title>ตัวกรองสินค้า</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onDismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="filter">
    <div class="filter__title">
      <ion-item-divider>
        กลุ่มผลิตภัณฑ์
        <button ion-button clear small item-right (click)="clearMarketingFilter()">
          ล้างทั้งหมด
        </button>
      </ion-item-divider>
      <!-- <ion-list class="filter__loading" *ngIf="loading">
        <ion-item *ngFor="let i of [1,2,3,4,5,6,7]">
          <div class="filter__loading__checkbox" item-start></div>
          <div class="filter__loading__name"></div>
        </ion-item>
      </ion-list> -->
      <ion-list>
        <ion-item *ngFor="let marketing of marketings | unique: 'marketingCode'">
          <ion-label class="filter__name">
            {{ marketing.marketingDesc }}
          </ion-label>
          <ion-checkbox [checked]="marketing.checked" (ionChange)="onSelectMarketing(marketing.marketingCode)">
          </ion-checkbox>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div class="filter">
    <div class="filter__title">
      <ion-item-divider>
        แบรนด์
        <button ion-button clear small item-right (click)="clearBrandFilter()">
          ล้างทั้งหมด
        </button>
      </ion-item-divider>
      <!-- <ion-list class="filter__loading" *ngIf="loading">
        <ion-item *ngFor="let i of [1,2,3,4,5,6,7]">
          <div class="filter__loading__checkbox" item-start></div>
          <div class="filter__loading__name"></div>
        </ion-item>
      </ion-list> -->
      <ion-list *ngIf="!loading">
        <ion-item *ngFor="let brand of brands | brandFilter: marketingCodes | orderBy: 'brandDesc' | unique: 'brandCode'">
          <ion-label class="filter__name">
            {{ brand.brandDesc }}
          </ion-label>
          <ion-checkbox [checked]="brand.checked" (ionChange)="onSelectBrand(brand.brandCode)">
          </ion-checkbox>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div class="filter" *ngIf="marketingCodes.length > 0">
    <div class="filter__title">
      <ion-item-divider>
        ประเภท
        <button ion-button clear small item-right (click)="clearTypeFilter()">
          ล้างทั้งหมด
        </button>
      </ion-item-divider>
      <!-- <ion-list class="filter__loading" *ngIf="loading">
        <ion-item *ngFor="let i of [1,2,3,4,5,6,7]">
          <div class="filter__loading__checkbox" item-start></div>
          <div class="filter__loading__name"></div>
        </ion-item>
      </ion-list> -->
      <ion-list *ngIf="!loading">
        <ion-item *ngFor="let type of types | typeFilter: marketingCodes | orderBy: 'typeDesc' | unique: 'typeCode'">
          <ion-label class="filter__name">
            {{ type.typeDesc }}
          </ion-label>
          <ion-checkbox [checked]="type.checked" (ionChange)="onSelectType(type.typeCode)">
          </ion-checkbox>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>

<ion-footer>
  <button ion-button full no-margin mode="ios" (click)="filterProduct()">
    <!--<ion-icon name="ios-funnel"></ion-icon>-->
    <b>เลือก</b>
  </button>
</ion-footer>