page-eo-product-filter {
  @include eoHeader;

  ion-item-divider {
    //border-bottom: 2px solid color($colors, 'primary') !important;
    border-bottom: none !important;
    background-color: #5acde9 !important;
    font-weight: bold;

    .label {
      color: #FFFFFF;
    }

    .label-md {
      font-size: 1.6rem !important;
    }

    .button-inner {
      color: #FFFFFF !important;
    }
  }

  @include block('filter') {

    @include element('title') {
      button {
        margin: 0px !important;
        font-size: 1.250rem;
      }
    }

    @include element('name') {
      font-size: 1.500rem;
    }

    ion-list {
      max-height: 310px;
      overflow: auto;
      margin-bottom: 0px;

      // ios
      &.list-ios {
        ion-item {
          &:first-child, &:last-child {
            border: none !important;
          }

          .item-inner {
            border-bottom: none !important;
          }

          .filter__loading__checkbox {
            width: 21px;
            height: 21px;
            border-radius: 50%;
          }
        }
      }

      // android
      &.list-md {
        ion-checkbox {
          margin: 9px 15px 9px 4px !important;
        }

        ion-item {
          .item-inner {
            border-bottom: none !important;
          }

          .filter__loading__checkbox {
            margin: 9px 15px 9px 4px;
            border-radius: 2px;
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    @include element('loading') {
      @include element('checkbox') {
        background: #f5f5f5;
      }

      @include element('name') {
        height: 1.5rem;
        background: #f5f5f5;
      }
    }
  }
}
