<ion-header>
  <ion-navbar>
    <ion-title>รายงาน</ion-title>
  </ion-navbar>
 
</ion-header>

<ion-content padding>
  <ion-label class="sub-title">รายละเอียดช่างสีที่แลกฝา</ion-label>
  <ion-item class="caption">
    <span>เบอร์โทร :</span>
    <span class="result">{{ PainterNo }}</span><br>
    <span>ชื่อ :</span>
    <span class="result">{{ PainterName }}</span>
  </ion-item>

  <!-- <ion-item class="caption">
   
  </ion-item> -->

  <ion-list no-lines class="toplist">
    <ion-item *ngFor="let item of dealerRedeemPainterInfo">
      <!-- row 1 -->
      <ion-row>
        <ion-col>
          <p class="nameHDtxt">{{ item.btfsdesc }}</p>
        </ion-col>
      </ion-row>

      <!-- row 2 -->
      <ion-row>
        <ion-col>
          <p class="nameDTtxt">มูลค่าฝา :
            <span class="nameresult">
              {{ item.cointypename }}
            </span>
          </p>
        </ion-col>
      </ion-row>

      <!-- row 3 -->
      <ion-row>
        <ion-col>
          <p class="nameDTtxt">จำนวนฝา :
            <span class="nameresult">
              {{ item.dealerqty }}
            </span>
          </p>
        </ion-col>
      </ion-row>

      <!-- row 4 -->
      <ion-row>
        <ion-col>
          <p class="nameDTtxt">จำนวนเงิน :
            <span class="nameresult">
              {{ item.ramount }}
            </span>
          </p>
        </ion-col>
      </ion-row>

    </ion-item>
  </ion-list>
</ion-content>
<ion-footer no-padding>
  <ion-toolbar no-padding class="footer-toolbar">
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full large color="danger" (click)="cancel()">ยกเลิก</button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button full large color="primary" (click)="downloadCSV()">Export</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>