<ion-content>
  <ion-list *ngIf="!loading">
    <ion-item class="product-item" *ngFor="let product of (products | orderBy: '-documentDate')" (click)="selectProduct(product)">
      <div class="product-item__image">
        <img [src]="config.partImgProduct + '/ProductDetail/' + product.btfWeb + '.jpg'">
      </div>
      <div class="product-item__detail">
        <span class="product-item__detail__header">สั่งซื้อเมื่อ {{ product.documentDate | date: 'dd/MM/yyyy' }}</span>
        <div class="product-item__detail__name" text-wrap>
          {{ product.btfWebDescTh }}
        </div>
        <!-- <ion-icon ios="md-star" md="md-star" class="favorite" [class.active]="product.isFavorite" (click)="onSetFavorite($event, product)"></ion-icon> -->
      </div>
    </ion-item>
    <ion-item *ngIf="!products?.length" text-center>
      ไม่พบสินค้า
    </ion-item>
  </ion-list>
</ion-content>