<ion-header>
  <ion-navbar>
    <ion-title>ข่าวสารและกิจกรรม</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-row class="SubjectImage">
      <img [src]="HistoryInfo.thumbnailpicture" onerror="this.src='./assets/imgs/noimg.jpg'">
    </ion-row>
    <ion-row class="SubjectName">
      <span><h2>{{HistoryInfo.subject}}</h2></span>
    </ion-row>
    <ion-row>
      <span>{{HistoryInfo.datefrom}}</span>
    </ion-row>
    <ion-row>
      <!-- <span>{{HistoryInfo.detail}} </span> -->
      <!--<span ng-bind-html="HistoryInfo.detail"></span>-->
      <div [innerHtml]="HistoryInfo.detail | safe: 'html'"></div>
    </ion-row>
  </ion-item>
</ion-content>
