<ion-header>
  <ion-navbar>
    <ion-title>
      รายละเอียดฝาที่ส่งคืน TOA
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list no-lines class="toplist">
      <ion-item *ngFor="let item of DataReport">
        <!-- row 1 -->
        <ion-row>
          <ion-col col-6 text-center>
            <p class="nameHDtxt"> ประเภทฝา</p>
          </ion-col>
          <ion-col col-6 text-center>
              <p class="nameHDtxt">จำนวน</p>
            </ion-col>
        </ion-row>
        <!-- row 2 -->
        <ion-row>
            <ion-col col-6 text-center>
              <p class="nameHDtxt"> {{item.cointypename}}</p>
            </ion-col>
            <ion-col col-6 text-center>
                <p class="nameHDtxt">{{item.arqty}}</p>
              </ion-col>
          </ion-row>
      </ion-item>
    </ion-list>
  </ion-content>

<ion-footer no-padding>
  <ion-toolbar no-padding class="footer-toolbar">
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full large color="danger" (click)="cancel()">ยกเลิก</button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button full large color="primary" (click)="downloadCSV()">Export</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>