page-dc-news-detail {
  @include dcHeader;

  @include block('news') {
    @include element('image') {
      text-align: center;
      margin-bottom: 15px;

      img {
        margin: 10px auto;
        max-width: 100%;
      }
    }

    @include element('description') {
      word-break: initial;
    }
  }
}
