<ion-header>
  <ion-navbar>
    <ion-title>{{ news[0].title }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let item of news">
    <div class="news__image">
      <img [src]="config.partImgActivity + '/' + item.picture">
    </div>
    <div class="news__description" [innerHTML]="item.description | safe: 'html'"></div>
  </div>
</ion-content>
