eo-report {
  ion-list {
    ion-item {
      padding-right: 16px !important;

      .item-inner {
        padding-right: 0px !important;
      }
    }
  }

  .icon {
    color: rgb(237, 162, 204);
  }

  .item-md {
    .icon {
      margin-right: 0px !important;
    }
  }
}
