<ion-content>
  <ion-list no-lines mode="ios">
    <button mode="ios" ion-item *ngIf="verifyPermission('01701')" (click)="openMonthly()" text-wrap>
      <ion-icon class="icon" name="md-clipboard" item-start></ion-icon>
      {{ verifyPermission('01701').menuName }}
    </button>
    <button mode="ios" ion-item *ngIf="verifyPermission('01702')" (click)="openQuarter()" text-wrap>
      <ion-icon class="icon" name="md-clipboard" item-start></ion-icon>
      {{ verifyPermission('01702').menuName }}
    </button>
  </ion-list>
</ion-content>