<ion-header>
  <ion-navbar>
    <ion-title>เลือกจังหวัด</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of CityList" (click)="onSelectCity(item)">
      <p class="bank-name" text-wrap>
        <b> {{ item.citydesc }}</b>
      </p>
    </ion-item>
  </ion-list>
</ion-content>