page-eo-checkout {
  @include eoHeader;

  //.toolbar-ios {
  //  height: 44px + $cordova-ios-statusbar-padding;
  //  padding-top: $cordova-ios-statusbar-padding;
  //}
  //
  //.toolbar-title-ios {
  //  padding-top: $cordova-ios-statusbar-padding;
  //}

  ion-list {
    margin-bottom: 0px !important;

    ion-item {
      ion-label {
        overflow: visible !important;
        opacity: inherit !important;
      }
    }
  }

  ion-item-divider {
    ion-label {
      font-size: 1.5rem;
      margin: 0px !important;
      color: color($colors, 'primary');
    }
  }

  @include block('checkout') {
    @include element('form') {
      ion-list {
        ion-item {
          &.item-md {
            padding-left: 0px !important;

            .item-inner {
              padding-left: 8px !important;
            }
          }

          &.item-ios {
            padding-left: 0px !important;

            .item-inner {
              padding-left: 8px !important;
            }
          }
        }
      }

      @include element('text') {
        overflow: visible !important;
      }
    }

    @include element('preview') {
      @include element('customer') {
        color: #00acec;
        font-size: 1.5rem;
        margin: 10px 8px;
        font-weight: bold;
      }

      @include element('text') {
        overflow: visible !important;
      }

      ion-list {
        ion-item {
          padding-left: 0px !important;

          .item-inner {
            padding-left: 8px !important;
          }

          ion-label {
            overflow: visible !important;
          }
        }
      }
    }

    @include element('product-item') {
      padding: 0px !important;
      position: relative;

      ion-label {
        margin: 0px !important;
      }

      .item-inner {
        padding: 0px !important;
        margin: 0px !important;

      }

      @include element('content') {
        padding: 13px 13px 13px 13px !important;

        @include element('image') {
          width: 80px;
          height: 80px;
          margin-right: 10px;
          float: left;

          img {
            object-fit: contain !important;
            max-width: 100%;
            max-height: 100%;
          }
        }

        @include element('detail') {
          width: calc(100% - 90px);
          float: right;
          position: relative;
          

          @include element('code') {
            display: block;
            width: 100%;
            font-size: 1.4rem;
          }

          @include element('name') {
            display: block;
            width: 100%;
            font-size: 1.4rem;
            margin-bottom: 5px;
          }


          @include element('amount') {
            display: block;
            width: 100%;
            font-size: 1.4rem;
            //font-weight: bold;
            margin-bottom: 5px;
          }

          @include element('qty') {
            display: block;
            width: 100%;
            font-size: 1.4rem;
            font-weight: normal;

            input {
              width: 100%;
              font-weight: bold;
              text-align: center;
              line-height: 34px;
              border: none;
            }
          }

          @include element('unit') {
            font-size: 1.2rem;
          }

          @include element('remove') {
            position: absolute;
            right: -10px;
            bottom: -12px;

            button {
              font-size: 1.5rem;
            }
          }
        }

        @include element('bom') {
          display: block;
          width: 100%;
          margin-top: 15px;
          float: left;

          @include element('code') {
            font-size: 1.325rem;
          }

          @include element('name') {
            font-size: 1.325rem;
          }

          @include element('detail') {
            margin-top: 5px;
            font-size: 1.35rem;

            @include element('unit') {
              font-weight: normal;
              font-size: 1.25rem;
            }
          }

          @include modifier('border') {
            border-bottom: 1px solid #d0d0d0;
            padding-bottom: 15px;
          }
        }

        @include clearfix;
      }
    }

    @include element('amount') {
      width: 100%;
      font-size: 1.5rem;
      margin: 10px;
      margin-left: 0px;
      text-align: center;

      b {
        color: #00acec;;
      }
    }
  }
}
