<ion-header>
  <ion-navbar>
    <ion-title>รายละเอียดใบสั่งซื้อ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="addOrder(form.value)" autocomplete="off" #Form="ngForm">
    <!-- STEP 1 -->
    <div *ngIf="tabs == 0">
      <div class="checkout__form">
        <ion-list>
          <ion-item>
            <ion-label stacked>
              <span class="text-red">*</span>
              การชำระเงิน
            </ion-label>
            <ion-select [selectOptions]="{title: 'การชำระเงิน'}" formControlName="paymentTerm" okText="เลือก" cancelText="ยกเลิก">
              <ion-option value="CASH">
                เงินสด
              </ion-option>
              <ion-option value="3MED" *ngIf="customerInfo.paymentTerm != 'CASH'">
                เครดิต
              </ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label stacked>
              PO Number
            </ion-label>
            <ion-input type="text" formControlName="customerPO"></ion-input>
          </ion-item>
          <ion-item *ngIf="config.requestDate">
            <ion-label stacked>
              Request Date
            </ion-label>
            <ion-select formControlName="requestDate" okText="เลือก" cancelText="ยกเลิก">
              <ion-option value=""></ion-option>
              <ion-option *ngFor="let rd of requestDateList" [value]="rd.reqDate">
                {{ rd.reqDate | date: 'dd/MM/yyyy' }}
              </ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="customerInfo.isReceive && config.selfReceive">
            <ion-label>มารับเอง</ion-label>
            <ion-checkbox item-right formControlName="isReceive" (ionChange)="setReceive()"></ion-checkbox>
          </ion-item>
          <ion-item *ngIf="!form.value.isReceive">
            <ion-label stacked>
              สถานที่ส่ง
            </ion-label>
            <ion-select formControlName="shipTo" okText="เลือก" cancelText="ยกเลิก" (ionChange)="setShipTo($event)">
              <ion-option [value]=""></ion-option>
              <ion-option *ngFor="let st of shipToList | orderBy: 'shipCode'" [value]="st.shipId">
                {{ st.shipCode }} {{ st.shipName }}
              </ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="!form.value.isReceive">
            <ion-label stacked>
              ที่อยู่สถานที่ส่ง
            </ion-label>
            <ion-label class="checkout__form__text">
              <span *ngIf="isObjEmpty(shipTo)">
                -
              </span>
              <span *ngIf="!isObjEmpty(shipTo)">
                {{ shipTo.address }} {{ shipTo.street }} {{ shipTo.subdistrict }} {{ shipTo.districtName }} {{ shipTo.cityName }}
              </span>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="!form.value.isReceive">
            <ion-label stacked>
              จัดส่งโดย
            </ion-label>
            <ion-select formControlName="transport" okText="เลือก" cancelText="ยกเลิก" (ionChange)="setTransport($event)" *ngIf="!tVisible">
              <ion-option *ngFor="let ts of transportList | filterBy: ['transportCity']: (!form.value.shipTo) ? customerInfo.cityCode : shipTo.cityCode" [value]="ts.transportZone">
                {{ ts.transportZone }} {{ ts.transportZoneDesc }}
              </ion-option>
            </ion-select>
            <ion-label class="checkout__form__text" *ngIf="tVisible">
              {{ (shipTo.transportZone == undefined) ? customerInfo.transportZoneCode + ' ' + customerInfo.transportZoneDesc : shipTo.transportZone + ' ' + shipTo.transportZoneDesc }}
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
      <ion-item-divider mode="ios" style="padding: 10px 8px;">
        คุณมีสินค้าที่สั่งซื้อจำนวน <b>{{ totalQty }}</b> รายการ
      </ion-item-divider>
      <ion-list>
        <ion-item class="checkout__product-item" *ngFor="let product of products">
          <div class="checkout__product-item__content">
            <div class="checkout__product-item__content__image">
              <img [src]="config.partImgProduct + '/ProductDetail/' + product.btfCode + '.jpg'">
            </div>
            <div class="checkout__product-item__content__detail">
              <div class="checkout__product-item__content__detail__code" [class.text-bold]="product.isBOM" text-wrap>
                {{ product.productCode }}
                <div *ngIf="product.promotionCode != null && !product.isFreeGoodes">
                  <span style="color: #1338e6;">
                    (Pro No : {{ product.promotionCode }})
                  </span>
                </div>
                <span class="text-red" *ngIf="product.isFreeGoodes">
                  (ของแถม)
                </span>
              </div>
              <div class="checkout__product-item__content__detail__name" [class.text-bold]="product.isBOM" text-wrap>
                {{ product.btfDescTh }}
              </div>
              <div class="checkout__product-item__content__detail__amount">
                ราคาต่อหน่วย : {{ product.price | number: '1.2-2' }} บาท
              </div>
              <div class="checkout__product-item__content__detail__qty">
                จำนวน : {{ product.qty | number: '1.0-0' }} {{ product.unitNameTh }}
              </div>
              <div class="checkout__product-item__content__detail__remove" *ngIf="!product.isFreeGoodes">
                <button type="button" ion-button small clear icon-only color="danger" (click)="delCart(product)">
                  <ion-icon name="trash"></ion-icon>
                </button>
              </div>
            </div>
            <!-- BOM -->
            <div *ngFor="let bom of boms; let i = index">
              <div class="checkout__product-item__content__bom" *ngIf="product.productCode == bom.productRefCode;" [class.checkout__product-item__content__bom--border]="(boms?.length - 1) != i">
                <div class="checkout__product-item__content__bom__code">
                  {{ bom.productCode }}
                </div>
                <div class="checkout__product-item__content__bom__name">
                  {{ bom.productNameTh }}
                </div>
                <table class="checkout__product-item__content__bom__detail">
                  <tr>
                    <td width="110px">
                      ราคาต่อหน่วย
                    </td>
                    <td>{{ bom.price | number: '1.2-2' }} บาท</td>
                  </tr>
                  <tr>
                    <td width="110px">
                      จำนวน
                    </td>
                    <td>{{ product.qty }} {{ bom.unitNameTh }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- END BOM -->
          </div>
        </ion-item>
      </ion-list>
      <div class="checkout__amount">
        ยอดรวมมูลค่าสินค้า (ไม่รวม VAT) : <b>{{ totalAmount | number: '1.2-2' }}</b> บาท
      </div>
    </div>
    <!-- END STEP 1 -->

    <!-- STEP 2 -->
    <div *ngIf="tabs == 1">
      <div class="checkout__preview">
        <div class="checkout__preview__customer">
          {{ customerInfo.customerCode }} : {{ customerInfo.customerName }}
        </div>
        <ion-list>
          <ion-item>
            <ion-label stacked>วันที่สั่งซื้อ</ion-label>
            <ion-label>
              {{ form.value.documentDate | date: 'dd/MM/yyyy'}}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label stacked>การชำระเงิน</ion-label>
            <ion-label>
              {{ (form.value.paymentTerm == 'CASH' || form.value.paymentTerm == 'CA02') ? 'เงินสด' : 'เครดิต' }}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label stacked>ที่อยู่</ion-label>
            <ion-label>
              {{ customerInfo.address }} {{ customerInfo.street }} {{ customerInfo.subDistrictName }} <br>
              {{ customerInfo.districtName }} {{ customerInfo.cityName }}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label stacked>อีเมล์</ion-label>
            <ion-label>
              {{ (customerInfo.email == '') ? '-' : customerInfo.email }}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label stacked>โทรศัพท์</ion-label>
            <ion-label>
              {{ (customerInfo.telNo == '') ? '-' : customerInfo.telNo }}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label stacked>PO Number</ion-label>
            <ion-label>
              {{ form.value.customerPO }}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label stacked>Request Date</ion-label>
            <ion-label>
              {{ form.value.requestDate | date: 'dd/MM/yyyy' }}
            </ion-label>
          </ion-item>
          <ion-item *ngIf="form.value.isReceive">
            <ion-label>มารับเอง</ion-label>
            <ion-checkbox item-right [checked]="true"  disabled="true"></ion-checkbox>
          </ion-item>
          <ion-item *ngIf="!form.value.isReceive">
            <ion-label stacked>สถานที่ส่ง</ion-label>
            <ion-label>
              {{ shipTo.shipCode }} {{ shipTo.shipName }}
            </ion-label>
          </ion-item>
          <ion-item *ngIf="!form.value.isReceive">
            <ion-label stacked>ที่อยู่สถานที่ส่ง</ion-label>
            <ion-label>
              {{ shipTo.address }} {{ shipTo.street }} {{ shipTo.subdistrict }} {{ shipTo.districtName }} {{ shipTo.cityName }}
            </ion-label>
          </ion-item>
          <ion-item *ngIf="!form.value.isReceive">
            <ion-label stacked>จัดส่งโดย</ion-label>
            <ion-label *ngIf="(shipTo.shipCondition == '03' || isObjEmpty(shipTo)) && !form.value.isReceive">
              {{ (customerInfo.shipCondition != '03') ? customerInfo.transportZoneCode + ' ' + customerInfo.transportZoneDesc : transport.transportZone + ' ' + transport.transportZoneDesc }}
            </ion-label>
            <ion-label *ngIf="(shipTo.shipCondition != '03' && !isObjEmpty(shipTo)) && !form.value.isReceive">
              {{ (shipTo.transportZone == undefined) ? customerInfo.transportZoneCode + ' ' + customerInfo.transportZoneDesc : shipTo.transportZone + ' ' + shipTo.transportZoneDesc }}
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
      <ion-item-divider mode="ios" style="padding: 10px 8px;">
        คุณมีสินค้าที่สั่งซื้อจำนวน <b>{{ totalQty }}</b> รายการ
      </ion-item-divider>
      <ion-list>
        <ion-item class="checkout__product-item" *ngFor="let product of products">
          <div class="checkout__product-item__content">
            <div class="checkout__product-item__content__image">
              <img [src]="config.partImgProduct + '/ProductDetail/' + product.btfCode + '.jpg'">
            </div>
            <div class="checkout__product-item__content__detail">
              <div class="checkout__product-item__content__detail__code" [class.text-bold]="product.isBOM" text-wrap>
                {{ product.productCode }}
                <div *ngIf="product.promotionCode != null && !product.isFreeGoodes">
                  <span style="color: #1338e6;">
                    (Pro No : {{ product.promotionCode }})
                  </span>
                </div>
                <span class="text-red" *ngIf="product.isFreeGoodes">
                  (ของแถม)
                </span>
              </div>
              <div class="checkout__product-item__content__detail__name" [class.text-bold]="product.isBOM" text-wrap>
                {{ product.btfDescTh }}
              </div>
              <div class="checkout__product-item__content__detail__amount">
                ราคาต่อหน่วย : {{ product.price | number: '1.2-2' }} บาท
              </div>
              <div class="checkout__product-item__content__detail__qty">
                จำนวน : {{ product.qty | number: '1.0-0' }} {{ product.unitNameTh }}
              </div>
            </div>
            <!-- BOM -->
            <div *ngFor="let bom of boms; let i = index">
              <div class="checkout__product-item__content__bom" *ngIf="product.productCode == bom.productRefCode;" [class.checkout__product-item__content__bom--border]="(boms?.length - 1) != i">
                <div class="checkout__product-item__content__bom__code">
                  {{ bom.productCode }}
                </div>
                <div class="checkout__product-item__content__bom__name">
                  {{ bom.productNameTh }}
                </div>
                <table class="checkout__product-item__content__bom__detail">
                  <tr>
                    <td width="110px">
                      ราคาต่อหน่วย
                    </td>
                    <td>{{ bom.price | number: '1.2-2' }} บาท</td>
                  </tr>
                  <tr>
                    <td width="110px">
                      จำนวน
                    </td>
                    <td>{{ product.qty }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- END BOM -->
          </div>
        </ion-item>
      </ion-list>
      <div class="checkout__amount">
        ยอดรวมมูลค่าสินค้า (ไม่รวม VAT) : <b>{{ totalAmount | number: '1.2-2' }}</b> บาท
      </div>
    </div>
    <!-- END STEP 2 -->
  </form>
</ion-content>

<ion-footer>
  <div *ngIf="tabs == 0">
    <ion-grid no-padding>
      <ion-row no-padding>
        <ion-col col-6 no-padding>
          <button ion-button full no-margin mode="ios" color="light" (click)="close()">
            ย้อนกลับ
          </button>
        </ion-col>
        <ion-col col-6 no-padding>
          <button ion-button full no-margin mode="ios" [disabled]="!form.valid" (click)="next()">
            ดำเนินการต่อ
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="tabs == 1">
    <ion-grid no-padding>
      <ion-row no-padding>
        <ion-col col-6 no-padding>
          <button ion-button full no-margin mode="ios" color="light" [disabled]="!form.valid" (click)="prev()">
            ย้อนกลับ
          </button>
        </ion-col>
        <ion-col col-6 no-padding>
          <button ion-button full no-margin mode="ios" [disabled]="!form.valid || btnLoading" (click)="Form.ngSubmit.emit()">
            <span *ngIf="btnLoading">
              <ion-spinner name="dots"></ion-spinner>
            </span>
            <span *ngIf="!btnLoading">
              ยืนยัน
            </span>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-footer>
