page-eo-menu {
  @include eoHeader;

  @include block('menubar') {
    ion-title {
      .toolbar-title-ios {
        font-size: 1.5rem !important;
      }
  
      .toolbar-title-md {
        font-size: 1.6rem !important;
      }
    }

    @include element('header') {
      margin-bottom: 30px;

      @include element('image') {
        text-align: center;
        margin: 15px auto;
        border-radius: 50%;
        border: 1px solid color($colors, 'primary') !important;
        width: 130px;
        height: 130px;

        img {
          width: 90px;
          margin-top: 14px;
        }
      }

      @include element('code') {
        font-size: 1.7rem;
        font-weight: bold;
        text-align: center;
      }

      @include element('name') {
        font-size: 1.45rem;
        text-align: center;
      }
    }
  }

  ion-list {
    ion-item {
      .icon {
        color: color($colors, 'primary');
      }

      ion-label {
        font-size: 1.4rem;
      }
    }
  }
}
