<!--
<ion-menu side="right" [content]="content" [swipeEnabled]="false" class="menubar">
  
</ion-menu>

<ion-nav #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>
-->
<ion-header>
    <ion-navbar>
      <ion-title>ยินดีต้อนรับ {{ userInfo.userName }}</ion-title>
      <!-- <ion-buttons end>
        <button ion-button icon-only (click)="closeMenu()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons> -->
    </ion-navbar>
  </ion-header>
  <ion-content padding>
    <div class="menubar__header">
      <div class="menubar__header__image">
        <img src="./assets/imgs/eOrdering/store-bg.png">
      </div>
      <div class="menubar__header__code">
        {{ customerInfo.customerCode }}
      </div>
      <div class="menubar__header__name">
        {{ customerInfo.customerName }}
      </div>
    </div>
    <ion-list no-lines>
      <ion-item (click)="selectedMenu(1)" *ngIf="verifyPermission('01901')">
        <ion-icon name="person" item-start></ion-icon>
        {{ verifyPermission('01901').menuName }}
      </ion-item>
      <ion-item (click)="selectedMenu(2)" *ngIf="verifyPermission('01902')">
        <ion-icon name="call" item-start></ion-icon>
        {{ verifyPermission('01902').menuName }}
      </ion-item>
      <ion-item (click)="selectedMenu(3)" *ngIf="verifyPermission('01903')">
        <ion-icon name="create" item-start></ion-icon>
        {{ verifyPermission('01903').menuName }}
      </ion-item>
      <ion-item (click)="selectedMenu(4)" *ngIf="verifyPermission('01904')">
        <ion-icon name="information-circle" item-start></ion-icon>
        {{ verifyPermission('01904').menuName }}
      </ion-item>
    </ion-list>
  </ion-content>