<ion-header>
  <ion-navbar>
    <ion-title>ส่งคำขอแก้ไขข้อมูลส่วนตัว</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid class="grid-content">
    <ion-row padding class="row-content">
      <ion-col col-12>
        <h2 class="detail-amount">ประเภทผู้เสียภาษี
          <span class="request">*</span>
        </h2>
      </ion-col>
      <ion-col col-12 text-center>
        <ion-item>
          <ion-input type="text" [(ngModel)]="inputRecipienttypeName" (click)="BankSelect()" placeholder="Select One..."></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <h2 class="detail-amount">เลขประจำตัวผู้เสียภาษี
          <span class="request">*</span>
        </h2>
      </ion-col>
      <ion-col col-12 text-center>
        <!-- *ngIf="isnew != 1  hidden" -->
        <ion-item>
          <ion-input type="text" [(ngModel)]="inputTaxno" placeholder="เลขประจำตัวผู้เสียภาษี"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <h2 class="detail-amount">เบอร์โทรศัพท์</h2>
      </ion-col>
      <ion-col col-12 text-center>
        <ion-item>
          <ion-input type="text" [(ngModel)]="inputMobile" placeholder="เบอร์โทรศัพท์"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <h2 class="detail-amount">เบอร์โทรศัพท์มือถือ
          <span class="request">*</span>
        </h2>
      </ion-col>
      <ion-col col-12 text-center>
        <ion-item>
          <ion-input type="text" [(ngModel)]="inputMobileWeb" placeholder="เบอร์โทรศัพท์มือถือ"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <h2 class="detail-amount">อีเมล
          <span class="request">*</span>
        </h2>
      </ion-col>
      <ion-col col-12 text-center>
        <ion-item>
          <ion-input type="text" [(ngModel)]="inputEmail" placeholder="อีเมล"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer no-padding>
  <ion-toolbar no-padding class="footer-toolbar">
    <ion-row no-padding>
      <ion-col col-12 no-padding>
        <button ion-button full large color="primary" (click)="next()">ถัดไป</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>