<ion-header>
  <ion-navbar>
    <ion-title>ส่งคำขอแก้ไขข้อมูลส่วนตัว</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid class="grid-content">
    <ion-row padding class="row-content">
      <ion-col col-12>
        <h2 class="detail-amount">เลขประจำตัวผู้เสียภาษี</h2>
      </ion-col>
      <ion-col col-12 text-center>
        <ion-item>
          <ion-input type="text" [(ngModel)]="inputTaxno" placeholder="เลขประจำตัวผู้เสียภาษี"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <h2 class="detail-amount">ที่อยู่ (WHT)</h2>
      </ion-col>
      <ion-col col-12 text-center>
        <ion-item>
          <ion-textarea [(ngModel)]="inputAddresstax" placeholder="ที่อยู่"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <h2 class="detail-amount">เบอร์โทรศัพท์มือถือ</h2>
      </ion-col>
      <ion-col col-12 text-center>
        <ion-item>
          <ion-input type="text" [(ngModel)]="inputMobile" placehoder="เบอร์โทรศัพท์มือถือ"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12 text-center style="display: none">
        <ion-item>
          <ion-label>หักภาษี ณ ที่จ่าย 3%</ion-label>
          <ion-checkbox [(ngModel)]="inputIswht" checked></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer no-padding>
  <ion-toolbar no-padding class="footer-toolbar">
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full large color="danger" (click)="back()">ย้อนกลับ</button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button full large color="primary" (click)="saveOnClick()">ตกลง</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>