<ion-header>
  <ion-navbar>
    <ion-title>{{ promotionName }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content>
  <div class="content__header">
    รายละเอียดโปรโมชั่น
  </div> 
  <div class="promotion__detail">
    <ion-list no-lines>
      <ion-item>
        <div class="promotion__detail__title">
          รหัสโปรโมชั่น
        </div>
        {{ promotionHD.promotionCode }}
      </ion-item>
      <ion-item>
        <div class="promotion__detail__title">
          ชื่อโปรโมชั่น
        </div>
        <div text-wrap>
          {{ promotionHD.promotionName }}
        </div>
      </ion-item>
      <ion-item>
        <div class="promotion__detail__title">
          วันที่โปรโมชั่น
        </div>
        {{ promotionHD.validFrom | date:'dd/MM/yyyy' }} - {{promotionHD.validTo | date:'dd/MM/yyyy' }}
      </ion-item>
      <ion-item>
        <div class="promotion__detail__title">
          รายละเอียดโปรโมชั่น
        </div>
        <div class="promotion__detail__description" [innerHtml]="promotionHD.promotionDesc | safe: 'html'"></div>
      </ion-item>
      <!-- <ion-item *ngIf="promotionHD.isPromotionSet">
        <div class="promotion__detail__title">
          Promotion Set
        </div>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-8>
              <input type="number" [(ngModel)]="promotionSetValue" [disabled]="promotionHD.promotionSetValue == 1">
            </ion-col>
            <ion-col col-4>
              <button ion-button (click)="addPromotionSet()">
                เพิ่ม
              </button>
              <button ion-button color="danger" *ngIf="promotionDT_Sel.length" (click)="delPromotionSet()">
                ลบ
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item> -->
    </ion-list>
  </div>
  <div class="promotion__list">
    <div class="promotion__list__header--blue">
      เลือกสินค้า
    </div> 
    <ion-list no-lines *ngFor="let product of promotionDT">
      <ion-item text-wrap>
        <ion-label>
          <div *ngIf="product.editBtf">
            <button ion-button text-wrap clear full class="promotion__list__dropdown__button promotion__list__dropdown__button__btf" (click)="openModalBtf(product)">
              {{ product?.productName }}
              <ion-icon name="md-arrow-dropdown"></ion-icon>
            </button>
          </div>
          <div *ngIf="!product.editBtf">
            {{ product?.productName }}
            ({{ (product.format == 'MG' || product.format == 'B') ? product.btfInDt.btf : product.productData.btf }})
          </div>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label ion-start>
          ขนาด
        </ion-label>
        <ion-label ion-end text-right>
          <div *ngIf="product.editSize">
            <button ion-button clear right class="promotion__list__dropdown__button" (click)="openModalSize(product)">
              {{ getIsSize(product)?.sizeName }} 
              <ion-icon name="md-arrow-dropdown"></ion-icon>
            </button>
          </div>
          <div *ngIf="!product.editSize">
            {{ product?.productData?.sizeName }}
          </div> 
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label ion-start>
          สี / เบอร์ / รุ่น
        </ion-label>
        <ion-label ion-end text-right>
          <div *ngIf="product.editColor">
            <button ion-button clear right class="promotion__list__dropdown__button" (click)="openModalColor(product)">
              <ul class="list-inline">
                <li class="promotion__list__color__preview" *ngIf="getIsColor(product)?.rgbCode">
                  <div [style.background-color]="'rgb(' + getIsColor(product)?.rgbCode + ')'" [style.border]="'1px solid'">
                  </div>
                </li>
                <li class="promotion__list__color__preview" *ngIf="!getIsColor(product)?.rgbCode">
                  <img src="./assets/imgs/eOrdering/no-color.png" [style.border]="'1px solid'">
                </li>
                <li class="promotion__list__color__name">
                  {{ getIsColor(product)?.colorCode }} 
                  <ion-icon name="md-arrow-dropdown"></ion-icon>
                </li>
              </ul>
            </button>
          </div>
          <div *ngIf="!product.editColor">
            <ul class="list-inline">
              <li class="promotion__list__color__preview" *ngIf="product.productData.rgbCode">
                <div [style.background-color]="'rgb(' + product.productData.rgbCode + ')'">
                </div>
              </li>
              <li class="promotion__list__color__preview" *ngIf="!product.productData.rgbCode">
                <img src="./assets/imgs/eOrdering/no-color.png">
              </li>
              <li class="promotion__list__color__name">
                {{ product.productData.colorCode }}
                <ion-icon name="md-arrow-dropdown"></ion-icon>
              </li>
            </ul>
          </div>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label ion-start>
          จำนวน <span class="text-red" *ngIf="promotionHD.checkStepBySKU">(ซื้อรวมแถม)</span>
        </ion-label>
        <ion-label ion-end class="promotion__list__qty">
          <ion-grid no-padding>
            <ion-row>
              <ion-col col-12>
                <ion-grid no-padding>
                  <ion-row>
                    <ion-col offset-2 col-2 text-right>
                      <button ion-button block small (click)="decProductQty(product)" [disabled]="promotionHD.isPromotionSet">
                        <ion-icon name="remove"></ion-icon>
                      </button>
                    </ion-col>
                    <ion-col col-6 text-center>
                      <input type="number" [(ngModel)]="product.qty" (blur)="edtProductQty(product)" [disabled]="promotionHD.isPromotionSet">
                    </ion-col>
                    <ion-col col-2 text-left>
                      <button ion-button block small (click)="incProductQty(product)" [disabled]="promotionHD.isPromotionSet">
                        <ion-icon name="add"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="!promotionHD.isPromotionSet">
        <ion-label ion-end text-right>
          <button ion-button full small color="secondary" (click)="addProduct(product)" [disabled]="chkBtnAddProduct(product)">
            เลือก
          </button>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div class="promotion__list" *ngIf="promotionDT_Sel?.length > 0">
    <div class="promotion__list__header--green">
      รายการสินค้า
    </div> 
    <ion-list no-lines *ngFor="let product of promotionDT_Sel">
      <ion-item text-wrap>
        <ion-label>
          {{ product.productData.productCode }} <br>
          {{ product.productData.productNameTh }}
          ({{ product.productData.btf }})
        </ion-label>
      </ion-item>
      <ion-item class="promotion__list__dt-select">
        <ion-grid>
          <ion-row>
            <ion-col col-4 text-center>
              <div class="promotion__list__dt-select__title">
                จำนวนสินค้า
              </div>
              <div class="promotion__list__dt-select__detail">
                {{ product.qty }}
              </div>
            </ion-col>
            <ion-col col-4 text-center *ngIf="promotionHD.checkStepBySKU">
              <div class="promotion__list__dt-select__title">
                จำนวนซื้อ
              </div>
              <div class="promotion__list__dt-select__detail">
                {{ (product.qty2 == 0) ? product.qty : product.qty2 | number }}
              </div>
            </ion-col>
            <ion-col col-4 text-center>
              <div class="promotion__list__dt-select__title">
                หน่วย
              </div>
              <div class="promotion__list__dt-select__detail">
                {{ product.productData.unitNameTh }}
              </div>
            </ion-col>
            <ion-col col-4 text-center>
              <div class="promotion__list__dt-select__title">
                ราคา/หน่วย
              </div>
              <div class="promotion__list__dt-select__detail">
                {{ product.productData.productPrice | number: '1.2-2' }}
              </div>
            </ion-col>
            <ion-col col-4 text-center>
              <div class="promotion__list__dt-select__title">
                ราคารวม
              </div>
              <div class="promotion__list__dt-select__detail">
                {{ product.productData.productPrice * product.qty | number: '1.2-2' }}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <!-- <ion-item *ngIf="!promotionHD.isPromotionSet">
        <ion-label ion-end text-right>
          <button ion-button full small color="danger" (click)="delProduct(product)">
            ลบ
          </button>
        </ion-label>
      </ion-item> -->
    </ion-list>
  </div>
</ion-content>
<!-- <ion-footer mode="md" [keyboardAttach]="content">
  <ion-list no-lines class="promotion__summary">
    <ion-item>
      <ion-label ion-start class="promotion__summary__title">
        จำนวนสั่งสินค้าทั้งหมด
      </ion-label>
      <ion-label ion-end text-right class="promotion__summary__amount">
        {{ getTotalQty() | number }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label ion-start class="promotion__summary__title">
        จำนวนซื้อทั้งหมด
      </ion-label>
      <ion-label ion-end text-right class="promotion__summary__amount">
        {{ getTotalQty2() | number }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label ion-start class="promotion__summary__title">
        ราคาซื้อรวมทั้งหมด
      </ion-label>
      <ion-label ion-end text-right class="promotion__summary__amount">
        {{ getTotalAmount() | number: '1.2-2' }}
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full text-center no-margin full color="red" mode="ios" (click)="clearForm()">
          ล้างข้อมูล
        </button>
      </ion-col>
      <ion-col col-6 no-padding *ngIf="promotionHD.promotionType != 'Discount'">
        <button ion-button full text-center no-margin full color="blue" mode="ios" (click)="calculate()" [disabled]="!promotionDT_Sel?.length">
          คำนวนของแถม
        </button>
      </ion-col>
      <ion-col col-6 no-padding *ngIf="promotionHD.promotionType == 'Discount' && freeGoods.length == 0">
        <button ion-button full text-center no-margin full color="orange" mode="ios" (click)="addCart()" [disabled]="btnLoading || !promotionDT_Sel?.length">
          <span *ngIf="btnLoading">
            <ion-spinner name="dots"></ion-spinner>
          </span>
          <span *ngIf="!btnLoading">
            หยิบใส่ตะกร้า
          </span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->