<ion-header>
  <ion-navbar>
    <ion-title>รายละเอียดใบสั่งซื้อ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content>
  <div class="summary">
    <div class="summary__customer">
      {{ customerInfo.customerCode }} : {{ customerInfo.customerName }}
    </div>
    <ion-list>
      <ion-item>
        <ion-label stacked>เลขที่ใบสั่งซื้อ</ion-label>
        <ion-label>
          {{ order.documentNumber }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label stacked>วันที่สั่งซื้อ</ion-label>
        <ion-label>
          {{ order.documentDate | date: 'dd/MM/yyyy' }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label stacked>การชำระเงิน</ion-label>
        <ion-label>
          {{ (order.paymentTerm == 'CASH' || order.paymentTerm == 'CA02') ? 'เงินสด' : 'เครดิต' }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label stacked>ที่อยู่</ion-label>
        <ion-label>
          {{ order.address }} {{ order.street }} {{ order.subDistrictName }} <br>
          {{ order.districtName }} {{ order.cityName }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label stacked>อีเมล์</ion-label>
        <ion-label>
          {{ (order.customerEmail == '') ? '-' : order.customerEmail }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label stacked>โทรศัพท์</ion-label>
        <ion-label>
          {{ (order.customerMobile == '') ? '-' : order.customerMobile }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label stacked>PO Number</ion-label>
        <ion-label>
          {{ order.customerPO }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label stacked>Request Date</ion-label>
        <ion-label>
          {{ order.requestDate | date: 'dd/MM/yyyy' }}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="order.shipCondition == '01'">
        <ion-label>มารับเอง</ion-label>
        <ion-checkbox item-right [checked]="true" disabled="true"></ion-checkbox>
      </ion-item>
      <ion-item *ngIf="order.shipCondition != '01'">
        <ion-label stacked>สถานที่ส่ง</ion-label>
        <ion-label>
          {{ order.shipCode }} {{ order.shipName }}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="order.shipCondition != '01'">
        <ion-label stacked>ที่อยู่สถานที่ส่ง</ion-label>
        <ion-label>
          {{ shipTo.address }} {{ shipTo.street }} {{ shipTo.subdistrict }} {{ shipTo.districtName }} {{ shipTo.cityName }}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="order.shipCondition != '01'">
        <ion-label stacked>จัดส่งโดย</ion-label>
        <ion-label>
          {{ order.transportZone }} : {{ order.transportZoneDesc }}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-item-divider mode="ios" style="padding: 10px 8px;">
    คุณมีสินค้าที่สั่งซื้อจำนวน <b>{{ totalQty }}</b> รายการ
  </ion-item-divider>
  <ion-list>
    <ion-item class="product-item" *ngFor="let product of products">
      <div class="product-item__content">
        <div class="product-item__content__image">
          <img [src]="config.partImgProduct + '/ProductDetail/' + product.btfWeb + '.jpg'">
        </div>
        <div class="product-item__content__detail">
          <div class="product-item__content__detail__code" [class.text-bold]="product.isBOM" text-wrap>
            {{ product.productCode }}
            <div *ngIf="product.promotionCode != null && !product.isFreeGoods">
              <span style="color: #1338e6;">
                (Pro No : {{ product.promotionCode }})
              </span>
            </div>
            <span class="text-red" *ngIf="product.isFreeGoods">
              (ของแถม)
            </span>
          </div>
          <div class="product-item__content__detail__name" [class.text-bold]="product.isBOM" text-wrap>
            {{ product.productNameTh }}
          </div>
          <div class="product-item__content__detail__amount">
            ราคาต่อหน่วย {{ (product.isBOM) ? 0 : product.totalAmount | number: '1.2-2' }} บาท
          </div>
          <div class="product-item__content__detail__qty">
            จำนวน {{ product.qty | number: '1.0-0' }} {{ product.unitNameTh }}
          </div>
        </div>
        <!-- BOM -->
        <div *ngFor="let bom of boms; let i = index">
          <div class="product-item__content__bom" *ngIf="product.productCode == bom.productRefCode;" [class.product-item__content__bom--border]="(boms?.length - 1) != i">
            <div class="product-item__content__bom__code">
              {{ bom.productCode }}
            </div>
            <div class="product-item__content__bom__name">
              {{ bom.productNameTh }}
            </div>
            <table class="product-item__content__bom__detail">
              <tr>
                <td width="110px">
                  ราคาต่อหน่วย
                </td>
                <td>{{ bom.price | number: '1.2-2' }} บาท</td>
              </tr>
              <tr>
                <td width="110px">
                  จำนวน
                </td>
                <td>{{ product.qty }}</td>
              </tr>
            </table>
          </div>
        </div>
        <!-- END BOM -->
      </div>
    </ion-item>
  </ion-list>
  <div class="summary__amount">
    ยอดรวมมูลค่าสินค้า (ไม่รวม VAT) : <b>{{ totalAmount | number: '1.2-2' }}</b> บาท
  </div>
</ion-content>

<ion-footer [keyboardAttach]="content">
    <ion-row no-padding>
      <ion-col col-12 no-padding>
        <button ion-button full no-margin mode="ios" (click)="gotoHome()">
          กลับสู่หน้าแรก
        </button>
      </ion-col>
  </ion-row>
</ion-footer>
