page-eo-news-detail {
  @include eoHeader;

  @include block('news') {
    @include element('image') {
      text-align: center;
      margin: 15px auto; 

      img {
        max-width: 100%;
      }
    }

    @include element('description') {
      word-break: initial;
    }
  }
}
