<ion-header>
  <ion-navbar>
    <ion-title>
      รายงาน
    </ion-title>
  </ion-navbar>
   
</ion-header>


<ion-content padding>
    <ion-label class="sub-title">รายละเอียดการแลกฝา</ion-label>
  <ion-item class="caption">
    <span>ร้านค้า :</span>
    <span class="result">{{ Dealer_ID }}</span><br>
    <span class="result">{{ DealerName }}</span><br>
    <span>จำนวนฝารวม (ฝา) :</span>
    <span class="result">{{pSaleQty}}</span><br>
    <span>จำนวนเงินรวม (บาท) :</span>
    <span class="result">{{pTotalgrandAmount}}</span>
  </ion-item>

  <!-- <ion-item class="caption">
    <p class="result">{{ DealerName }}</p>
  </ion-item>

  <ion-item class="caption">
    <span>จำนวนเหรียญรวม (เหรียญ) :</span>
    <span class="result">{{pSaleQty}}</span>
  </ion-item>
  <ion-item class="caption">
    <span>จำนวนเงินรวม (บาท) :</span>
    <span class="result">{{pTotalgrandAmount}}</span>
  </ion-item> -->

  <ion-list no-lines class="toplist">
    <ion-item *ngFor="let item of dealerExchangeInfo">
      <!-- row 1 -->
      <ion-row>
        <ion-col col-12>
          <p class="nameresult">{{item.btfsdesc}} ({{item.cointypename}} บ.)</p>
        </ion-col>
        <!-- <ion-col col-6 text-right>
          <p class="nameresult">{{item.cointypename}}</p>
        </ion-col> -->
      </ion-row>

      <!-- row 2 -->
      <ion-row>
        <ion-col col-8>
          <span class="nameHDtxt">จำนวนฝาที่ร้านค้ารับ : </span>
          <span class="nameresult">{{item.dealerqty}}</span>
        </ion-col>
        <ion-col col-4 text-right>
          <span class="nameHDtxt">=</span>
          <span class="nameresult"> {{item.ramount}} </span>
          <span class="nameHDtxt">บ.</span>
        </ion-col>
      </ion-row>  

      <!-- row 3 -->
      <ion-row>
        <ion-col col-8>
          <span class="nameHDtxt">จำนวนฝาที่ Sale รับ : </span>
          <span class="nameresult">{{item.saleqty}}</span>
        </ion-col>
        <ion-col col-4 text-right>
          <span class="nameHDtxt">=</span>
          <span class="nameresult"> {{item.saleamount}} </span>
          <span class="nameHDtxt">บ.</span>
        </ion-col>
      </ion-row>

      <!-- row 4 -->
      <ion-row>
        <ion-col>
          <span class="nameHDtxt">ผลต่าง : </span>
          <span class="nameresult">{{ item.diffqty }}</span>
        </ion-col>
      </ion-row>

      <!-- row 5 -->
      <ion-row>
        <ion-col>
          <span class="nameHDtxt">ค่ารักษาฝาหลังหัก WHT : </span>
          <span class="nameresult">{{ item.totalvalepamount }} </span>
          <span class="nameHDtxt">บ.</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <span class="nameHDtxt">เงินรวม : </span>
          <span class="nameresult">{{ item.totalamount }} </span>
          <span class="nameHDtxt">บ.</span>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer no-padding>
  <ion-toolbar no-padding class="footer-toolbar">
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full large color="danger" (click)="cancel()">ยกเลิก</button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button full large color="primary" (click)="downloadCSV()">Export</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>