<ion-header>
  <ion-navbar>
    <ion-title>เลือกสินค้า</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button text-wrap text-left ion-item *ngFor="let btf of btfInDt | filterBy: ['promotionDtId']: promotionDtId" (click)="selectProduct(btf)">
      {{ btf.btfDesc }}
    </button>
  </ion-list>
</ion-content>
