<ion-header>
  <ion-navbar>
    <ion-title>เลือกช่าง</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of PainterList" (click)="SelectPainter(item)">
      <p class="bank-name" text-wrap>
        <span>{{ item.painterno }}</span>
        <span *ngIf="item.titlename?.length > 0 || item.firstname?.length > 0 || item.lastname?.length > 0">(</span>
        <span>{{ item.titlename }} {{item.firstname}} {{item.lastname}}</span>
        <span *ngIf="item.titlename?.length > 0 || item.firstname?.length > 0 || item.lastname?.length > 0">)</span>
      </p>
    </ion-item>
  </ion-list>
</ion-content>

<!-- <ion-content>
    <ion-list>
        <ion-item *ngFor="let item of PainterList" (click)="SelectPainter(item)">
          <p  class="bank-name" text-wrap>
            <span>{{ item.painterno }}</span>
            <span *ngIf="item.titlename?.length > 0 || item.firstname?.length > 0 || item.lastname?.length > 0">(</span>
            <span>{{ item.titlename }} {{item.firstname}} {{item.lastname}}</span>
            <span *ngIf="item.titlename?.length > 0 || item.firstname?.length > 0 || item.lastname?.length > 0">)</span>
          </p>
        </ion-item>
      </ion-list>
</ion-content> -->