<ion-header>
    <ion-navbar>
      <ion-title>รายงาน</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding>
    <ion-label class="sub-title">ฝาค้างส่ง</ion-label>
    <ion-item class="caption">
      <span>ตั้งแต่วันที่ :</span>
      <span class="result">&nbsp; {{ SaleCreateDate }} </span>
    </ion-item>
  
    <!-- <ion-item class="caption">
      
    </ion-item> -->
  
    <ion-list no-lines class="toplist" (click)="DetailOnClick()">
      <ion-item>
        <ion-item *ngFor="let item of DataReport" class="caption">
          <ion-row>
            <ion-col col-4>
              <span class="result">{{item.cointypename}}</span>
              <span>&nbsp; บ.</span>
            </ion-col>
            <ion-col col-4 text-center>
              <span> จำนวนฝา </span>
            </ion-col>
            <ion-col col-4 text-center>
              <span class="result"> {{item.saleqty}} </span>
            </ion-col>
          </ion-row>
        </ion-item>
        <button ion-button icon-only clear item-end>
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer no-padding>
    <ion-toolbar no-padding class="footer-toolbar">
      <ion-row no-padding>
        <ion-col col-6 no-padding>
          <button ion-button full large color="danger" (click)="cancel()">ยกเลิก</button>
        </ion-col>
        <ion-col col-6 no-padding>
          <button ion-button full large color="primary" (click)="downloadCSV()">Export</button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>