$tp-color:#2e323d;
$tp-color-l:rgba(46, 50, 61, 0.12941176470588237);
$tp-icon-color: #ff9900 ;
$tp-content-color:#ffffff;
$tp-font-color:#ff9900 ;

page-ep-rpt08-salecoinstock {
  @include epIonHeader;
  @include epReportHeader;
  
.toolbar-background {
  background-color: #ef6c00!important;
}
.back-button {
  color: #ffffff;
}
.toolbar-title {
  color: #ffffff;
}
.content {
  background: #17181a;
  .scroll-content{
      .list{
      .item{
          background: #363636;
          // border-bottom: 4px solid #17181a; -- เอาออกก่อน
      }
   }
  }
}
.content-md {
  .scroll-content {
      margin-top: 50px !important;
  }
}
.content-ios {
  .scroll-content {
      margin-top: 56px !important;
  }
}
.grid{

    color: $tp-font-color;
    margin-top : 2px;
    padding-top: 10px;

    .col{
      padding: 2px;
    }

    .button{
      border: 0px;
    }

}

.caption{
  background-color: #2e323d;
  color: #ff9900;
  border-radius: 4px;
  
  .item-inner {
      border-bottom: none !important;
  }
}

.item{
  .caption{
      background-color: darkslategray;
      padding: 2px;
  }

  .result{
      color: #ffffff;
      
  }
}

.list {
  
  margin-top: 10px;

  .label {
      white-space: inherit !important;
  }
  .nametitle {
      color: $tp-font-color;
      font-size: 2rem;
  }
  .nameHDtxt {
    color: $tp-font-color;
    font-size: 17px;
  }
  .nameDTtxt {
      color: $tp-font-color;
      font-size: 12px;
    }

  .nameresult {
    color: #ffffff;
    font-size: 16px;
  }
  .row{
    padding: 0px;
  }
  .size {
      color: $tp-color;
      font-weight: 600;
  }

  .img-icon {
      object-fit: cover;
  }
}

}


