$tp-color:#2e323d;
$tp-color-l:rgba(46, 50, 61, 0.12941176470588237);
$tp-icon-color: #ff9900 ;
$tp-content-color:#ffffff;
$tp-font-color:#ff9900 ;

page-ep-dealer-history {

  .toolbar-background {
    background-color: #ef6c00!important;
}
.back-button {
    color: #ffffff;
}
.toolbar-title {
    color: #ffffff;
}
.content {
    background: #17181a;
    .scroll-content{
        .list{
        .item{
            background: #363636;
            border-bottom: 1px solid #17181a;
        }
     }
    }
}
.content-md {
    .scroll-content {
        margin-top: 32px !important;
    }
}
.content-ios {
    .scroll-content {
        margin-top: 40px !important;
    }
}

ion-icon {
    display: inline-block !important;
    padding-right: 4px !important;
}

.grid{
  
      color: $tp-font-color;
      margin-top : 2px;
      padding-top: 10px;

      .col{
        padding: 2px;
      }

      .button{
        border: 0px;
      }

}

.list {
    .label {
        white-space: inherit !important;
    }
    .nametitle {
        color: $tp-font-color;
        font-size: 2rem;
    }
    .nametxt {
      color: #ffffff;
      font-size: 16px;
    }
    .nameresult {
      color: $tp-font-color;
      font-size: 16px;
    }
    .row{
      padding: 0px;
    }
    .size {
        color: $tp-color;
        font-weight: 600;
    }
    .arrow-next {
        color: $tp-color;
    }
    img {
        object-fit: cover;
    }
    
}

}
