<!--
  Generated template for the EpDealerHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>รายงานการแลกฝาเหรียญ</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-grid>
      <!-- <ion-row>
          <ion-col col-12>*** กรุณาป้อนข้อมูล</ion-col>
      </ion-row> -->
    <ion-row>
        <ion-col col-6>ระบุวันที่เริ่มต้น</ion-col>
        <ion-col col-6>ระบุวันที่สิ้นสุด</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <button ion-button large full color="secondary" (click)="onOpenStartDate()">
          <ion-icon ios="ios-calendar" md="md-calendar" item-start> </ion-icon> 
          <span>{{ startDate | date: 'dd-MM-yyyy' }}</span>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button large full color="secondary" (click)="onOpenEndDate()">
          <ion-icon ios="ios-calendar" md="md-calendar" item-start> </ion-icon> 
          <span>{{ endDate | date: 'dd-MM-yyyy' }}</span>
        </button>
      </ion-col>
    
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <button ion-button large full (click)="fetchRedeemHistory()">
          <span>ค้นหาข้อมูล</span>
          <ion-icon ios="ios-search" md="md-search"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list no-lines>
      <ion-item *ngFor="let item of HistoryHD" (click)="onSelected(item)">
        <h2>
          <ion-icon ios="ios-color-fill" md="md-color-fill" color="light"></ion-icon>
          <span class="nametitle">{{ item.createdate | date: 'dd-MM-yyyy   hh:mm:ss'}}
          </span>
        </h2>
        <p class="nametxt">เบอร์โทรช่าง :
          <span class="nameresult">{{ (item.mobileno === '9999999999') ? ' ไม่ระบุ ' : item.mobileno}}</span>
        </p>
        <p class="nametxt">จำนวน :
          <span class="nameresult">{{ item.qty }}</span>
          <span> เหรียญ</span>
        </p>
        <p class="nametxt">ยอดรวม : 
          <span class="nameresult">{{ item.totalamount | number: '1.0-0' }}</span>
          <span> บาท</span>
        </p>

        <!-- <ion-row>
          <ion-col class="nametxt" col-5>เบอร์โทรช่าง :</ion-col>
          <ion-col class="nametxt" col-6>{{ item.mobileno }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="nametxt" col-8>จำนวนเหรียญที่แลกรวม :</ion-col>
          <ion-col class="nametxt" col-4>{{ item.qty }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="nametxt" col-4>ยอดแลกรวม :</ion-col>
          <ion-col class="nametxt" col-6>{{ item.totalamount | number: '1.2-2' }}</ion-col>
        </ion-row> -->

        <button ion-button icon-only clear item-end>
            <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
        </button>

      </ion-item>
    </ion-list>

</ion-content>
