$tp-color:#2e323d;
$tp-color-l:rgba(46, 50, 61, 0.12941176470588237);
$tp-icon-color: #ff9900 ;
$tp-content-color:#ffffff;
$tp-font-color:#ff9900 ;

page-ep-coinstock-info {
    .toolbar-background {
        background-color: #ef6c00!important;
    } 
    .back-button {
        color: $tp-content-color;
    }
    .toolbar-title {
        color: $tp-content-color;
    }
    .content {
        background: #17181a;
            .item{
                background: #363636;
                border-bottom: 1px solid #17181a;
                .item-inner{
                    border: none;
                }
                .info-title{
                    color: $tp-font-color;
                }
                .info-detail{
                    
                    color: $tp-content-color;
                }
            }
    }
}
