<!--
  Generated template for the EpCoinstockInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ข้อมูลร้านค้า</ion-title>
  </ion-navbar>


</ion-header>


<ion-content padding>

    <ion-grid class="grid-content">

  <ion-item>
    <ion-grid item-content>
      <ion-row>
        <ion-col col-5>
          <ion-label class="info-title" text-wrap>รหัสร้านค้า</ion-label>
        </ion-col>
        <ion-col col-7>
          <ion-label class="info-detail"  text-wrap>{{customerInfo.solD_TO}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid item-content>
      <ion-row>
        <ion-col col-5>
          <ion-label class="info-title" text-wrap>ชื่อร้านค้า</ion-label>
        </ion-col>
        <ion-col col-7>
          <ion-label class="info-detail" text-wrap>{{customerInfo.cusT_NAME}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid item-content>
      <ion-row>
        <ion-col col-5>
          <ion-label class="info-title" text-wrap>เบอร์โทร</ion-label>
        </ion-col>
        <ion-col col-7>
          <ion-label class="info-detail" text-wrap>{{customerInfo.cusT_TEL_NO}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid item-content>
      <ion-row>
        <ion-col col-5>
          <ion-label class="info-title" text-wrap>อีเมล</ion-label>
        </ion-col>
        <ion-col col-7>
          <ion-label class="info-detail" text-wrap>{{customerInfo.cusT_MAIL}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid item-content>
      <ion-row>
        <ion-col col-5>
          <ion-label class="info-title" text-wrap>ที่อยู่</ion-label>
        </ion-col>
        <ion-col col-7>
          <ion-label class="info-detail" text-wrap>
            {{customerInfo.address}} {{customerInfo.street}} {{customerInfo.street}} {{customerInfo.suB_DISTRICT}} {{customerInfo.districT_DESC}}
            {{customerInfo.citY_DESC}} {{customerInfo.posT_CODE}}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

    </ion-grid>
</ion-content>






<ion-footer no-padding>
  <ion-toolbar no-padding class="footer-toolbar">
    <ion-row no-padding>
      <ion-col col-12 no-padding>
        <button ion-button full large color="secondary" no-margin (click)="KeepCoin()">รับแลกฝา</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>