<ion-content padding>
  <div class="header">
    <div class="header__logo">
      <img src="assets/imgs/DealerConnect/TOA.png">
    </div>
    <div class="header__username">
      {{ userInfo.userName }}
    </div>
    <div class="header__title">
      {{ (step == 1) ? 'ป้อนรหัส PIN' : 'ยืนยันรหัส PIN' }}
    </div>
  </div>
  <!--
  <ion-grid class="keypad" no-margin style="margin-top: 20px;">
    <ion-row style="padding: 0px 25px;">
      <ion-col col-2>
        <div class="keypad-res__text" *ngIf="step == 1">
          {{ (number1[0] != undefined) ? '*' : '' }}
        </div>
        <div class="keypad-res__text" *ngIf="step == 2">
          {{ (number2[0] != undefined) ? '*' : '' }}
        </div>
      </ion-col>
      <ion-col col-2>
        <div class="keypad-res__text" *ngIf="step == 1">
          {{ (number1[1] != undefined) ? '*' : '' }}
        </div>
        <div class="keypad-res__text" *ngIf="step == 2">
          {{ (number2[1] != undefined) ? '*' : '' }}
        </div>
      </ion-col>
      <ion-col col-2>
        <div class="keypad-res__text" *ngIf="step == 1">
          {{ (number1[2] != undefined) ? '*' : '' }}
        </div>
        <div class="keypad-res__text" *ngIf="step == 2">
          {{ (number2[2] != undefined) ? '*' : '' }}
        </div>
      </ion-col>
      <ion-col col-2>
        <div class="keypad-res__text" *ngIf="step == 1">
          {{ (number1[3] != undefined) ? '*' : '' }}
        </div>
        <div class="keypad-res__text" *ngIf="step == 2">
          {{ (number2[3] != undefined) ? '*' : '' }}
        </div>
      </ion-col>
      <ion-col col-2>
        <div class="keypad-res__text" *ngIf="step == 1">
          {{ (number1[4] != undefined) ? '*' : '' }}
        </div>
        <div class="keypad-res__text" *ngIf="step == 2">
          {{ (number2[4] != undefined) ? '*' : '' }}
        </div>
      </ion-col>
      <ion-col col-2>
        <div class="keypad-res__text" *ngIf="step == 1">
          {{ (number1[5] != undefined) ? '*' : '' }}
        </div>
        <div class="keypad-res__text" *ngIf="step == 2">
          {{ (number2[5] != undefined) ? '*' : '' }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="keypad">
    <ion-row style="margin: 10px 10px 0">
      <ion-col col-12 no-padding>
        <ion-row no-padding>
          <ion-col col-4 text-center class="keypad__number">
            <button ion-button (click)="keypress(1)">
              1
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad__number">
            <button ion-button (click)="keypress(2)">
              2
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad__number">
            <button ion-button (click)="keypress(3)">
              3
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 no-padding>
        <ion-row no-padding>
          <ion-col col-4 text-center class="keypad__number">
            <button ion-button (click)="keypress(4)">
              4
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad__number">
            <button ion-button (click)="keypress(5)">
              5
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad__number">
            <button ion-button (click)="keypress(6)">
              6
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 no-padding>
        <ion-row no-padding>
          <ion-col col-4 text-center class="keypad__number">
            <button ion-button (click)="keypress(7)">
              7
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad__number">
            <button ion-button (click)="keypress(8)">
              8
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad__number">
            <button ion-button (click)="keypress(9)">
              9
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 no-padding>
        <ion-row no-padding>
          <ion-col col-4 text-center class="keypad__number keypad__number--no-border" >
            <button ion-button (click)="clearNumber()">
             ล้าง
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad__number" >
            <button ion-button (click)="keypress(0)">
              0
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad__number keypad__number--no-border">
            <button ion-button (click)="delNumber()">
              <ion-icon name="md-backspace" style="font-size: 4rem"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  -->
  <ion-grid class="keypad-res" no-margin>
    <ion-row style="padding: 0px 25px;">
      <ion-col col-2>
        <div class="keypad-res__text" *ngIf="step == 1">
          {{ (number1[0] != undefined) ? '*' : '' }}
        </div>
        <div class="keypad-res__text" *ngIf="step == 2">
          {{ (number2[0] != undefined) ? '*' : '' }}
        </div>
      </ion-col>
      <ion-col col-2>
        <div class="keypad-res__text" *ngIf="step == 1">
          {{ (number1[1] != undefined) ? '*' : '' }}
        </div>
        <div class="keypad-res__text" *ngIf="step == 2">
          {{ (number2[1] != undefined) ? '*' : '' }}
        </div>
      </ion-col>
      <ion-col col-2>
        <div class="keypad-res__text" *ngIf="step == 1">
          {{ (number1[2] != undefined) ? '*' : '' }}
        </div>
        <div class="keypad-res__text" *ngIf="step == 2">
          {{ (number2[2] != undefined) ? '*' : '' }}
        </div>
      </ion-col>
      <ion-col col-2>
        <div class="keypad-res__text" *ngIf="step == 1">
          {{ (number1[3] != undefined) ? '*' : '' }}
        </div>
        <div class="keypad-res__text" *ngIf="step == 2">
          {{ (number2[3] != undefined) ? '*' : '' }}
        </div>
      </ion-col>
      <ion-col col-2>
        <div class="keypad-res__text" *ngIf="step == 1">
          {{ (number1[4] != undefined) ? '*' : '' }}
        </div>
        <div class="keypad-res__text" *ngIf="step == 2">
          {{ (number2[4] != undefined) ? '*' : '' }}
        </div>
      </ion-col>
      <ion-col col-2>
        <div class="keypad-res__text" *ngIf="step == 1">
          {{ (number1[5] != undefined) ? '*' : '' }}
        </div>
        <div class="keypad-res__text" *ngIf="step == 2">
          {{ (number2[5] != undefined) ? '*' : '' }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="keypad-btn">
    <ion-row>
      <ion-col col-12 no-padding>
        <ion-row no-padding>
          <ion-col col-4 text-center class="keypad-btn__number">
            <button ion-button (click)="keypress(1)">
              1
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad-btn__number">
            <button ion-button (click)="keypress(2)">
              2
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad-btn__number">
            <button ion-button (click)="keypress(3)">
              3
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 no-padding>
        <ion-row no-padding>
          <ion-col col-4 text-center class="keypad-btn__number">
            <button ion-button (click)="keypress(4)">
              4
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad-btn__number">
            <button ion-button (click)="keypress(5)">
              5
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad-btn__number">
            <button ion-button (click)="keypress(6)">
              6
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 no-padding>
        <ion-row no-padding>
          <ion-col col-4 text-center class="keypad-btn__number">
            <button ion-button (click)="keypress(7)">
              7
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad-btn__number">
            <button ion-button (click)="keypress(8)">
              8
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad-btn__number">
            <button ion-button (click)="keypress(9)">
              9
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 no-padding>
        <ion-row no-padding>
          <ion-col col-4 text-center class="keypad-btn__number keypad-btn__number--no-border">
            <button ion-button (click)="clearNumber()">
              ล้าง
             </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad-btn__number" >
            <button ion-button (click)="keypress(0)">
              0
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad-btn__number keypad-btn__number--no-border">
            <button ion-button (click)="delNumber()">
              <ion-icon name="md-backspace" style="font-size: 4rem"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
