page-dc-set-pin {
  @include dcContent;
  @include keypad;

  @include block('header') {
    @include element('logo') {
      margin-top: 10px;
      text-align: center;
    }

    @include element('username') {
      color: #ffffff;
      font-size: 1.8rem;
      text-align: center;
      margin: 5px 0;
    }

    @include element('title') {
      color: #ffffff;
      font-size: 2.3rem;
      font-weight: bold;
      text-align: center;
      margin: 5px 0;
    }
  }
  /*
  @include block('keypad') {
    @include element('text') {
      text-align: center;
      height: 30px;
      border-bottom: 3px solid #ffffff;
      font-size: 2rem;
      color: #FFFFFF;
      font-weight: bold;
      //margin-bottom: 10px;
    }

    @include element('number') {
      button {
        width: 6rem;
        height: 6rem;
        font-size: 2rem;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        background: none !important;
        box-shadow: none !important;
        margin: 0 0 0 0 !important;
      }

      @include modifier('no-border') {
        button {
          border: none !important;
        }
      }
    }
  }
  */
}
