<ion-header>
  <ion-navbar>
    <ion-title>
      รายงาน
    </ion-title>
  </ion-navbar>
  <ion-label class="sub-title">รายงานการแลกฝา</ion-label>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6 text-center>ระบุวันที่เริ่มต้น</ion-col>
      <ion-col col-6 text-center>ระบุวันที่สิ้นสุด</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button ion-button large full color="secondary" (click)="openStartDate()">
          <ion-icon ios="ios-calendar" md="md-calendar" item-start> </ion-icon>
          <span>&nbsp; {{ startDate | date: 'dd-MM-yyyy' }}</span>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button large full color="secondary" (click)="openEndDate()">
          <ion-icon ios="ios-calendar" md="md-calendar" item-start> </ion-icon>
          <span>&nbsp; {{ endDate | date: 'dd-MM-yyyy' }}</span>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <button ion-button large full (click)="fatchData()">
          <span>ค้นหาข้อมูล &nbsp;</span>
          <ion-icon ios="ios-search" md="md-search"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list class="accordion-list">
    <!-- First Level -->
    <ion-list-header *ngFor="let item of dealerExchange; let i = index" no-lines no-padding>
      <!-- Toggle Button -->
      <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <ion-icon item-left class="txt-orange" name="arrow-forward" *ngIf="!item.open"></ion-icon>
        <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
        <span>{{ item.saledate }}</span>
      </button>

      <ion-list *ngIf="item.details && item.open" no-lines>
        <!-- Second Level -->
        <ion-list-header *ngFor="let child of item.details; let j = index" no-padding>
          <!-- Toggle Button -->
          <button ion-item (click)="toggleItem(i, j)" *ngIf="child.details" class="child" detail-none>
            <ion-icon item-left name="add" *ngIf="!child.open"></ion-icon>
            <ion-icon item-left name="close" *ngIf="child.open"></ion-icon>
            {{ child.totalgrandamount }}
          </button>

          <!-- Direct Add Button as Fallback -->
          <ion-item *ngIf="!child.details" ion-item detail-none class="child-item" text-wrap (click)="onClickDetail(child.saledate,child.saleqty,child.totalgrandamount)">
            <!-- <p class="txt-header-sale">ลำดับที่ {{j+1}}</p> -->

            <ion-row>
              <ion-col col-6>
                <p text-lowercase class="txt-orange">Sale Name :
                  <span class="txt-white">{{child.salename}}</span>
                </p>
                <p text-lowercase class="txt-orange">ยอดที่ร้านรับ :
                  <span class="txt-white">{{child.dealerqty}}</span>
                </p>
                <p text-lowercase class="txt-orange">ยอดที่ Sale รับ :
                  <span class="txt-white">{{ child.saleqty }}</span>
                </p>

                <p text-lowercase class="txt-orange">ผลต่าง :
                  <span class="txt-white">{{ child.diffqty }}</span>
                </p>

                <p text-lowercase class="txt-orange">ค่าแลก :
                  <span class="txt-white">{{ child.saleamount }}</span>
                </p>

                <p text-lowercase class="txt-orange">ค่ารักษาฝาหลังหัก WHT :
                  <span class="txt-white">{{ child.valepsaleamount }}</span>
                </p>

                <p text-lowercase class="txt-orange">วันที่สั่งจ่าย
                  <span class="txt-white">{{ child.paydate }}</span>
                </p>
              </ion-col>

              <ion-col col-6>
                <button class="btn-orange btn-right txt-orange" ion-button outline>
                  <strong class="txt-white">จำนวนรวม
                    <br/>{{ child.totalgrandamount }} บ.</strong>
                </button>
              </ion-col>
            </ion-row>
            <button ion-button icon-only clear item-end>
                <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
              </button>
          </ion-item>

          <ion-list *ngIf="child.details && child.open">
            <!-- Third Level -->
            <ion-item *ngFor="let item of child.details; let k = index" detail-none class="child-item" text-wrap>
              <h2>{{ item.paydate }}</h2>
              <p text-lowercase>{{ item.totalgrandamount }}</p>
              <!-- Direct Add Button -->
              <button ion-button outline item-end (click)="buyItem(item)">{{ item.saleqty }}</button>
            </ion-item>
          </ion-list>
        </ion-list-header>
      </ion-list>
    </ion-list-header>
  </ion-list>
</ion-content>

<ion-footer no-padding>
  <ion-toolbar no-padding class="footer-toolbar">
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full large color="danger" (click)="cancel()">ยกเลิก</button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button full large color="primary" (click)="downloadCSV()">Export</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>