page-dc-contact {
  @include dcHeader;

  ion-list {
    margin: 16px !important;
    border: 0px !important;

    ion-item {
      position: relative;
      padding-left: 0px !important;

      &:first-child {
        border-top: none !important;
      }

      &:last-child {
        border-bottom: none !important;
      }

      .item-inner {
        //padding-left: 15px;
        padding-right: 0px !important;
        //border-bottom: none !important;
      }
    }
    margin-bottom: 0px !important;
  }

  .icon-md {
    margin-right: 0px !important;
    position: absolute;
    top: 0px;
  }

  ion-label {
    white-space: normal !important;
  }

  @include block('contact-item') {
    position: relative;

    @include element('icon') {
      position: absolute;
      top: 0;
      left: 5px;

      .icon {
        font-size: 2.5rem;
        color: #00d8ce;
      }
    }

    @include element('body') {
      margin-left: 35px;

      @include element('title') {
        font-weight: bold;
        font-size: 1.40rem;
        margin-bottom: 5px;
      }

      small {
        font-size: 1.1rem;
      }

      table {

        width: 100%;

        tr {
          td {
            padding: 10px 0;
          }
        }
      }
    }
    /*
    @include element('header') {
      font-size: 1.6rem;
      font-weight: bold;
      color: color($colors, 'primary');
      margin-bottom: 10px;
    }

    @include element('text') {
      font-size: 1.3rem;

      @include element('title') {
        font-weight: bold;
        font-size: 1.4rem;
        margin-bottom: 5px;
      }

      small {
        font-size: 1.1rem;
      }

      table {

        width: 100%;

        tr {
          td {
            padding: 10px 0;
          }
        }
      }
    }
    */
  }
}
