<ion-header>
  <ion-navbar>
    <ion-title>ติดต่อ TOA</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <iframe 
      width="100%" 
      height="300px" 
      frameBorder="0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCeOoRsXw-3w637198BlsTtVevBFa426Rs&q=บริษัท+ทีโอเอ+เพ้นท์+(ประเทศไทย)+จำกัด+(มหาชน)">
  </iframe>
  <ion-list>
    <ion-item>
      <div class="contact-item">
        <div class="contact-item__icon">
          <ion-icon name="pin"></ion-icon>
        </div>
        <div class="contact-item__body">
          <div class="contact-item__body__title">
            บริษัท ทีโอเอ เพ้นท์ (ประเทศไทย) จำกัด (มหาชน)
          </div>
          <span style="font-size: 1.3rem; color: #757575;">
            สำนักงานใหญ่ 31/2 หมู่ที่ 3 ถนนบางนา-ตราด ตำบลบางเสาธง อ.บางเสาธง จ.สมุทรปราการ 10570
          </span>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <!--
      <ion-icon name="call" item-start></ion-icon>
      <div class="contact__text">
        <div class="contact__text__title">
          เบอร์โทรศัพท์
        </div> 
        <table>
          <tr>
            <td width="170">
              BUSINESS LINE
            </td>
            <td align="right">
              <a href="tel:+02-335-5555">
                02-335-5555
              </a>
            </td>
          </tr>
          <tr>
            <td width="170">
              CALL CENTER <br>
              <small>(สารตรงบริการลูกค้าสัมพันธ์)</small>
            </td>
            <td align="right">
              <a href="tel:+02-335-5777">
                02-335-5777
              </a>
            </td>
          </tr>
          <tr>
            <td width="170">
              AUTOTINT SERVICE CENTER<br>
              <small>(ฝ่ายบริการเครื่องผสมสีอัตโนมัติ)</small>
            </td>
            <td align="right">
              <a href="tel:+02-335-5555">
                02-335-5666
              </a>
            </td>
          </tr>
        </table>
      </div>
      -->
      <div class="contact-item">
        <div class="contact-item__icon">
          <ion-icon name="call"></ion-icon>
        </div>
      </div> 
      <div class="contact-item__body">
        <div class="contact-item__body__title">
          เบอร์โทรศัพท์
        </div>
        <table>
          <tr>
            <td width="170" style="font-size: 1.3rem">
              BUSINESS LINE
            </td>
            <td align="right">
              <a href="tel:+02-335-5555" style="font-size: 1.3rem;">
                02-335-5555
              </a>
            </td>
          </tr>
          <tr>
            <td width="170" style="font-size: 1.3rem">
              CALL CENTER <br>
              <small>(สารตรงบริการลูกค้าสัมพันธ์)</small>
            </td>
            <td align="right">
              <a href="tel:+02-335-5777" style="font-size: 1.3rem;">
                02-335-5777
              </a>
            </td>
          </tr>
          <tr>
            <td width="170" style="font-size: 1.3rem">
              AUTOTINT SERVICE CENTER<br>
              <small>(ฝ่ายบริการเครื่องผสมสีอัตโนมัติ)</small>
            </td>
            <td align="right">
              <a href="tel:+02-335-5555" style="font-size: 1.3rem;">
                02-335-5666
              </a>
            </td>
          </tr>
        </table>
      </div>
    </ion-item>
    <ion-item>
      <div class="contact-item">
        <div class="contact-item__icon">
          <ion-icon name="mail" style="font-size: 2.1rem"></ion-icon>
        </div>
        <div class="contact-item__body">
          <div class="contact-item__body__title">
            E-mail
          </div> 
          <a href="mailto:contact@toagroup.com">
            contact@toagroup.com
          </a>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>