@mixin block($element) {
  .#{$element} {
    @content;
  }
}

@mixin element($element) {
  &#{'__'+$element} {
    @content;
  }
}

@mixin modifier($modifier) {
  @at-root {
    $oldest_ancestor: nth(&, 1);
    $parent: nth($oldest_ancestor, length($oldest_ancestor));

    #{$parent+'--'+$modifier} {
      @extend #{$parent};
    }

    #{&}#{'--'+$modifier} {
      @content;
    }
  }
}

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin linear-gradient($from, $to) {
  background: $to;
  background: -moz-linear-gradient(top, $from 0%, $to 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient(top, $from 0%,$to 100%);
  background: -o-linear-gradient(top, $from 0%,$to 100%);
  background: linear-gradient(to bottom, $from 0%,$to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}

@mixin horizontal-gradient($from, $to, $stop: 100%) {
  background-color: $from;
  background-image: -moz-linear-gradient(left, $from 0%, $to $stop);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $from), color-stop($stop, $to));
  background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);
  background-image: -o-linear-gradient(left, $from 0%, $to $stop);
  background: -ms-linear-gradient(left, $from 0%, $to $stop);
  background: linear-gradient(to right, $from 0%, $to $stop);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}


@mixin dcContent {
  ion-content {
    @include linear-gradient(rgb(6, 106, 212), rgb(242, 113, 172));
    //@include linear-gradient(#00d8ce, #c8e502);
  }
}

@mixin dcHeader {
  ion-navbar,
  ion-toolbar {
    .toolbar-title {
      color: #ffffff !important;
    }

    .toolbar-background {
      @include horizontal-gradient(#00d8ce, #c8e502);
    }

    .searchbar-input {
      background: #FFFFFF !important;
    }

    .back-button-ios {
      //font-size: 1.65rem;
    }
  }


  .bar-button {
    &.bar-button-ios {
      //font-size: 1.35rem !important;
    }

    .button-inner {
      color: #FFFFFF !important;

      ion-icon {
        //font-weight: bold;
      }
    }
  }
}

@mixin dcHeader2 {
  ion-navbar,
  ion-toolbar {
    .toolbar-title {
      color: #ffffff !important;
    }

    .toolbar-background {
      @include horizontal-gradient(rgb(6, 106, 212), rgb(242, 113, 172));
    }

    .searchbar-input {
      background: #FFFFFF !important;
    }

    .back-button-ios {
      //font-size: 1.65rem;
    }
  }


  .bar-button {
    &.bar-button-ios {
      //font-size: 1.35rem !important;
    }

    .button-inner {
      color: #FFFFFF !important;

      ion-icon {
        //font-weight: bold;
      }
    }
  }
}

/** eOrdering **/
@mixin eoHeader {
  ion-navbar,
  ion-toolbar {
    .toolbar-title {
      color: #ffffff !important;
    }

    .toolbar-background {
      @include horizontal-gradient(#3a7bd5, #11bde2);
    }

    .searchbar-input {
      background: #FFFFFF !important;
    }

    .back-button-ios {
      //font-size: 1.65rem;
    }
  }


  .bar-button {
    &.bar-button-ios {
      //font-size: 1.35rem !important;
    }

    .button-inner {
      color: #FFFFFF !important;

      ion-icon {
        //font-weight: bold;
      }
    }
  }
}



/**  ePocket Only -----  E-Or ห้ามใช้ **/
@mixin epIonHeader {
  $ep-bg-content:#17181a;
  $ep-bg-header:#ef6c00;
  $ep-bg-box:#2e323d;
  $ep-txt-orange:#ff9900;
  $ep-txt-white:#ffffff;

  .toolbar-background {
    background: $ep-bg-header;
  }

  .toolbar-title {
    color: $ep-txt-white !important;
  }

  .bar-button {
    .button-inner {
      color: $ep-txt-white !important;

      ion-icon {
        font-weight: bold;
      }
    }
  }
}


// === Report ===

@mixin epReportHeader{
  .sub-title{
    color: #ffffff;
    text-align: center;
    padding: 5px;
    font-size: 1.2em;
  }
}
@mixin epReportGrid {
  ion-grid{
    background-color: #363636;
    border-radius: 0px;
    margin-top: 10px !important;
    color: #fff;
    ion-row {
      // background-color: #d4d7df;
      // //2e323d
      // border-radius: 15px;
      // margin-top: 10px !important;

    }
    ion-col {
      .text-header{
        color: #ffffff;
        font-size: 1.3em
      }
      
      .text-name{
        color: #ffffff;
        font-size: 1.1em;
        text-align: right;
      }
      .text-amount{
        color: #ff9900;
        font-size: 1.1em;
        text-align: right;
        
      }
      
    }
  }

 .child {
    background: $ep-bg-box;
    color: $ep-txt-white;
    margin-bottom: 4px;
    
 }

.child-item {
    background: $ep-bg-box;
    color: $ep-txt-white; 
    padding: 10px 5px;
    border-bottom: 1px solid $ep-bg-content !important;
 } 
}


@mixin epReportContent{
  .scroll-content {
    margin-top: 70px !important;
    ion-row{
      ion-col{
        button{
           height: 2em;
        }
      }
    }
  }
  
  .content {
    background: #17181a;
  }
}


@mixin epReportTextColor{
  .txt-orange{
    color: $ep-txt-orange;
    text-transform: uppercase !important;
  }
  .txt-orange-title{
    color: $ep-txt-orange;
    font-size: 2rem;
  }
  .txt-white{
    color: $ep-txt-white;
  }
}


@mixin epReportBottom{
  .back-button {
    color: #ffffff;
  }

  button{
    margin: 0 !important;
    .button-md-danger{
      background: #c34a41;
    }
  }

  .btn-orange{
    padding: 20px !important;
    border:1px solid $ep-txt-orange;
  }

 
  .btn-right{
    left: 11px;
    top: 46px;
  }

}

@mixin epReportLabel{
 .label {
    margin: 0px;
 }
 .list {
    margin-bottom: 0px;
 }
}

@mixin epReportAccordion{
  .accordion-list {
    background: $ep-bg-box;
    height: 100%;
    ion-list-header{
      border: none;
      margin: 0;
    }
 }

 .section {
    background: $ep-bg-box;
    color: $ep-txt-white;
    border-bottom: 1px solid $ep-bg-content;
    margin-bottom: 4px;
    .txt-orange{
      color: $ep-txt-orange;
  }
  
 }

 .section-active {
    background: $ep-bg-header;
    color: #fff;
 }

}


@mixin keypad {
  @include block('keypad-res') {
    margin-bottom: 10px;
    
    @include element('text') {
      text-align: center;
      height: 30px;
      border-bottom: 3px solid #ffffff;
      font-size: 2rem;
      color: #FFFFFF;
      font-weight: bold;
      //margin-bottom: 10px;
    }
  }

  @include block('keypad-btn') {
    @include element('number') {
      button {
        width: 7.5rem;
        height: 7.5rem;
        font-size: 2rem;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        background: none !important;
        box-shadow: none !important;
        margin: 0 0 0 0 !important;
      }
      
      @include modifier('no-border') {
        button {
          border: none !important;
        }
      }
    }
  }
}
