<ion-header>
  <!-- <ion-navbar>
    <ion-searchbar [(ngModel)]="search" (ionChange)="searchProduct($event)" placeholder="ค้นหาสินค้า"></ion-searchbar>
    <ion-buttons end>
      <button ion-button clear (click)="scanner()">
        <ion-icon name="ios-barcode-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar> -->
  <ion-toolbar no-border-top>
    <ion-searchbar [(ngModel)]="search" (ionChange)="searchProduct($event)" placeholder="ค้นหาสินค้า"></ion-searchbar>
    <ion-buttons end>
      <button ion-button clear (click)="scanner()">
        <ion-icon name="ios-barcode-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="results?.length > 0 && search != ''">
    <ion-item *ngFor="let product of results" (click)="selectProduct(product)">
      <strong>{{ product.btf }}</strong> {{ product.btfWebDescTh }}
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-row no-padding>
    <ion-col col-12 no-padding>
      <button ion-button full no-margin mode="ios" (click)="gotoHome()">
        กลับสู่หน้าแรก
      </button>
    </ion-col>
  </ion-row>
</ion-footer>
