page-eo-product-search {
  @include eoHeader;

  .searchbar-ios {
    min-height: 0px !important;
  }

  .ion-ios-barcode-outline {
    font-size: 3.5rem !important;
  }

  ion-list {
    margin-bottom: 0px !important;

    // ios
    &.list-ios {
      ion-item {
        padding-left: 0px !important;
        font-size: 1.380rem;

        .item-inner {
          padding-left: 8px;
          //border-bottom: none !important;

          &:last-child {
            border-bottom: none !important;
          }
        }
      }
    }

    // android
    &.list-md {
      ion-item {
        padding-left: 0px !important;
        font-size: 1.380rem;

        .item-inner {
          padding-left: 8px;
          //border-bottom: none !important;
        }
      }
    }
  }
}
