<ion-header>
  <ion-navbar>
    <ion-title>เลือกธนาคาร</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of BankList" (click)="onSelectBank(item)">
        <p class="bank-name" text-wrap>
          <b> {{  item.bankname }}</b> 
        </p>
      </ion-item>
    </ion-list>
</ion-content>
