<ion-header>
  <ion-navbar>
    <ion-title>
      รายงาน
    </ion-title>
  </ion-navbar>
  <ion-label class="sub-title">รอร้านค้ายืนยัน</ion-label>
</ion-header>
<ion-content padding>
    <ion-grid></ion-grid>
  <ion-list class="accordion-list">
    <!-- First Level -->
    <ion-list-header *ngFor="let item of DataReport; let i = index" no-lines no-padding>
      <!-- Toggle Button -->
      <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <ion-icon item-left class="txt-orange" name="arrow-forward" *ngIf="!item.open"></ion-icon>
        <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
        {{ item.dealercode }} - {{ item.dealername }}
      </button>

      <ion-list *ngIf="item.details && item.open" no-lines>
        <!-- Second Level -->
        <ion-list-header *ngFor="let child of item.details; let j = index" no-padding>
          <!-- Direct Add Button as Fallback -->
          <ion-item *ngIf="!child.details" ion-item detail-none class="child-item" text-wrap > <!-- (click)="DetailOnClick(child.dealercode,child.salecreatedate)"-->
            <ion-grid class="grid-content">
              <ion-row>
                <ion-col col-3 text-center>
                  <span>มูลค่าฝา</span>
                </ion-col>
                <ion-col col-5 text-center>
                  <span>ร้านค้ารับ</span>
                </ion-col>
                <ion-col col-4 text-center>
                  <span>Sale รับ</span>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-3 text-center>
                  <span class="dt-content" text-center>{{child.cointypename}}</span>
                </ion-col>
                <ion-col col-5 text-center>
                  <span class="dt-content" text-center>{{child.dealerqty}} </span>
                </ion-col>
                <ion-col col-4 text-center>
                  <span text-center>{{child.saleqty}} </span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list-header>
      </ion-list>
    </ion-list-header>
  </ion-list>
</ion-content>

<ion-footer no-padding>
  <ion-toolbar no-padding class="footer-toolbar">
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full large color="danger" (click)="cancel()">ยกเลิก</button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button full large color="primary" (click)="downloadCSV()">Export</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>