<ion-header>
  <ion-navbar>
    <!-- <ion-title>คำขอสร้าง/แก้ไขข้อมูลทางบัญชี</ion-title> -->
    <ion-title>ส่งคำขอแก้ไขข้อมูลส่วนตัว</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid class="grid-content">
    <ion-row padding class="row-content">
      <h2 class="detail-amount">{{ customerInfo.customerCode}} - {{ customerInfo.customerName}}</h2>

      <ion-col col-12>
        <h2 class="detail-amount">ชื่อบัญชี <span class="request">*</span></h2>
      </ion-col>
      <ion-col col-12 text-center>
        <ion-item>
          <ion-input type="text" [(ngModel)]="inputAccountName" placeholder="ชื่อบัญชี"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <h2 class="detail-amount">ธนาคาร <span class="request">*</span></h2>
      </ion-col>
      <ion-col col-12 text-center>
        <ion-item>
          <ion-textarea type="text" [(ngModel)]="inputBankName" (click)="BankSelect()" placeholder="Select One..."></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <h2 class="detail-amount">สาขา <span class="request">*</span></h2>
      </ion-col>
      <ion-col col-12 text-center>
        <ion-item>
          <ion-input type="text" [(ngModel)]="inputBankBranchName" (click)="BankBranchSelect()" placeholder="สาขา"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <h2 class="detail-amount">เลขที่บัญชี <span class="request">*</span></h2>
      </ion-col>
      <ion-col col-12 text-center>
        <ion-item>
          <ion-input type="number"  pattern="[0-9]*" [(ngModel)]="inputBankAccount" placeholder="เลขที่บัญชี" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>  
<ion-footer no-padding>
  <ion-toolbar no-padding class="footer-toolbar">
    <ion-row no-padding>
      <ion-col col-12 no-padding>
        <button ion-button full large color="primary" (click)="next()">ถัดไป</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>