<ion-header>
  <ion-navbar>
    <ion-title>ติดต่อ TOA</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="contact__header">
    <div class="contact__header__image">
      <img [src]="config.partImgLogin + '/logo-toa.png'">
    </div>
    <div class="contact__header__title">
      บริษัท ทีโอเอ เพ้นท์ (ประเทศไทย) จำกัด (มหาชน)
    </div>
    <div class="contact__header__description">
      สำนักงาน และศูนย์อุตสาหกรรม ทีโอเอ บางนา-ตราด<br>
      31/2 หมู่ 3 ถนนบางนา-ตราด ตำบลบางเสาธง อ.บางเสาธง จ.สมุทรปราการ 10570
    </div>
  </div>
  <div class="contact__content">
    <div class="contact__content__title">
      CALL CENTER
    </div>
    <div class="contact__content__description">
      (สายตรงบริการลูกค้าสัมพันธ์) <a href="tel:02-335-5777">02-335-5777</a>
    </div>
  </div>
  <div class="contact__content">
    <div class="contact__content__title">
      AUTOTINT SERVICE CENTER
    </div>
    <div class="contact__content__description">
      (ฝ่ายบริการเครื่องผสมสีอัตโนมัติ) <a href="tel:02-335-5666">02-335-5666</a>
    </div>
  </div>
  <div class="contact__content">
    <div class="contact__content__title">
      ฝ่ายบริการลูกค้า
    </div>
    <div class="contact__content__description">
      <ul class="list-unstyled">
        <li>ท่านสามารถติดตามสินค้า</li>
        <li>การสั่งซื้อ / การจัดส่ง ตามเขตพื้นที่</li>
        <li>ในเวลาทำการ จันทร์-เสาร์ เวลา 08:00 - 17:00 น.</li>
        <li>อีเมล : <a href="mailto:eorder-cs@toagroup.com">eorder-cs@toagroup.com</a></li>
      </ul>
    </div>
  </div>
  <div class="contact__content">
    <div class="contact__content__description">
      <table>
        <thead>
          <tr>
            <th>เขตพื้นที่</th>
            <th>ติดต่อ : โทร</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td align="left">
              <b>กรุงเทพฯ และ ปริมณฑล</b>
            </td>
            <td align="center">
              <a href="tel:02-335-5743">
                02-335-5743
              </a>
            </td>
          </tr>
          <tr>
            <td align="center"></td>
            <td align="center">
              <a href="tel:02-335-5748">
                02-335-5748
              </a>
            </td>
          </tr>
          <tr>
            <td align="center"></td>
            <td align="center">
              <a href="tel:02-335-5751">
                02-335-5751
              </a>
            </td>
          </tr>
          <tr>
            <td align="center"></td>
            <td align="center">
              <a href="tel:02-335-5754">
                02-335-5754
              </a>
            </td>
          </tr>
          <tr>
            <td align="center"></td>
            <td align="center">
              <a href="tel:02-335-5755">
                02-335-5755
              </a>
            </td>
          </tr>
          <tr>
            <td align="center"></td>
            <td align="center">
              <a href="tel:02-335-5760">
                02-335-5760
              </a>
            </td>
          </tr>
          <tr>
            <td align="center"></td>
            <td align="center">
              <a href="tel:02-335-5765">
                02-335-5765
              </a>
            </td>
          </tr>
          <tr>
            <td align="center"></td>
            <td align="center">
              <a href="tel:02-335-5776">
                02-335-5776
              </a>
            </td>
          </tr>
          <tr>
            <td align="left">
              <b>ต่างจังหวัด</b>
            </td>
            <td align="center">
              <a href="tel:02-335-5742">
                02-335-5742
              </a>
            </td>
          </tr>
          <tr>
            <td align="center"></td>
            <td align="center">
              <a href="tel:02-335-5744">
                02-335-5744
              </a>
            </td>
          </tr>
          <tr>
            <td align="center"></td>
            <td align="center">
              <a href="tel:02-335-5750">
                02-335-5750
              </a>
            </td>
          </tr>
          <tr>
            <td align="center"></td>
            <td align="center">
              <a href="tel:02-335-5753">
                02-335-5753
              </a>
            </td>
          </tr>
          <tr>
            <td align="center"></td>
            <td align="center">
              <a href="tel:02-335-5756">
                02-335-5756
              </a>
            </td>
          </tr>
          <tr>
            <td align="center"></td>
            <td align="center">
              <a href="tel:02-335-5759">
                02-335-5759
              </a>
            </td>
          </tr>
          <tr>
            <td align="center"></td>
            <td align="center">
              <a href="tel:02-335-5764">
                02-335-5764
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div style="margin: 10px 0px;">
    <div class="contact__title">
      ผู้บริหารเขตขาย
    </div>
    <div class="contact__content">
      <div class="contact__content__description">
        <table>
          <tbody>
            <tr>
              <td width="100">
                ชื่อ :
              </td>
              <td>
                {{ customerInfo.salesMgrName }}
              </td>
            </tr>
            <tr>
              <td width="100">
                เขตขาย :
              </td>
              <td>
                {{ customerInfo.salesGroupDesc }}
              </td>
            </tr>
            <tr>
              <td width="100">
                เบอร์โทรศัพท์ :
              </td>
              <td>
                <a href="tel:{{ customerInfo.salesMgrTel }}">
                  {{ customerInfo.salesMgrTel }}
                </a>
              </td>
            </tr>
            <tr>
              <td width="100">
                อีเมล์ :
              </td>
              <td>
                {{ customerInfo.salesMgrMail }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div style="margin: 10px 0px;">
    <div class="contact__title">
      ผู้แทนขาย
    </div>
    <div class="contact__content" *ngIf="customerInfo.salesTAName != ''">
      <div class="contact__content__description">
        <table>
          <tbody>
          <tr>
            <td width="100">
              ชื่อ :
            </td>
            <td>
              {{ customerInfo.salesTAName }}
            </td>
          </tr>
          <tr>
            <td width="100">
              เขตขาย :
            </td>
            <td>
              {{ customerInfo.custTA }}&nbsp;{{ customerInfo.custTADesc }}
            </td>
          </tr>
          <tr>
            <td width="100">
              เบอร์โทรศัพท์ :
            </td>
            <td>
              <a href="tel:{{ customerInfo.salesTATel }}">
                {{ customerInfo.salesTATel }}
              </a>
            </td>
          </tr>
          <tr>
            <td width="100">
              อีเมล์ :
            </td>
            <td>
              {{ customerInfo.salesTAMail }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="contact__content" *ngIf="customerInfo.salesTBName != ''">
      <div class="contact__content__description">
        <table>
          <tbody>
          <tr>
            <td width="100">
              ชื่อ :
            </td>
            <td>
              {{ customerInfo.salesTBName }}
            </td>
          </tr>
          <tr>
            <td width="100">
              เขตขาย :
            </td>
            <td>
              {{ customerInfo.custTB }}&nbsp;{{ customerInfo.custTBDesc }}
            </td>
          </tr>
          <tr>
            <td width="100">
              เบอร์โทรศัพท์ :
            </td>
            <td>
              <a href="tel:{{ customerInfo.salesTBTel }}">
                {{ customerInfo.salesTBTel }}
              </a>
            </td>
          </tr>
          <tr>
            <td width="100">
              อีเมล์ :
            </td>
            <td>
              {{ customerInfo.salesTBMail }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="contact__content" *ngIf="customerInfo.salesTKName != ''">
      <div class="contact__content__description">
        <table>
          <tbody>
          <tr>
            <td width="100">
              ชื่อ :
            </td>
            <td>
              {{ customerInfo.salesTKName }}
            </td>
          </tr>
          <tr>
            <td width="100">
              เขตขาย :
            </td>
            <td>
              {{ customerInfo.custTK }}&nbsp;{{ customerInfo.custTKDesc }}
            </td>
          </tr>
          <tr>
            <td width="100">
              เบอร์โทรศัพท์ :
            </td>
            <td>
              <a href="tel:{{ customerInfo.salesTKTel }}">
                {{ customerInfo.salesTKTel }}
              </a>
            </td>
          </tr>
          <tr>
            <td width="100">
              อีเมล์ :
            </td>
            <td>
              {{ customerInfo.salesTKMail }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div style="margin: 10px 0px;">
    <div class="contact__title">
      บัญชีสินเชื่อและลูกหนี้
    </div>
    <div class="contact__content">
      <div class="contact__content__description" >
        <table>
          <tbody>
          <tr>
            <td width="100">
              ชื่อ :
            </td>
            <td>
              {{ customerInfo.arOff }}
            </td>
          </tr>
          <tr>
            <td width="100">
              เบอร์โทรศัพท์ :
            </td>
            <td>
              <a href="tel:{{ customerInfo.accMemo }}">
                {{ customerInfo.accMemo }}
              </a>
            </td>
          </tr>
          <tr>
            <td width="100">
              อีเมล์ :
            </td>
            <td>
              eorder-ar@toagroup.com
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ion-content>
