page-eo-contact {
  @include eoHeader;

  td {
    padding-bottom: 10px !important;
  }

  table {
    width: 100%;
  }

  @include block('contact') {
    @include element('title') {
      width: 100%;
      font-weight: bold;
      font-size: 1.450rem;
      text-align: center;
      background-color: color($colors, 'primary');
      padding: 7px;
      border-radius: 5px;
      color: #ffffff;
      margin-bottom: 5px;
    }

    @include element('header') {
      margin-bottom: 10px;

      @include element('image') {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        
        img {
          width: 90%;
        }
      }

      @include element('title') {
        font-weight: bold;
        color: color($colors, 'primary');
        margin-bottom: 10px;
        font-size: 1.600rem;
      }

      @include element('description') {
        font-size: 1.2rem;
      }
    }

    @include element('content') {
      border: 1px solid #ddd;
      padding: 8px;
      margin-bottom: 10px;

      @include element('title') {
        font-weight: bold;
        margin-bottom: 5px;
      }

      @include element('description') {
        font-size: 1.2rem;
      }
    }
  }

  table {
    width: 100%;

    thead {
      tr {
        th {
          padding: 5px 5px 5px 5px;
        }

        border-bottom: 2px solid #ddd;
      }
    }
    tbody {
      tr {
        &:last-child {
          border-bottom: 0 !important;
        }

        td {
          padding: 3px;
        }

        //border-bottom: 1px solid #ddd;
      }
    }
  }
}
