// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// .scroll-content {
//   margin-bottom: 0px !important;
//   padding-bottom: 0px !important;
// }
.favorite {
  font-size: 30px;
  color: #e0e0e0;

  &.active {
    color: #FFEB3B !important;
  }
}

.list-inline {
  list-style: none;
  display: inline-block;
  padding-left: 0px;
  margin: 0px;

  li {
    float: left;
  }
}

.list-unstyled {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.alert-ios, .alert-md {
  .alert-radio-label {
    white-space: initial !important;
  }
}

@include block('promotion') {
  @include element('modal') {
    @media (min-width: 300px) and (min-height: 500px) {
      ion-backdrop {
        visibility: visible;
        opacity: 0.6 !important;
      }
    }
    
    .modal-wrapper {
      position: absolute;
      overflow: hidden;
      width: 90%;
      height: 60vh;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: 0;
      border-radius: 10px !important;
      box-shadow: 0 16px 20px rgba(0,0,0,.4);
      background-color: #fafafa;
      border: 2px solid #488aff;
    }
  }
}

@include block('table') {
  @include element('message') {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;

    thead {
      tr {
        th {
          background-color: rgb(161, 223, 163);
          height: 25px;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #828282;

        td {
          padding: 2px 8px;
        }
      }
    }
  }
}

.TextLeft{
  text-align: left !important;
}

.TextResult{
  color: #ff9900 !important;
}

.AlertTitleRed{
  color: #ff0000 !important;
}

.text-bold {
  font-weight: bold !important;
}

.text-red {
  color: red;
}

/** IOS FIX HEADER **/
// .ios ion-nav > .ion-page > .toolbar.statusbar-padding:first-child,
// .ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child,
// .ios ion-tab > .ion-page > .toolbar.statusbar-padding:first-child,
// .ios ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child,
// .ios ion-tabs > .ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child,
// .ios ion-menu > .menu-inner > .toolbar.statusbar-padding:first-child,
// .ios ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child {
//   padding-top: calc(20px + 4px) !important;
//   min-height: calc(44px + 20px) !important;
// }

// .ios ion-nav > .ion-page > ion-content.statusbar-padding:first-child .scroll-content,
// .ios ion-nav > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content,
// .ios ion-tab > .ion-page > ion-content.statusbar-padding:first-child .scroll-content,
// .ios ion-tab > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content,
// .ios ion-tabs > .ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child .scroll-content,
// .ios ion-menu > .menu-inner > ion-content.statusbar-padding:first-child .scroll-content,
// .ios ion-menu > .menu-inner > ion-header > ion-content.statusbar-padding:first-child .scroll-content {
//   padding-top: 20px !important;
// }

// .ios ion-nav > .ion-page > ion-content.statusbar-padding:first-child[padding] .scroll-content,
// .ios ion-nav > .ion-page > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
// .ios ion-nav > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
// .ios ion-nav > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
// .ios ion-tab > .ion-page > ion-content.statusbar-padding:first-child[padding] .scroll-content,
// .ios ion-tab > .ion-page > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
// .ios ion-tab > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
// .ios ion-tab > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
// .ios ion-tabs > .ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
// .ios ion-tabs > .ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
// .ios ion-menu > .menu-inner > ion-content.statusbar-padding:first-child[padding] .scroll-content,
// .ios ion-menu > .menu-inner > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
// .ios ion-menu > .menu-inner > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
// .ios ion-menu > .menu-inner > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content {
//   padding-top: calc(16px + 20px) !important;
// }

// .ios ion-nav > .ion-page > .toolbar.statusbar-padding:first-child ion-segment,
// .ios ion-nav > .ion-page > .toolbar.statusbar-padding:first-child ion-title,
// .ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-segment,
// .ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-title,
// .ios ion-tab > .ion-page > .toolbar.statusbar-padding:first-child ion-segment,
// .ios ion-tab > .ion-page > .toolbar.statusbar-padding:first-child ion-title,
// .ios ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-segment,
// .ios ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-title,
// .ios ion-tabs > .ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child ion-segment,
// .ios ion-tabs > .ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child ion-title,
// .ios ion-menu > .menu-inner > .toolbar.statusbar-padding:first-child ion-segment,
// .ios ion-menu > .menu-inner > .toolbar.statusbar-padding:first-child ion-title,
// .ios ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child ion-segment,
// .ios ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child ion-title {
//   padding-top: 20px !important;
//   height: calc(44px + 20px) !important;
//   min-height: calc(44px + 20px) !important;
// }

// @media only screen and (max-width: 767px) {
//   .ios .modal-wrapper > .ion-page > ion-header > .toolbar.statusbar-padding:first-child {
//     padding-top: calc(20px + 4px) !important;
//     min-height: calc(44px + 20px) !important;
//   }
//   .ios .modal-wrapper > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content {
//     padding-top: 20px !important;
//   }
//   .ios .modal-wrapper > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
//   .ios .modal-wrapper > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content {
//     padding-top: calc(16px + 20px) !important;
//   }
//   .ios .modal-wrapper > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-segment,
//   .ios .modal-wrapper > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-title {
//     padding-top: 20px !important;
//     height: calc(44px + 20px) !important;
//     min-height: calc(44px + 20px) !important;
//   }
// }