$tp-color:#2e323d;
$tp-color-l:rgba(46, 50, 61, 0.12941176470588237);
$tp-icon-color: #ff9900 ;
$tp-content-color:#ffffff;
$tp-font-color:#ff9900 ;

page-ep-product-brand-size-list {

    .toolbar-background {
        background-color: #ef6c00!important;
    }
    .back-button {
        color: #ffffff;
    }
    .toolbar-title {
        color: #ffffff;
    }
   
    .content {
        .img-product-detail{
            clear: both;
            margin: 0 auto;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-top: -80px;
        }
        
        background: #17181a;
        
        .scroll-content{
            .list{
            .item{
                background: #363636;
                border-bottom: 1px solid #17181a;
                
            }
            
         }
        }
    }
    .content-md {
        .scroll-content {
            margin-top: 50px !important;
        }
    }
    .content-ios {
        .scroll-content {
            margin-top: 65px !important;
        }
    }

    .grid-image {
        background-color: #ffffff;
        .image {
            width: 90%;
            border: 4px solid #2b2b2b;
            border-radius: 100%;
        }
    }

    .grid-content {
        // margin-top: 100px;
        margin-bottom: 50px;
        .row-content {
            background-color: $tp-color;
            border-radius: 15px;
            margin-top: 10px !important;
        }
        .detail-name {
            color: $tp-font-color;
            text-align: center;
        }
        .detail-size {
            text-align: center;
            color: $tp-color;
            // font-weight: 600;
            // font-size: 4em;
        }
        .item-inner {
            border-bottom: none !important;
            box-shadow: none !important;
        }
        .detail-amount {
            text-align: center;
            color: rgb(255, 255, 255);
            font-size: 2em;
            // margin-top: 14px;
        }
        .amount {
            font-size: 100%;
            color: $tp-font-color;
            font-size: 2em;
            // font-weight: 600;
        }
    }

    .list {
       
        .label {
            white-space: inherit !important;
        }
        .name {
            color: $tp-font-color;
            font-size: 1.6rem;
        }
        .size {
            color: $tp-color;
            font-weight: 600;
        }
        .arrow-next {
            color: $tp-color;
        }
        img {
            object-fit: cover;
        }
        
    }

    .footer-toolbar {
        padding: 0px !important;
        min-height: 0px !important;
        .toolbar-background {
            background-color: #ffffff !important;
        }
        button {
            margin: 0px !important;
        }
    }
    
}
