<!--
  Generated template for the EpProductBrandSizeListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>เลือกประเภทฝา</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <!-- <ion-searchbar [(ngModel)]="search" placeholder="ค้นหาร้านค้า"></ion-searchbar> -->

  <!-- <ion-list no-lines>
    <ion-item *ngFor="let item of productBrandSizes" (click)="onSelectProductInfo(item.btfs)">
      <ion-thumbnail item-start>
        <img [src]="item.imagefullpath" alt="image">
      </ion-thumbnail>
      <h2 class="name">
        <span>เหรียญ </span>
        <span>{{ item.valueRPrice }}</span>
        <span> บาท </span>
        <span *ngIf="item.promotionCode != ''"> Promotion </span>
      </h2>
      <p>{{ item.matdesc }}</p>
      <button ion-button icon-only clear item-end>
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list> -->

  <ion-grid class="grid-content">
      
    <ion-row padding class="row-content" *ngFor="let item of productBrandSizes">
      <ion-col col-3>
          <img class="" [src]="item.imagefullpath">
      </ion-col>
      <ion-col col-9>
        <!-- <ion-row>
            <img class="img-product-detail" [src]="item.imagefullpath">
        </ion-row> -->
        
        <h3 no-padding no-margin class="detail-name">{{item.matdesc}}</h3>
        <h2 no-margin class="detail-amount">
            มูลค่า
            <span class="amount"> {{item.valueRPrice}} </span>
            บาท
          </h2>
      </ion-col>
      <!-- <ion-col col-9>
       
      </ion-col> -->
      <ion-col col-12 text-center>
        <ion-item>
          <ion-label>จำนวนฝา</ion-label>
          <ion-input type="number" placeholder="0" [(ngModel)]="item.qty"></ion-input> 
          <!-- [(ngModel)]="inputQty" -->
        </ion-item>
      </ion-col>
      
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer mode="md">
  <ion-toolbar class="footer-toolbar">
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full large color="danger" (click)="cancel()">ยกเลิก</button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button full large color="primary" (click)="AddOrderToCart()">ตกลง</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
<!-- 
<ion-footer [keyboardAttach]="content">
  <ion-toolbar no-padding class="footer-toolbar">
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full large color="danger" (click)="cancel()">ยกเลิก</button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button full large color="primary" (click)="AddOrderToCart()">ตกลง</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->
