<ion-header>
  <ion-navbar>
    <ion-title>ตะกร้าสินค้าของฉัน</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!loading">
    <ion-card *ngFor="let product of products" class="cart-item">
      <ion-card-header class="cart-item__header">
        <div class="cart-item__header__code" [class.text-bold]="product.isBOM" text-wrap>
          {{ product.productCode }}
          <span *ngIf="product.promotionCode != null && !product.isFreeGoodes">
            <span style="color: #1338e6;">
              (Pro No : {{ product.promotionCode }})
            </span>
          </span>
          <span class="text-red" *ngIf="product.isFreeGoodes">
            (ของแถม)
          </span>
        </div>
        <div class="cart-item__header__name" [class.text-bold]="product.isBOM" text-wrap>
          {{ product.productNameTh }}
        </div>
      </ion-card-header>
      <ion-card-content class="cart-item__content">
        <div class="cart-item__content__image">
          <img [src]="config.partImgProduct + '/ProductDetail/' + product.btfCode + '.jpg'">
        </div>
        <div class="cart-item__content__detail">
          <div class="cart-item__content__detail__amount">
            ราคาต่อหน่วย : {{ product.price | number: '1.2-2' }} บาท
          </div>
          <div class="cart-item__content__detail__qty">
            <ion-grid no-padding>
              <ion-row>
                <ion-col col-8>
                  <ion-grid no-padding>
                    <ion-row>
                      <ion-col col-2 text-right>
                        <button ion-button block small (click)="decQty(product)">
                          <ion-icon name="remove"></ion-icon>
                        </button>
                      </ion-col>
                      <ion-col col-6 text-center class="cart-item__detail__qty__count">
                        <input type="number" [(ngModel)]="product.qty" (blur)="edtQty(product)">
                      </ion-col>
                      <ion-col col-2 text-left>
                        <button ion-button block small (click)="incQty(product)">
                          <ion-icon name="add"></ion-icon>
                        </button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div class="cart-item__content__detail__unit">
            <span *ngIf="product.altUnitAmount == 0">
              หน่วย : {{ product.unitNameTh }}
            </span>
            <span *ngIf="product.altUnitAmount > 0">
              หน่วย : ( 1 {{ product.altUnitNameTh }} : {{ product.altUnitAmount }} {{ product.unitNameTh }} )
            </span>
          </div>
          <div class="cart-item__content__detail__remove" *ngIf="!product.isFreeGoodes">
            <button ion-button large clear icon-only color="danger" (click)="delCart(product)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </div>
        </div>

        <div *ngFor="let bom of boms; let i = index">
          <div class="cart-item__content__bom" *ngIf="product.productCode == bom.productRefCode;" [class.cart-item__content__bom--border]="(boms?.length - 1) != i">
            <div class="cart-item__content__bom__code">
              {{ bom.productCode }}
            </div>
            <div class="cart-item__content__bom__name">
              {{ bom.productNameTh }}
            </div>
            <table class="cart-item__content__bom__detail">
              <tr>
                <td width="110px">
                  ราคาต่อหน่วย
                </td>
                <td>{{ bom.price | number: '1.2-2' }} บาท</td>
              </tr>
              <tr>
                <td width="110px">
                  จำนวน
                </td>
                <td>{{ product.qty }} {{ bom.unitNameTh }}</td>
              </tr>
            </table>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer mode="md">
  <ion-grid class="cart__total">
    <ion-row>
      <ion-col col-6>
        <strong>จำนวนเงินสุทธิ (ไม่รวม VAT)</strong>
      </ion-col>
      <ion-col col-6 text-right>
        {{ totalAmount | number: '1.2-2' }} บาท
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col col-4 no-padding>
        <button ion-button full text-center no-margin full color="red" mode="ios" (click)="delCartAll()">
          ลบทั้งหมด
        </button>
      </ion-col>
      <ion-col col-4 no-padding>
        <button ion-button full text-center no-margin full color="blue" mode="ios" (click)="continuous()">
          เลือกซื้อต่อ
        </button>
      </ion-col>
      <ion-col col-4 no-padding>
        <button ion-button full text-center no-margin full color="secondary" mode="ios" [disabled]="!products?.length" (click)="checkout()">
          <!--<ion-icon name="cart"></ion-icon>-->
          <!--<span style="padding-left: 5px;">สั่งซื้อ</span>-->
          สั่งซื้อ
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>