page-eo-cart {
  @include eoHeader;

  ion-content {
    background-color: #f4f4f7 !important;
  }

  ion-footer {
    //margin-bottom: 0px !important;
    //padding-bottom: 0px !important;
  }

  @include block('cart') {
    @include element('total') {
      padding: 10px 7px;
      font-size: 1.310rem;
      background-color: #ffffff;
    }
  }

  @include block('cart-item') {
    @include element('header') {
      padding: 13px 13px 5px !important;
      position: relative;

      @include element('code') {
        font-size: 1.45rem;
        //font-weight: bold;
      }

      @include element('name') {
        font-size: 1.45rem;
      }
    }

    @include element('content') {
      padding: 0px 13px 13px 13px !important;

      @include element('image') {
        width: 80px;
        height: 80px;
        margin-right: 10px;
        float: left;

        img {
          object-fit: contain !important;
          max-width: 100%;
          max-height: 100%;
        }
      }

      @include element('detail') {
        width: calc(100% - 90px);
        float: right;
        position: relative;

        @include element('amount') {
          display: block;
          width: 100%;
          font-size: 1.4rem;
          //color: orangered;
          //font-weight: bold;
        }

        @include element('qty') {
          display: block;
          width: 100%;
          margin-top: 5px;

          input {
            width: 100%;
            font-weight: bold;
            text-align: center;
            line-height: 34px;
            border: none;
          }
        }

        @include element('unit') {
          font-size: 1.2rem;
        }

        @include element('remove') {
          position: absolute;
          right: -10px;
          bottom: -10px;

          button {
            font-size: 1.3rem;
          }
        }
      }

      @include element('bom') {
        display: block;
        width: 100%;
        margin-top: 15px;
        float: left;

        @include element('code') {
          font-size: 1.325rem;
        }

        @include element('name') {
          font-size: 1.325rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        @include element('detail') {
          margin-top: 5px;
          font-size: 1.35rem;
          //font-weight: bold;

          @include element('unit') {
            font-weight: normal;
            font-size: 1.25rem;
          }
        }

        @include modifier('border') {
          border-bottom: 1px solid #d0d0d0;
          padding-bottom: 15px;
        }
      }

      @include clearfix;
    }

    @include element('loading') {
      @include element('header') {
        padding: 13px 13px 5px !important;
        position: relative;

        @include element('code') {
          height: 1.45rem;
          background: #f5f5f5;
        }

        @include element('name') {
          height: 1.45rem;
          background: #f5f5f5;
          margin-top: 10px;
        }
      }

      @include element('content') {
        padding: 0px 13px 13px 13px !important;

        @include element('image') {
          width: 80px;
          height: 80px;
          margin-right: 10px;
          float: left;
          background: #f5f5f5;
        }

        @include element('detail') {
          width: calc(100% - 90px);
          float: right;

          @include element('amount') {
            display: block;
            width: 130px;
            height: 1.7rem;
            background: #f5f5f5;
          }

          @include element('qty') {
            margin-top: 5px;
            height: 34px;
            background: #f5f5f5;
            width: 130px;
          }

          @include element('unit') {
            height: 1.2rem;
            width: 130px;

            margin-top: 5px;
            background: #f5f5f5;
          }
        }

        @include clearfix;
      }
    }
  }
}
