<ion-tabs *ngIf="userInfo.userTypeDesc == 'Multi'" (ionChange)="tabSelecte($event)">
  <ion-tab tabTitle="หน้าหลัก"
           tabIcon="home"
           [root]="tab1Root"
           [rootParams]="{page: page}">
  </ion-tab>
  <ion-tab tabTitle="ตะกร้าสินค้า"
           tabIcon="cart"
           [tabBadge]="totalQty"
           tabBadgeStyle="danger">
  </ion-tab>
  <ion-tab tabTitle="เปลี่ยนร้านค้า"
           tabIcon="sync">
  </ion-tab>
  <ion-tab tabTitle="กลับ DC"
           tabIcon="log-out">
  </ion-tab>
</ion-tabs>

<ion-tabs *ngIf="userInfo.userTypeDesc != 'Multi'" (ionChange)="tabSelecte($event)">
  <ion-tab tabTitle="หน้าหลัก"
           tabIcon="home"
           [root]="tab1Root"
           [rootParams]="{page: page}">
  </ion-tab>
  <ion-tab tabTitle="ตะกร้าสินค้า"
           tabIcon="cart"
           [tabBadge]="totalQty"
           tabBadgeStyle="danger">
  </ion-tab>
  <ion-tab tabTitle="กลับ DC"
           tabIcon="log-out">
  </ion-tab>
</ion-tabs>