$ep-bg-content:#17181a;
$ep-bg-header:#ef6c00;
$ep-bg-box:#2e323d;
$ep-txt-orange:#ff9900;
$ep-txt-white:#ffffff;

page-ep-rpt04-dealerredeemhistory {
  @include epIonHeader;
  @include epReportHeader;
  @include epReportGrid;
  @include epReportContent;
  @include epReportTextColor;
  @include epReportLabel;
  @include epReportBottom;
  @include epReportAccordion;
}
