<ion-header>
  <ion-navbar>
    <ion-title>รายละเอียด</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      ผู้ดำเนินการ
      <span item-end>
        {{ order.createUser }}
      </span>
      <ion-icon name="person" item-end></ion-icon>
    </ion-item>
    <ion-item>
      เลขที่ใบสั่งซื้อ :
      <span item-end>
        {{ order.docNumber }}
      </span>
      <ion-icon name="document" item-end></ion-icon>
    </ion-item>
    <ion-item>
      เลขที่เอกสาร
      <span item-end>
        {{ (order.salesOrderNumber == '') ? '-' : order.salesOrderNumber }}
      </span>
      <ion-icon name="document" item-end></ion-icon>
    </ion-item>
    <ion-item>
      จำนวนเงินสุทธิ
      <span item-end>
        {{ order.netAmount | number: '1.2-2' }}
      </span>
    </ion-item>
    <ion-item>
      สถานะคำสั่งซื้อ
      <span item-end></span>
    </ion-item>
    <ion-item>
      Order / Bill Tracking
      <ion-icon name="document" item-end></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
