<ion-header>
  <ion-navbar>
    <ion-title>ข่าวสารกิจกรรม</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let news of newsHD" (click)="openNews(news)">
    <img [src]="config.partImgActivity + '/' + news.picture">
    <ion-card-content>
      <ion-card-title>
        {{ news.title }}
      </ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>
