page-ep-changeprofile-history-main {
  @include epIonHeader;
  $ep-bg-content:#17181a;
  $ep-bg-header:#ef6c00;
  $ep-bg-box:#2e323d;
  $ep-txt-orange:#ff9900;
  $ep-txt-white:#ffffff;
  ion-content{
    background: $ep-bg-content !important;
    position: static;
  }
  ion-grid{
      .history-header{
        color: $ep-txt-orange;
      }
      .history-detail{
        color: $ep-txt-white;
      }
    }
  ion-segment {
    display: block;
    background: $ep-bg-box;
    white-space: nowrap !important;


    .segment-button {
      margin-top: 4px !important;
      display: inline !important;
      min-width: 80px !important;
      padding: 12px 8px !important;
      border: 0 !important;
      color: $ep-txt-orange !important;
      font-size: 14px !important;
    }

    .segment-button {
      &.active {
        color: $ep-txt-white !important;
      }
    }
  }

 

  /* segment*/
  .bar-button-default-md:hover:not(.disable-hover),
  .bar-button-clear-md-default:hover:not(.disable-hover),
  .bar-button-md-default:hover:not(.disable-hover) {
    color: #ffffff;
  }
}
