<ion-header>
  <ion-navbar> 
    <ion-title>รายงานส่งคำขอแก้ไขข้อมูลส่วนตัว</ion-title>
  </ion-navbar>
  <div no-padding>
    <ion-segment mode="md" [(ngModel)]="page" id="scroll">
      <ion-segment-button [class.active]="page == 0" (click)="onSelectedPage(0)">
        การส่งคำขอ
      </ion-segment-button>
      <!-- <ion-segment-button [class.active]="page == 1" (click)="onSelectedPage(1)">
        ขั้นตอนการทำงาน
      </ion-segment-button> -->
    </ion-segment>
  </div>
</ion-header>

<ion-content>

  <div *ngIf="page == 0">
    <page-ep-changeprofile-history-request></page-ep-changeprofile-history-request>
  </div>
  <div *ngIf="page == 1">
    <page-ep-changeprofile-history-process></page-ep-changeprofile-history-process>
  </div>
</ion-content>