<ion-header>
  <ion-navbar>
    <ion-title>เลือกประเภทผู้เสียภาษี</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of DataList" (click)="onSelectRecipient(item)">
      <p class="bank-name" text-wrap>
        <b>{{ item.recipientname }}</b>
      </p>
    </ion-item>
  </ion-list>
</ion-content>