page-eo-report-monthly {
  @include eoHeader;

  .infinite-loading {
    margin-bottom: 0px !important;
  }

  ion-list {
    &.filter {
      margin-bottom: 0px !important;

      ion-item {
        padding-left: 0px !important;

        .item-inner {
          padding-left: 8px !important;
        }
      }
    }
  }

  @include block('report-item') {
    table {
      width: 100%;

      tbody {
        tr {
          td {
            padding: 5px 0;
          }
        }
      }
    }

    @include element('header') {
      font-size: 1.30rem;
      background-color: #a5f3d6;
      padding: 8px;
    }

    @include element('detail') {
      background-color: #fdffc7;
      padding: 8px;
      font-size: 1.30rem;

      table {
        border-bottom: 1px solid #8f8f8f;

        &:last-child {
          border-bottom: none !important;
        }
      }
    }

    @include element('summary') {
      padding: 8px;
      background-color: #a5f3d6;
    }
  }
}
