<ion-content>
  <ion-item class="category">
    <ion-label>หมวดหมู่</ion-label>
    <ion-select [(ngModel)]="type" multiple="false" okText="เลือก" cancelText="ยกเลิก">
      <ion-option *ngFor="let category of categorys" [value]="category.value">
        {{ category.label }}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-list *ngIf="!loading">
    <ion-item class="document-item" *ngFor="let item of documents | filterBy: ['categoryCode'] : type">
      <div class="document-item__image">
        <img [src]="config.partFileDocument + '/' + item.picture "  onerror="this.src='./assets/imgs/noimg.jpg'">
      </div>
      <div class="document-item__detail">
        <div class="document-title__category">
          หมวดหมู่ : {{ item.categoryDesc }}
        </div>
        <div>
          <a href="{{ config.partFileDocument + '/' + item.fileName }}" target="_blank">
            {{ item.documentName }}
          </a>
        </div>
        <div class="document-item__detail__descrip">
          {{ item.description }}
        </div>
        <div class="document-item__detail__date">
          {{ item.documentDate | date: 'dd/MM/y' }}
        </div>
      </div>
      <!--<div class="document-item__imagedl">-->
      <!--<a href="{{ config.partFileDocument + '/' + item.fileName }}" target="_blank">-->
      <!--<img src="./assets/icon/eOrdering/download.png">-->
      <!--</a>-->
      <!--</div>-->
      <div class="document-item__preview">
        <ion-icon name="md-document" (click)="previewFile(item.fileName)"></ion-icon>
      </div>
      <div class="document-item__download">
        <ion-icon name="md-cloud-download" (click)="downloadFile(item.fileName)"></ion-icon>
      </div>
    </ion-item>
    <ion-item *ngIf="!documents?.length" text-center>
      ไม่พบข้อมูล
    </ion-item>
  </ion-list>
</ion-content>
  