eo-document {
  ion-list {
    margin-bottom: 0px !important;

    ion-item {
      border-bottom: 0px !important;

      &:first-child {
        border-top: none !important;
      }

      &:last-child {
        border-bottom: none !important;
      }

      .item-inner {
        padding-right: 0px !important;
      }

      ion-label {
        margin: 10px 8px 10px 0 !important;
      }
    }
  }

  .category {
    padding-right: 6px !important;

    .item-inner {
      border: none !important;
    }
  }

  @include block('document-item') {
    min-height: 100px;
    padding-left: 0px;
    position: relative;

    @include element('image') {
      float: left;
      width: 80px;
      height: 80px;
      text-align: center;
      margin-left: 10px !important;
      margin-right: 10px !important;

      img {
        object-fit: cover !important;
        max-width: 100%;
        max-height: 100%;
      }
    }
    /*
    @include element('imagedl') {
      float: right;
      width: 40px;
      height: 40px;
      text-align: right;
      margin-left: 5px !important;
      margin-right: 5px !important;

      img {
        object-fit: cover !important;
        max-width: 100%;
        max-height: 100%;
      }
    }
    */

    @include element('preview') {
      position: absolute;
      right: 60px;
      top: 7px;
      font-size: 2.5rem;

      .icon {
        color: orange !important;
      }
    }

    @include element('download') {
      position: absolute;
      right: 16px;
      top: 5px;
      font-size: 3rem;

      .icon {
        color: green;
      }
    }

    @include element('detail') {
      float: left;
      width: calc(100% - 150px);
      position: relative;
      min-height: 80px;

      @include element('name') {
        font-size: 1.8rem;
      }

      @include element('descrip') {
        white-space: normal !important;
        font-size: 0.85em !important;
      }

      @include element('date') {
        color: coral ;
        font-size: 0.85em !important;
      }

    }
  }
}
