<!--
  Generated template for the EpProductInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>รับฝาเหรียญ</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- {{BTFS}} -->
  <!-- <ion-grid class="grid-image">
    <ion-row>
      <ion-col col-3></ion-col>
      <ion-col col-6 text-center>
        
      </ion-col>
      <ion-col col-3></ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-grid class="grid-content">
      
    <ion-row padding class="row-content">
      <ion-col col-12>
        <ion-row>
            <img class="img-product-detail" [src]="productInfo.imagefullpath">
        </ion-row>
        
        <h3 class="detail-name">{{productInfo.matdesc}}</h3>
      </ion-col>
      <ion-col col-12>
          <h2 class="detail-amount">
            มูลค่า
            <span class="amount"> {{productInfo.valueRPrice}} </span>
            บาท
          </h2>
        </ion-col>
      <ion-col col-12 text-center>
        <ion-item>
          <ion-label>จำนวนฝา</ion-label>
          <ion-input type="number" [(ngModel)]="inputQty" autofocus></ion-input>
        </ion-item>
      </ion-col>
      
    </ion-row>
  </ion-grid>

  <!--
  <ion-grid class="grid-image" *ngFor="let item of productInfo">
    <ion-row>
      <ion-col col-3></ion-col>
      <ion-col col-6 text-center>
        <img [src]="config.partImgProduct + '/ProductList/' + item.btfs + '.jpg'">
      </ion-col>
      <ion-col col-3></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid-content" *ngFor="let item of productInfo">
    <ion-row padding class="row-content">
      <ion-col col-12>
        <h3 class="detail-name">{{item.matdesc}}</h3>
      </ion-col>
      <ion-col col-12>
          <h2 class="detail-amount">
            มูลค่า
            <span class="amount"> 20 </span>
            บาท
          </h2>
        </ion-col>
      <ion-col col-12 text-center>
        <ion-item>
          <ion-label>จำนวน</ion-label>
          <ion-input type="number" [(ngModel)]="inputQty"></ion-input>
        </ion-item>
      </ion-col>
      
    </ion-row>
  </ion-grid>
  -->
</ion-content>

<ion-footer no-padding>
  <ion-toolbar no-padding class="footer-toolbar">
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full large color="danger" (click)="cancel()">ยกเลิก</button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button full large color="primary" (click)="AddProductToCart()">ตกลง</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>