<ion-header >
  <ion-navbar>
    <ion-title>รายงาน</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen padding>  
    <ion-grid>
      <ion-row>
        <ion-col col-6 text-center *ngFor="let menu of tpMenu" (click)="onSelected(menu)">
          <img src="{{ menu.icon }}" class="sub-image">
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
