$tp-color:#2e323d;
$tp-color-l:rgba(46, 50, 61, 0.12941176470588237);
$tp-icon-color: #ff9900 ;
$tp-content-color:#ffffff;
$tp-font-color:#ff9900 ;

page-ep-dealer-payment-history {
.item-ios [item-right], .item-ios [item-end]
{
    margin-left: 0px;
    margin-right: 0px;
}

  .toolbar-background {
    background-color: #ef6c00!important;
}
.back-button {
    color: #ffffff;
}
.toolbar-title {
    color: #ffffff;
}
.content {
    background: #17181a;
    .scroll-content{
        .list{
        .item{
            background: #363636;
            border-bottom: 1px solid #17181a;
        }
     }
    }
}
.content-md {
    .scroll-content {
        margin-top: 32px !important;
    }
}
.content-ios {
    .scroll-content {
        margin-top: 40px !important;
    }
}

ion-icon {
    display: inline-block !important;
    padding-right: 4px !important;
}

.grid{
  
      color: $tp-font-color;
      margin-top : 2px;
      padding-top: 10px;

      .col{
        padding: 2px;
      }

    //   .rowData {
    //     background-color: #363636;
    //     padding-top: 4px;
    //     padding-bottom: 4px;
    // }

      .button{
        border: 0px;
      }

    //   .detail-name {
    //     color: $tp-font-color;
    // }

    // .item-inner {
    //     border-bottom: none !important;
    //     box-shadow: none !important;
    // }

    // .detail-size {
    //     text-align: center;
    //     color: $tp-color;
    // }

}

.list {
    .label {
        white-space: inherit !important;
    }
    .nametitle {
        color: $tp-font-color;
        font-size: 2rem;
    }
    .nametxt {
      color: #ffffff;
      font-size: 16px;
    }
    .row{
      padding: 0px;
    }
    .size {
        color: $tp-color;
        font-weight: 600;
    }
    .arrow-next {
        color: $tp-color;
    }
    img {
        object-fit: cover;
    }
    
}

.nameresult {
    color: $tp-font-color;
    font-size: 16px;
    padding-left: 5px !important;
  }

.rowSummary{
    background-color: #ef6c00 !important;
}

}
