<ion-header>

  <ion-navbar>
    <ion-title>ประวัติการสั่งจ่าย</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6>ระบุวันที่เริ่มต้น</ion-col>
      <ion-col col-6>ระบุวันที่สิ้นสุด</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <button ion-button large full color="secondary" (click)="onOpenStartDate()">
          <ion-icon ios="ios-calendar" md="md-calendar" item-start> </ion-icon>
          <span>{{ startDate | date: 'dd-MM-yyyy' }}</span>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button large full color="secondary" (click)="onOpenEndDate()">
          <ion-icon ios="ios-calendar" md="md-calendar" item-start> </ion-icon>
          <span>{{ endDate | date: 'dd-MM-yyyy' }}</span>
        </button>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col col-12>
        <button ion-button large full (click)="fetchPaymentHistory()">
          <span>ค้นหาข้อมูล</span>
          &nbsp;<ion-icon ios="ios-search" md="md-search"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list no-lines>
    <ion-item *ngFor="let item of DataHD">
      <ion-row>
        <ion-col col-1>
          <ion-icon ios="ios-list-outline" md="md-list" color="light"></ion-icon>
        </ion-col>
        <ion-col col-8>
            <span class="nametitle">{{ item.invdate | date: 'dd-MM-yyyy'}}
            </span>
        </ion-col>
        <ion-col col-3 text-center>
            <span class="nametitle">{{ item.status }}
            </span>
        </ion-col>
      </ion-row>
      
      
      <ion-row>
        <ion-col col-8>
          <p class="nameresult">Pay Doc. </p>
        </ion-col>
        <ion-col col-4 text-right>
          <span class="nametxt">{{ item.paydoc}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8>
          <p class="nameresult">Date </p>
        </ion-col>
        <ion-col col-4 text-right>
          <span class="nametxt">{{ item.paydate | date: 'dd-MM-yyyy'}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8>
          <p class="nameresult">ค่าแลก </p>
        </ion-col>
        <ion-col col-4 text-right>
          <span class="nametxt">{{ item.ramount | number: '1.2-2' }} บ.</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <p class="nameresult">ค่ารักษา </p>
        </ion-col>
        <ion-col col-6 text-right>
          <span class="nametxt">{{ item.pamount | number: '1.2-2' }} บ.</span>
        </ion-col>
      </ion-row>

      <ion-row class="rowSummary" text-center>
        <ion-col col-3>
          <span class="nametxt">รวม  </span>
        </ion-col>
        <ion-col col-9 text-right>
          <span class="nametxt"> {{item.totalamount}} บ.</span>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer no-padding>
  <ion-toolbar no-padding class="footer-toolbar">
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full large color="danger" (click)="cancel()">ยกเลิก</button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button full large color="primary" (click)="downloadCSV()">Export</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<!-- backup 21022018 -->
<!-- <ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6>ระบุวันที่เริ่มต้น</ion-col>
      <ion-col col-6>ระบุวันที่สิ้นสุด</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <button ion-button large full color="secondary" (click)="onOpenStartDate()">
          <ion-icon ios="ios-calendar" md="md-calendar" item-start> </ion-icon>
          <span>{{ startDate | date: 'dd-MM-yyyy' }}</span>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button large full color="secondary" (click)="onOpenEndDate()">
          <ion-icon ios="ios-calendar" md="md-calendar" item-start> </ion-icon>
          <span>{{ endDate | date: 'dd-MM-yyyy' }}</span>
        </button>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col col-12>
        <button ion-button large full (click)="fetchPaymentHistory()">
          <span>ค้นหาข้อมูล</span>
          <ion-icon ios="ios-search" md="md-search"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list no-lines>
    <ion-item *ngFor="let item of DataHD" (click)="payDocOnclick(item.paydoc,item.paydate)">
      <ion-row>
        <ion-col col-1>
          <ion-icon ios="ios-list-outline" md="md-list" color="light"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <h2>
            <span class="nametxt">วันที่สั่งจ่าย : </span>
            <span class="nametitle">{{ item.paydate | date: 'dd-MM-yyyy'}}
            </span>
          </h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8>
          <p class="nametxt">Pay DocNo :
            <span class="nameresult">{{ item.paydoc }}</span>
          </p>
        </ion-col>
        <ion-col col-4 style="text-align: center">
          <span class="nameresult">{{ item.status }}</span>
        </ion-col>
      </ion-row>
      <ion-row class="rowSummary">
        <ion-col col-8>
          <span class="nametxt">รวมจำนวนเงิน (บาท) : </span>
        </ion-col>
        <ion-col col-4 text-center>
          <span class="nametxt"> {{ item.totalamount | number: '1.0-0' }} </span>
        </ion-col>
      </ion-row>
      <button ion-button icon-only clear item-end class="buttonNoBackground">
        <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content> -->