<ion-content>
  <ion-card (click)="openNewsToa()">
    <img src="./assets/icon/eOrdering/icon-news-toa.jpg">
    <ion-card-content>
      <ion-card-title>
        ข่าวสารและกิจกรรม
      </ion-card-title>
      <p>www.toagroup.com</p>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="openNewsEor()">
    <img src="./assets/icon/eOrdering/icon-news-eor.jpg">
    <ion-card-content>
      <ion-card-title>
        ข่าวสารและกิจกรรม
      </ion-card-title>
      <p>e-Ordering</p>
    </ion-card-content>
  </ion-card>
</ion-content>