$tp-color:#2e323d;
$tp-color-l:rgba(46, 50, 61, 0.12941176470588237);
$tp-icon-color: #ff9900 ;
$tp-content-color:#ffffff;
$tp-font-color:#ff9900 ;

page-ep-coinstock-returncoin {
  .toolbar-background {
    background-color: #ef6c00!important;
}
.back-button {
    color: #ffffff;
}
.toolbar-title {
    color: #ffffff;
}
.content {
    background: #17181a;
    .scroll-content{
        .list{
        .item{
            background: #363636;
            border-bottom: 4px solid #17181a;
        }
     }
    }
}
.content-md {
    .scroll-content {
        margin-top: 50px !important;
    }
}
.content-ios {
    .scroll-content {
        margin-top: 56px !important;
    }
}

.grid-content {
  //margin-top: 40px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;

  .row {
      background-color: #ffffff;
      // border-radius: 4px;
  }

  .detail-name {
      color: $tp-font-color;
  }
  
  .detail-size {
      text-align: center;
      color: $tp-color;
  }

  .item-inner {
      border-bottom: none !important;
      box-shadow: none !important;
  }
  .detail-amount {
      text-align: center;
      color: rgb(255, 255, 255);
      font-size: 2em;
      margin-top: 14px;
  }
  .amount {
      font-size: 100%;
      color: $tp-font-color;
      font-size: 2em;
  }
}

.caption{
  background-color: #2e323d;
  color: #ffffff;
  
  .item-inner {
      border-bottom: none !important;
  }

}

.input{
  background-color: #ffffff !important;
  height: 100px;
  color: #000000;
}

.list {
    
    margin-top: 10px;

    .label {
        white-space: inherit !important;
    }
    .nametitle {
        color: $tp-font-color;
        font-size: 2rem;
    }
    .nametxt {
      color: #ffffff;
      font-size: 16px;
    }
    .nameresult {
      color: $tp-font-color;
      font-size: 16px;
    }
    .row{
      padding: 0px;
    }
    .size {
        color: $tp-color;
        font-weight: 600;
    }

    .img-icon {
        object-fit: cover;
    }
  }

  .footer-toolbar {
    padding: 0px !important;
    min-height: 0px !important;
    .toolbar-background {
        background-color: #ffffff !important;
    }
    button {
        margin: 0px !important;
    }
}

}

