<ion-header>
    <!-- หน้านี้ Hidden ไว้ ไปใช้ส่วนของ Web แทน -->
    <ion-navbar>
      <ion-title>ยืนยันการส่งฝาคืน</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
    <ion-item class="caption">
      <span>Sale No :</span>
      <span class="result">{{DataHD.saleno}}</span>
    </ion-item>
    <ion-item class="caption">
      <span>Sale Name :</span>
      <span class="result">{{DataHD.salename}}</span>
    </ion-item>
    <div></div>
  
    <ion-grid class="grid-content">
      <ion-row>
        <ion-col col-8>
          <h1>รายละเอียด</h1>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col col-6>
          <span>ประเภทฝา</span>
        </ion-col>
        <ion-col col-6>
          <span>จำนวนส่ง</span>
        </ion-col>
      </ion-row>
  
      <ion-row *ngFor="let item of DataDT">
        <ion-col col-6>
          <span>ฝา {{item.cointypename}}</span>
        </ion-col>
        <ion-col col-6>
          <span>จำนวน {{item.saleqty || number}} </span>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col col-3>
          <span></span>
        </ion-col>
        <ion-col col-3>
          <span>รวม</span>
        </ion-col>
        <ion-col col-6>
          <span>{{SumCoin_ }}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div></div>
 
    
  </ion-content>
  
  <ion-footer>
    <ion-toolbar no-padding class="footer-toolbar">
      <ion-row no-padding>
        <ion-col col-12 no-padding>
          <button ion-button full large color="primary" (click)="ReturnCoin()">ส่งคืน</button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
  
  