<ion-header>
  <ion-navbar>
    <ion-title>เลือกตำบล / แขวง</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of DisList" (click)="onSelectDistrict(item)">
      <p class="bank-name" text-wrap>
        <b> {{ item.districtdesc }}</b>
      </p>
    </ion-item>
  </ion-list>
</ion-content>