<ion-header>
  <ion-navbar>
    <ion-title>ส่งคำขอแก้ไขข้อมูลส่วนตัว</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid class="grid-content">
    <ion-row padding class="row-content">
        <ion-col col-12>
            <h2 class="detail-amount">บ้านเลขที่ / อาคาร / ซอย <span class="request">*</span></h2>
          </ion-col>
          <ion-col col-12 text-center>
            <ion-item>
              <ion-textarea [(ngModel)]="inputAddresstax" placeholder="บ้านเลขที่ / อาคาร / ซอย"></ion-textarea>
            </ion-item>
          </ion-col>
      <ion-col col-12>
        <h2 class="detail-amount">ถนน</h2>
      </ion-col>
      <ion-col col-12 text-center>
        <ion-item>
          <ion-input type="text" [(ngModel)]="inputstreet4" placeholder="ถนน"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <h2 class="detail-amount">จังหวัด <span class="request">*</span></h2>
      </ion-col>
      <ion-col col-12 text-center>
        <ion-item>
          <ion-input type="text" [(ngModel)]="inputCityDesc" placeholder="จังหวัด" (click)="CitySelect()"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <h2 class="detail-amount">อำเภอ / เขต <span class="request">*</span></h2>
      </ion-col>
      <ion-col col-12 text-center>
        <ion-item>
            <ion-input type="text" [(ngModel)]="inputDistrictDesc" placeholder="อำเภอ / เขต" (click)="DistricSelect()"></ion-input>
        </ion-item>
      </ion-col>


      <ion-col col-12>
        <h2 class="detail-amount">ตำบล / แขวง <span class="request">*</span></h2>
      </ion-col>
      <ion-col col-12 text-center>
        <ion-item>
            <ion-input type="text" [(ngModel)]="inputstreet5" placeholder="ตำบล / แขวง" (click)="StreetSelect()"></ion-input>
        </ion-item>
      </ion-col>
      
      <ion-col col-12>
        <h2 class="detail-amount">รหัสไปรษณีย์ <span class="request">*</span></h2>
      </ion-col>
      <ion-col col-12 text-center>
        <ion-item>
            <ion-input  type="number"  pattern="[0-9]*" [(ngModel)]="inputPostCode" placeholder="รหัสไปรษณีย์"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer no-padding>
  <ion-toolbar no-padding class="footer-toolbar">
    <ion-row no-padding>
      <ion-col col-12 no-padding>
        <button ion-button full large color="primary" (click)="next()">ถัดไป</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
