eo-home {
  ion-content {
    background-color: #fafafa !important;
  }

  ion-slides {
    height: auto !important;

    ion-slide {
      margin-top: 2% !important;
    }
  }
  //ion-slides{
  //  display: block;
  //  width: 100% !important;
  //  height: auto !important;
  //  margin-top: 2% !important;
  //}
  @include block('content') {
    @include element('header') {
      margin-top: 10px;
      margin-bottom: 5px;
      padding: 11px;
      font-size: 1.6rem;
      font-weight: bold;
      text-align: center;
      background: rgb(204, 230, 255);
      color: #0f61bb;
    }
  }

  @include block('promotion-item') {
    min-height: 100px;
    padding-left: 0px;

    @include element('image') {
      float: left;
      width: 134px;
      height: 80px;
      text-align: center;
      margin-left: 10px !important;
      margin-right: 10px !important;

      img {
        object-fit: cover !important;
        max-width: 100%;
        max-height: 100%;
      }
    }

    @include element('detail') {
      float: left;
      width: calc(100% - 154px);
      position: relative;
      min-height: 80px;
      font-size: 1.3rem;
    }
  }
}
