<ion-content>
  <ion-slides *ngIf="slides && slides.length" autoplay="5000" loop="true" speed="3000">
    <ion-slide *ngFor="let slide of slides">
      <img src="{{slide.image}}" />
    </ion-slide>
  </ion-slides>
  <div class="content__header">
    โปรโมชั่น
  </div>  
  <ion-select [selectOptions]="{title: 'กลุ่มผลิตภัณฑ์'}" 
              [(ngModel)]="maketingSelect" 
              multiple="true" 
              okText="เลือก" 
              cancelText="ยกเลิก"
              placeholder="กลุ่มผลิตภัณฑ์"
              (ionChange)="fetchPromotion()">
    <ion-option *ngFor="let m of marketings" [value]="m.marketingCode">
      {{ m.marketingDesc }}
    </ion-option>
  </ion-select>
  <ion-list style="margin-top: 5px; margin-bottom: 0px;">
    <ion-item class="promotion-item" *ngFor="let promotion of promotions" (click)="selectedPromotion(promotion)">
      <div class="promotion-item__image">
        <img [src]="config.partImgPromotion + '/' + promotion.promotionImage">
      </div>
      <div class="promotion-item__detail" text-wrap>
        {{ promotion.promotionName }}
      </div>
    </ion-item>
  </ion-list>
</ion-content>