<!--
  Generated template for the EpCartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>สรุปการรับแลกฝา</ion-title>
  </ion-navbar>

  <ion-grid no-padding class="grid-summary">
      <ion-row>
        <ion-col col-7 text-center class="coin">
          <!-- <h2 no-margin class="header">
             {{cartHD.totalQty}}
          </h2>
          <p no-margin class="description">เหรียญ</p> -->
          <ion-row>
            <ion-col col-8 class="txtlabel">
              <span>ฝา 20 บาท : </span>
            </ion-col>
            <ion-col col-4 class="textheader">
              {{cartHD.totalcoin20 | number: '1.0-0'}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-8 class="txtlabel">
              <span>ฝา 30 บาท : </span>
            </ion-col>
            <ion-col col-4 class="textheader">
              {{cartHD.totalcoin30 | number: '1.0-0'}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-8 class="txtlabel">
              <span>ฝา 60 บาท : </span>
            </ion-col>
            <ion-col col-4 class="textheader">
              {{cartHD.totalcoin60 | number: '1.0-0'}}
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-5 text-center>
          <br/>
          <h2 no-margin class="header">
            {{cartHD.totalRamont | number: '1.0-0'}}
          </h2>
          <p no-margin class="description">บาท</p>
        </ion-col>
      </ion-row>

      <!-- <ion-row class="painter">
        <ion-col col-12>
          <span>เบอร์ช่าง :</span>
          <span>{{(painter.mobileno === '9999999999' ? ' ไม่ระบุ ' : painter.mobileno)}}</span>
        </ion-col>
      </ion-row> -->

    </ion-grid>

</ion-header>


<ion-content no-padding no-margin>

  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down" pullingText="Pull to refresh" refreshingSpinner="dots" refreshingText="Refreshing...">></ion-refresher-content>
  </ion-refresher> -->

  <ion-grid>
    <ion-row class="painterrow">
      <ion-col col-9>
        <span>เบอร์ช่าง :</span>
        <span>{{(painter.mobileno === '9999999999' ? ' ไม่ระบุ ' : painter.mobileno)}}</span>
      </ion-col>
      <ion-col col-3 text-right>
        <button ion-button outline small color="danger" (click)="removeAll()">
          ลบทั้งหมด
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngFor="let item of cartDT">
    <ion-item>
      <h3 class="list-header"> {{item.btfsdesc}} </h3>
      <p>มูลค่า
        <span class="hilight"> {{item.valuer}} </span>
        บาท
      </p>
      <p>จำนวน
        <span class="hilight"> {{item.qty | number: '1.0-0'}} </span>
        ฝา
      </p>
      <h2 class="list-summary">
        มูลค่ารวม
        <span class="hilight"> {{item.ramount | number: '1.0-0' }} </span>
        บาท
      </h2>
      <button item-end ion-button icon-only clear large color="danger" (click)="remove(item.rid)">
        <ion-icon name="ios-trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer no-padding>
  <ion-toolbar no-padding class="footer-toolbar">
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full color="secondary" large (click)="cancel()">เพิ่มการแลกฝา</button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button full color="primary" large (click)="confirm()">ยืนยัน</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
