$tp-color:#2e323d;
$tp-color-l:rgba(46, 50, 61, 0.12941176470588237);
$tp-color-btn:#2fa350;
page-ep-cart {

    .content {
        background: -moz-linear-gradient(top, $tp-color 0%, $tp-color-l 100%, $tp-color-l 100%);
        background: -webkit-linear-gradient(top, $tp-color 0%, $tp-color-l 100%, $tp-color-l 100%);
        background: linear-gradient(to bottom, $tp-color 50%, $tp-color-l 110%, $tp-color-l 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
        background-position: center !important;
        background-size: cover !important;
        .scroll-content{
            margin-top: 115px !important;
        }
    }

    ion-buttons[start] {
        button {
            width: 100% !important;
        }
        ion-icon {
            position: absolute !important;
            font-size: 36px !important;
            left: 0px;
            margin-left: 24px;
            color: #f1ee1e !important;
        }
        .menu-left-text {
            font-size: 10px !important;
            color: #f1ee1e !important;
            margin-top: 38px;
            z-index: 999;
        }
    }
    
    ion-buttons[end] {
        button {
            width: 100% !important;
        }
        ion-icon {
            position: absolute !important;
            font-size: 36px !important;
            color: #f1ee1e !important;
        }
        .menu-right-text {
            font-size: 10px !important;
            color: #f1ee1e !important;
            margin-top: 38px;
            z-index: 999;
        }
    }

    .toolbar-background {
        background-color: $tp-color !important;
        // color: #ee940c;
    }

    .scroll-content{
        margin-bottom: 40px !important;
        padding-top : 60px !important;
    }

    .grid-summary {
        background-color: #ff9900;
        .coin {
            border-right: 4px solid #f8f8f8;
        }
        .header {
            color: #ffffff;
            font-size: 2.4em;
        }
        .description {
            color: #434343;
            font-weight: 600;
        }

        .textheader {
            color: #ffffff;
            font-size: 1.6em;
        }

        .painter{
            color: #ffffff;
            font-size: 1.2em;
        }

        .txtlabel{
            color: #ffffff;
            font-size: 1.2em;
        }

    }

    .painterrow{
        color: #ffffff;
        font-size: 1.2em;
    }

    .list {
        margin: -1px 0 10px !important;
        .list-header {
            color: #8f8e8e !important;
            font-weight: 600;
        }
        .hilight {
            color: $tp-color;
            font-weight: 600;
        }
        .list-summary {
            text-align: right;
        }
    }

    .footer {
        .toolbar-background {
            background-color: #ffffff !important;
        }
        .toolbar {
            padding: 0px !important;
        }
    }

    .footer-toolbar {
        padding: 0px !important;
        min-height: 0px !important;
        button {
            margin: 0px !important;
        }
    }

    img {
        max-width: 50%;
        border: 0;
    }

}
