<!-- <ion-header>
  <ion-navbar>
    <ion-title>เหรียญค้างเก็บ</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons start class="pc-icon-home">
      <button ion-button icon-only (click)="gotoEPHome()">
        <ion-icon name="home"></ion-icon>
        <span class="menu-left-text" text-center>กลับหน้าหลัก</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-list no-lines>
      <ion-item *ngFor="let item of saleRedeem" (click)="GotoBTFSPage(item.dealerid,item.custname,item.countproductconfirm)">
        <ion-row>
          <ion-col col-3>
            <ion-thumbnail item-start>
              <ion-badge color="danger">{{item.redeemqty | number: '1.0-0'}}</ion-badge>
              <img src="./assets/imgs/ePocket/store-bg.png" alt="image">
            </ion-thumbnail>
          </ion-col>
          <ion-col col-9>
            <h2>
              {{ item.soldto }}
            </h2>
            <h2 text-wrap>
              {{ item.custname }}
            </h2>
            <h2 text-wrap>
              {{ item.districtdesc }} {{item.citydesc}}
            </h2>
            <span class="date-style">
                <ion-icon name="calendar"> </ion-icon>
              {{ item.datecount }}
              </span>
            <span class="span_right">
                  {{ item.countproductconfirmname }}
            </span>
            <!-- <span class="date-style" text-left >
              <ion-icon name="calendar"> </ion-icon>
              {{ item.datecount }}
            </span>

            <span text-wrap text-right>
              {{ item.countproductconfirmname }}
            </span> -->
          </ion-col>

        </ion-row>

      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>

<!-- <ion-content>
  <ion-list>
    <ion-item *ngFor="let item of saleRedeem" (click)="GotoBTFSPage(item.dealerid,item.custname,item.countproductconfirm)">
      <ion-thumbnail item-start>
        <ion-badge color="danger">{{item.redeemqty | number: '1.0-0'}}</ion-badge>
        <img src="./assets/imgs/ePocket/store-bg.png" alt="image">
      </ion-thumbnail>
      <h2>
        {{ item.soldto }}
      </h2>
      <h2 text-wrap>
        {{ item.custname }}
      </h2>
      <h2 text-wrap>
        {{ item.districtdesc }} {{item.citydesc}}
      </h2>

      <h2 class="date-style" text-wrap>
        <ion-icon name="calendar"> </ion-icon>
        {{ item.datecount }}
      </h2>

      <h2 text-wrap>
        {{ item.countproductconfirmname }}
      </h2>
      <button ion-button icon-only clear item-end>
        <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content> -->