$tp-color:#2e323d;
$tp-color-l:rgba(46, 50, 61, 0.12941176470588237);
$tp-icon-color: #ff9900 ;
$tp-content-color:#ffffff;
$tp-font-color:#ff9900 ;

page-ep-coinstock-list {
        .toolbar{
                padding: 0px !important;
        }
    .pc-icon-home{
        position: absolute;
        float: left;
    }
    ion-content{
        .badge-ios{
            position: absolute;
            margin: 27px 4px;
            text-align: center;
        }
        ion-badge {
            position: absolute;
            margin: 42px 7px;
            text-align: center;
        }
        
        
    }
    .toolbar-background {
        background-color: #ef6c00!important;
    } 
    .back-button {
        color: #ffffff;
    }
    .toolbar-title {
        color: #ffffff;
    }
    .content {
        background: #17181a;
        .scroll-content{
            .list{
            .item{
                background: #363636;
                border-bottom: 1px solid #17181a;
            }
            .item-inner{
                border-bottom: none !important;
                .date-style{
                    color: $tp-content-color;
                }      
            }
         }
        }
    }
  
  .header-md::after {
      background-image: none;
  }
  .header-ios {
      margin-top: 2px;
  }
  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
      border-width: 0px !important;
  }

  .toolbar-md {
      padding: 0px;
  }

  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    color:#ffffff;
  }

//   ion-content {
//       background-color: $tp-content-color !important;
//   }

  .scroll-content {
        padding: 2px !important;
      //overflow: hidden !important;
  }

  ion-buttons[start] {
      button {
          width: 100% !important;
      }
      ion-icon {
          position: absolute !important;
          font-size: 26px !important;
          left: 0px;
          margin-left: 24px;
          color: $tp-content-color !important;
      }
      .menu-left-text {
          font-size: 14px !important;
          color: $tp-content-color !important;
          margin-top: 40px;
          z-index: 999;
      }
  }
  ion-buttons[end] {
      button {
          width: 100% !important;
      }
      ion-icon {
          position: absolute !important;
          font-size: 26px !important;
          color: $tp-content-color !important;
      }
      .menu-right-text {
          font-size: 10px !important;
          color: $tp-content-color !important;
          margin-top: 30px;
          z-index: 999;
      }
  }

  .list {
     
      .label {
          white-space: inherit !important;
          color: $tp-font-color;
          // height: 50px;
      }
      .name {
          color: $tp-font-color;
      }
      .size {
          color: $tp-color;
          // font-weight: 600;
          
      }
      .arrow-next {
          color: $tp-content-color;
      }
      img {
          object-fit: cover;
      }        

  }

  .product-name {
      font-size: 2 rem;
      color: $tp-color;
  }

  .span_right {
    float:right;
}
  
}
