<ion-header>
  <ion-navbar>
    <ion-title>เลือกสี</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let color of colors | filterBy: ['sizeCode']: size | unique: 'colorCode'" (click)="selectColor(color)" class="color">
      <div class="color__preview" *ngIf="color.rgbCode && colorFlag != 'X'" [style.background-color]="'rgb(' + color.rgbCode + ')'"></div>
      <div class="color__preview" *ngIf="!color.rgbCode && colorFlag != 'X'" >
        <img src="./assets/imgs/eOrdering/no-color.png">
      </div>
      <div class="color__name">
        {{ color.colorCode }}
      </div>
    </button>
  </ion-list>
</ion-content>