page-eo-product-detail-color {
  @include eoHeader;

  ion-list {
    margin-bottom: 0px !important;

    button {
      padding-left: 0px !important;

      .item-inner {
        padding-left: 10px !important;
        padding-right: 0px !important;
      }
    }

    ion-item {
      padding-left: 0px !important;
    }
  }

  @include block('color') {
    @include element('preview') {
      width: 40px;
      height: 20px;
      float: left;
      position: relative;
      top: -2px;
      margin-right: 10px;
    }

    @include element('name') {
      float: left;
    }

    @include clearfix;
  }
}
