<ion-header>
  <ion-navbar>
    <ion-title>เลือกสาขา</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of BankBranchList" (click)="onSelectBankBranch(item)">
      <p class="bank-name" text-wrap>
        <b> {{ item.branchname }}</b>
      </p>
    </ion-item>
  </ion-list>
</ion-content>