page-dc-menu {
  .list-md {
    margin-bottom: 0px !important;

    ion-list-header {
      margin-bottom: 0px;
    }

    ion-item {
      font-size: 1.400rem;

      .item-inner {
        margin-left: 10px !important;
        border-bottom: none !important;
      }
    }
  }
  
  .icon {
    font-size: 2.5rem;
    color: #00d8ce;
  }

  .list-ios {
    margin-bottom: 0px !important;

    ion-item {
      font-size: 1.400rem;

      &:first-child, &:last-child {
        border: none !important;
      }

      .item-inner {
        margin-top: 1px !important;
        border-bottom: none !important;
      }
    }
  }
}
