<ion-list>
  <ion-item (click)="selectMenu(1)">
    <ion-icon name="lock" item-start></ion-icon>
    เปลี่ยนรหัสผ่าน
  </ion-item>
  <ion-item (click)="selectMenu(2)">
    <ion-icon name="apps" item-start></ion-icon>
    เปลี่ยนรหัส PIN
  </ion-item>
  <ion-item (click)="selectMenu(3)">
    <ion-icon name="log-out" item-start></ion-icon>
    เปลี่ยนผู้ใช้งาน
  </ion-item>
  <ion-item (click)="selectMenu(4)">
    <ion-icon name="key" item-start></ion-icon>
    ออกจากระบบ
  </ion-item>
</ion-list>