<ion-header>
  <ion-navbar>
    <ion-title>แจ้งปัญหาการใช้งาน</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="title">
    แจ้งปัญหาการใช้งาน เฉพาะระบบ e-Ordering
  </div>
  <form [formGroup]="form" (ngSubmit)="sendProblem(form.value)" autocomplete="off" #Form="ngForm">
    <ion-list>
      <ion-item>
        <ion-label stacked>ปัญหาที่พบ</ion-label>
        <ion-textarea rows="10" formControlName="message"></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full no-margin mode="ios" color="light" (click)="gotoHome()">
          กลับสู่หน้าหลัก
        </button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button full no-margin mode="ios" [disabled]="!form.valid || btnLoading" (click)="Form.ngSubmit.emit()">
          <span *ngIf="btnLoading">
            <ion-spinner name="dots"></ion-spinner>
          </span>
          <span *ngIf="!btnLoading">
            ส่ง
          </span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>