page-dc-pin-request {
  @include dcContent;
  @include keypad;

  .logout {
    position: absolute;
    right: 0px;
    top: 10px;

    button {
      color: #ffffff !important;
    }
  }

  @include block('header') {
    margin-top: 20px;
    
    @include element('logo') {
      margin-top: 10px;
      text-align: center;
    }

    @include element('username') {
      color: #ffffff;
      font-size: 1.8rem;
      text-align: center;
      margin: 5px 0;
    }

    @include element('title') {
      color: #ffffff;
      font-size: 2.3rem;
      font-weight: bold;
      text-align: center;
      margin: 5px 0;
    }
  }
}
