<ion-content padding>
  <div class="logout">
    <button ion-button clear (click)="logout()">
      <ion-icon name="md-log-out" style="font-size: 3.5rem"></ion-icon>
    </button>
  </div>
  <div class="header">
    <div class="header__logo">
      <img src="assets/imgs/DealerConnect/TOA.png">
    </div>
    <div class="header__username">
      {{ userInfo.userName }}
    </div>
    <div class="header__title">
      ป้อนรหัส PIN
    </div>
  </div>
  <ion-grid class="keypad-res" no-margin>
    <ion-row style="padding: 0px 25px;">
      <ion-col col-2>
        <div class="keypad-res__text">
          {{ (number[0] != undefined) ? '*' : '' }}
        </div>
      </ion-col>
      <ion-col col-2>
        <div class="keypad-res__text">
          {{ (number[1] != undefined) ? '*' : '' }}
        </div>
      </ion-col>
      <ion-col col-2>
        <div class="keypad-res__text">
          {{ (number[2] != undefined) ? '*' : '' }}
        </div>
      </ion-col>
      <ion-col col-2>
        <div class="keypad-res__text">
          {{ (number[3] != undefined) ? '*' : '' }}
        </div>
      </ion-col>
      <ion-col col-2>
        <div class="keypad-res__text">
          {{ (number[4] != undefined) ? '*' : '' }}
        </div>
      </ion-col>
      <ion-col col-2>
        <div class="keypad-res__text">
          {{ (number[5] != undefined) ? '*' : '' }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="keypad-btn">
    <ion-row>
      <ion-col col-12 no-padding>
        <ion-row no-padding>
          <ion-col col-4 text-center class="keypad-btn__number">
            <button ion-button (click)="keypress(1)">
              1
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad-btn__number">
            <button ion-button (click)="keypress(2)">
              2
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad-btn__number">
            <button ion-button (click)="keypress(3)">
              3
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 no-padding>
        <ion-row no-padding>
          <ion-col col-4 text-center class="keypad-btn__number">
            <button ion-button (click)="keypress(4)">
              4
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad-btn__number">
            <button ion-button (click)="keypress(5)">
              5
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad-btn__number">
            <button ion-button (click)="keypress(6)">
              6
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 no-padding>
        <ion-row no-padding>
          <ion-col col-4 text-center class="keypad-btn__number">
            <button ion-button (click)="keypress(7)">
              7
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad-btn__number">
            <button ion-button (click)="keypress(8)">
              8
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad-btn__number">
            <button ion-button (click)="keypress(9)">
              9
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 no-padding>
        <ion-row no-padding>
          <ion-col col-4 text-center class="keypad-btn__number keypad-btn__number--no-border">
            <button ion-button (click)="forgotPin()">
              ลืม PIN
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad-btn__number" >
            <button ion-button (click)="keypress(0)">
              0
            </button>
          </ion-col>
          <ion-col col-4 text-center class="keypad-btn__number keypad-btn__number--no-border">
            <button ion-button (click)="delNumber()">
              <ion-icon name="md-backspace" style="font-size: 4rem"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
