<ion-content padding>
  <ion-grid class="grid-content">
    <ion-row>
      <ion-col col-4>
        <span class="history-header">No.</span>
      </ion-col>
      <ion-col col-4>
        <span class="history-header" >วันที่</span>
      </ion-col>
      <ion-col col-4>
        <span class="history-header">รายละเอียด</span>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let item of DataChangeProfileProcess">
      <ion-col col-4>
        <span class="history-detail">{{item.rownumber}}</span>
      </ion-col>
      <ion-col col-4>
        <span class="history-detail">{{item.createdate | date: 'dd-MM-yyyy'}} </span>
      </ion-col>
      <ion-col col-4>
        <span class="history-detail">{{item.statusname }} </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>