page-eo-product-detail {
  @include eoHeader;

  ion-list {
    margin-bottom: 0px !important;
  }

  @include block('product') {
    @include element('loading') {
      @include element('image') {
        margin: 36px 40px 20px 40px;
        height: 320px;
        background: #f5f5f5;
      }

      @include element('detail') {

        @include element('name1') {
          height: 1.063em;
          width: 100%;
          display: block;
          background: #f5f5f5;
        }

        @include element('name2') {
          height: 1.063em;
          margin-top: 10px;
          width: 100%;
          display: block;
          background: #f5f5f5;
        }

        @include element('price') {
          height: 1.5em;
          width: 150px;
          background: #f5f5f5;
          margin-top: 10px;
        }
      }
    }

    @include element('image') {
      padding: 36px 40px 20px 40px;
      background-color: #ffffff;
      height: 320px;
      text-align: center;
      position: relative;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    @include element('detail') {
      background-color: #ffffff;
      position: relative;

      @include element('name') {
        font-size: 1.7rem;
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
      }

      @include element('btfCode') {
        font-size: 1.5rem;
      }

      // @include element('price') {
      //   color: orangered;
      //   display: block;
      //   font-size: 1.5em;
      //   font-weight: bold;
      // }

      @include element('promotion') {
        margin-top: 16px;

        button {
          border-right-width: 1px !important;
          border-left-width: 1px !important;
        }
      }
    }

    @include element('content') {
      background-color: #f7f7f7;
      margin-bottom: 10px;
      padding: 7px;
      
      h5 {
        font-size: 1.5rem;
        margin-top: 10px;
        margin-bottom: 0px;
      }

      ion-item {
        &.item {
          .radio-icon {
            display: none !important;
          }

          .item-inner {
            border: none !important;
            padding-right: 0px !important;
            font-weight: 600 !important;

            .item-cover {
              background: rgba(42, 39, 39, 0.0392156862745098);
            }
          }
        }

        // ios
        &.item-ios {
          .radio-ios {
            margin-right: 0px !important;
          }
        }
      }

      @include element('price') {
        font-size: 1.5rem;
        padding-top: 10px;
      }

      @include element('size') {
        button {
          color: #000000;
          border-radius: 0px;
          font-weight: bold;
          font-size: 1.5rem;
          border: 2px solid color($colors, 'primary');
          padding: 21px !important;

          ion-icon {
            margin-left: 5px;
          }
        }
      }

      @include element('color') {
        @include element('preview') {
          div {
            width: 40px;
            height: 25px;
            float: left;
            position: relative;
            top: -1px;
          }
        }

        @include element('name') {
          padding-left: 10px;
          margin-top: 1px;

          ion-icon {
            position: relative;
            bottom: -3px;
          }
        }

        button {
          color: #000000;
          border-radius: 0px;
          font-weight: bold;
          font-size: 1.5rem;
          border: 2px solid color($colors, 'primary');
          padding: 21px !important;
        }
      }

      @include element('qty') {
        .item {
          padding-left: 0px !important;
          background-color: #f7f7f7 !important;

          .item-inner {
            border-bottom: none !important;
            padding-right: 0px !important;
          }
        }

        .item-button {
          height: 35px !important;

          .button-inner {
            padding: 10px !important;
          }
        }

        .label {
          margin: 0px !important;
        }

        @include element('count') {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;

          .text-input-ios {
            margin-right: 0px !important;
          }
        }
      }

      @include element('summary') {
        text-align: center;
        font-size: 1.5rem;
  
        @include element('text') {
          line-height:  3rem;
        }
  
        @include element('amount') {
          font-size: 2rem !important;
          color: red !important;
          font-weight: bold;
        }
      }
    }

    @include element('remark') {
      padding: 0 8px 8px 8px;
      font-size: 1.14rem;
      color: red;
    }

    @include element('cart') {
      position: relative;
      right: 20px;

      ion-badge {
        top: 6%;
        right: calc(50% - 30px);
        padding: 1px 6px;
        position: absolute;
        height: auto;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  /* favorite position */
  .favorite {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 4rem !important;
  }
}
