<ion-header>
  <ion-navbar>
    <ion-title>{{ btfInfo?.btfWebDescTh }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openCart()" class="product__cart">
        <ion-icon name="cart"></ion-icon>
        <ion-badge color="danger">
          {{ totalQty }}
        </ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="addCart(form.value)" autocomplete="off" #Form="ngForm">
    <div class="product" *ngIf="!loading">
      <div class="product__image">
        <ion-icon ios="md-star" md="md-star" class="favorite" [class.active]="btfInfo.isFavorite" (click)="setFavorite(btfInfo)"></ion-icon>
        <img [src]="config.partImgProduct + '/ProductDetail/' + btfInfo.btfWeb + '.jpg'">
      </div>
      <div class="product__detail" padding>
        <div class="product__detail__name" text-wrap>
          {{ btfInfo.btfWebDescTh }}
        </div>
        <div class="product__detail__btfCode">
          ({{ btfInfo.btf }})
        </div>
        <div class="product__detail__promotion" *ngIf="promotions?.length">
          <button ion-button type="button" outline small full color="danger" (click)="openModalPromotion()">
            คลิกเพื่อดูรายการโปรโมชั่น
          </button>
        </div>
      </div>
      <div class="product__content">
        <ion-grid class="product__content__price">
          <ion-row>
            <ion-col col-6 text-left>
              ราคาต่อหน่วย (บาท) 
            </ion-col>
            <ion-col col-6 text-right>
              {{ product.productPrice | number: '1.2-2' }}
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col col-12 text-center>
              <h5>ขนาด</h5>
            </ion-col>
            <ion-col col-12 class="product__content__size">
              <button type="button" ion-button clear full mode="ios" (click)="openModalSize()">
                {{ sizeName }} <ion-icon name="md-arrow-dropdown"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="sizeFlag != 'X'">
          <ion-row>
            <ion-col col-12 text-center>
              <h5>สี / เบอร์ / รุ่น</h5>
            </ion-col>
            <ion-col col-12 class="product__content__color">
              <button type="button" ion-button clear full mode="ios" (click)="openModalColor()">
                <ul class="list-inline">
                  <li class="product__content__color__preview" *ngIf="rgbCode && colorFlag != 'X'">
                    <div [style.background-color]="'rgb(' + rgbCode + ')'" [style.border]="'1px solid'">
                    </div>
                  </li>
                  <li class="product__content__color__preview" *ngIf="!rgbCode && colorFlag != 'X'">
                    <img src="./assets/imgs/eOrdering/no-color.png" [style.border]="'1px solid'">
                  </li>
                  <li class="product__content__color__name">
                    {{ colorCode }} <ion-icon name="md-arrow-dropdown"></ion-icon>
                  </li>
                </ul>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col col-12 text-center>
              <h5>จำนวน</h5>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-list class="product__content__qty">
          <ion-grid>
            <ion-row>
              <ion-col ion-item col-4 text-right>
                <button type="button" ion-button icon-only (click)="decQty()">
                  <ion-icon name="remove"></ion-icon>
                </button>
              </ion-col>
              <ion-col ion-item col-4 class="product__content__qty__count">
                <ion-input type="number" text-center formControlName="qty" (blur)="edtQty()"></ion-input>
              </ion-col>
              <ion-col ion-item col-4 text-left>
                <button type="button" ion-button icon-only (click)="incQty()">
                  <ion-icon name="add"></ion-icon>
                </button>
              </ion-col>
              <ion-col ion-item col-12 text-center>
                <span *ngIf="product.altUnit1Amount == 0">
                  หน่วย : {{ product.unitNameTh }}
                </span>
                <span *ngIf="product.altUnit1Amount > 0">
                  หน่วย : ( 1 {{ product.altUnit1NameTh }} : {{ product.altUnit1Amount }} {{ product.unitNameTh }} )
                </span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
        <ion-grid class="product__content__summary">
          <ion-row>
            <ion-col col-6 text-left class="product__content__summary__text">
              ราคารวม (บาท)
            </ion-col>
            <ion-col col-6 text-right class="product__content__summary__amount">
              {{ product.productPrice * form.value.qty | number: '1.2-2' }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div class="product__remark" *ngIf="!loading">
      หมายเหตุ : บริษัทฯ ขอสงวนสิทธิ์ในการเปลี่ยนแปลงรายการ <br> โดยมิต้องแจ้งให้ทราบล่วงหน้า ตลอดจนความผิดพลาดที่เกิดจากการพิมพ์
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button color="teal" full no-margin mode="ios" (click)="gotoBack()">
          ย้อนกลับ
        </button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button color="orange" full no-margin mode="ios" [disabled]="!form.valid || btnLoading" (click)="Form.ngSubmit.emit()">
          <span *ngIf="btnLoading">
            <ion-spinner name="dots"></ion-spinner>
          </span>
          <span *ngIf="!btnLoading">
            หยิบใส่ตะกร้า
          </span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>