<ion-header>
  <ion-navbar>
    <ion-title>ข้อมูลร้านค้า</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="profile__header">
    <div class="profile__header__code">
      {{ customerInfo.customerCode }}
    </div>
    <div class="profile__header__name">
      {{ customerInfo.customerName }}
    </div>
  </div>
  <ion-list>
    <ion-item>
      <div class="profile__content__title">
        ที่อยู่/เลขที่
      </div>
      <div class="profile__content__text">
        {{ customerInfo.address }}
      </div>
    </ion-item>
    <ion-item>
      <div class="profile__content__title">
        ถนน
      </div>
      <div class="profile__content__text">
        {{ customerInfo.street }}
      </div>
    </ion-item>
    <ion-item>
      <div class="profile__content__title">
        ตำบล/แขวง
      </div>
      <div class="profile__content__text">
        {{ customerInfo.subDistrictName }}
      </div>
    </ion-item>
    <ion-item>
      <div class="profile__content__title">
        อำเภอ/เขต
      </div>
      <div class="profile__content__text">
        {{ customerInfo.districtName }}
      </div>
    </ion-item>
    <ion-item>
      <div class="profile__content__title">
        จังหวัด
      </div>
      <div class="profile__content__text">
        {{ customerInfo.cityName }}
      </div>
    </ion-item>
    <ion-item>
      <div class="profile__content__title">
        รหัสไปรษณีย์
      </div>
      <div class="profile__content__text">
        {{ customerInfo.postCode }}
      </div>
    </ion-item>
    <ion-item>
      <div class="profile__content__title">
        เบอร์โทรศัพท์, เบอร์มือถือ
      </div>
      <div class="profile__content__text">
        {{ customerInfo.telNo }}
      </div>
    </ion-item>
    <ion-item>
      <div class="profile__content__title">
        อีเมล
      </div>
      <div class="profile__content__text">
        {{ customerInfo.email }}
      </div>
    </ion-item>
    <ion-item>
      <div class="profile__content__title">
        เบอร์โทรศัพท์, เบอร์มือถือ (e-Ordering)
      </div>
      <div class="profile__content__text">
        {{ customerInfo.mobileDC }}
      </div>
    </ion-item>
    <ion-item>
      <div class="profile__content__title">
        อีเมล (e-Ordering)
      </div>
      <div class="profile__content__text">
        {{ customerInfo.customerEmailDC }}
      </div>
    </ion-item>
    <ion-item>
      <div class="profile__content__title">
        จัดส่ง
      </div>
      <div class="profile__content__text">
        {{ customerInfo.transportZoneDesc }}
      </div>
    </ion-item>
    <ion-item>
      <div class="profile__content__title">
        Customer Size
      </div>
      <div class="profile__content__text">
        {{ customerInfo.priceList }}
      </div>
    </ion-item>
    <ion-item>
      <div class="profile__content__title">
        Account No
      </div>
      <div class="profile__content__text">
        {{ customerInfo.bblNo }}
      </div>
    </ion-item>
    <ion-item>
      <div class="profile__content__title">
        Account Holder Last Name
      </div>
      <div class="profile__content__text">
        {{ customerInfo.bblNameEng }}
      </div>
    </ion-item>
  </ion-list>
  <div padding style="padding-top: 0px;">
    <p>สามารถดูรายละเอียด Account No. ได้ที่</p>
    <a href="https://identity.intellilink.spendmanagement.visa.com/login?signin=aa6f430035a164aafa80cd3e8b1ae502#/login">
      https://identity.intellilink.spendmanagement.visa.com/login?signin=aa6f430035a164aafa80cd3e8b1ae502#/login
    </a>
  </div>
</ion-content>

<ion-footer>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full no-margin mode="ios" color="light" (click)="gotoHome()">
          กลับสู่หน้าหลัก
        </button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button full no-margin mode="ios" (click)="gotoProfileUpdate()">
          แจ้งเปลี่ยนแปลงข้อมูล
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
