page-eo-profile {
  @include eoHeader;
  
  @include block('profile') {
    @include element('header') {
      margin-top: 20px;
      
      @include element('image') {
        text-align: center;
        margin: 15px auto;
        border-radius: 50%;
        border: 1px solid color($colors, 'primary') !important;
        width: 130px;
        height: 130px;

        img {
          width: 90px;
          margin-top: 14px;
        }
      }

      @include element('code') {
        font-size: 1.7rem;
        font-weight: bold;
        text-align: center;
      }

      @include element('name') {
        font-size: 1.45rem;
        text-align: center;
      }
    }

    @include element('content') {
      @include element('title') {
        margin-top: 2px;
        font-size: 1.2rem;
      }

      @include element('text') {
        margin-top: 5px;
        color: #989898 !important;
        font-size: 1.4rem;
      }
    }
  }

  ion-list {
    margin: 16px !important;
    border: 1px solid #ddd !important;

    ion-item {

      &:first-child {
        padding-top: 5px;
      }

      &:last-child {
        padding-top: 5px;
      }

      padding-left: 0px !important;
      font-size: 1.48rem !important;
      min-height: 3.7rem !important;

      .item-inner {
        //padding-left: 8px !important;
        padding: 0 4px !important;
        border-bottom: none !important;
      }
    }
  
    ion-label {
      overflow: visible !important;
      margin: 5px !important;
    }
  
    .text {
      color: #989898 !important;
      font-size: 1.4rem;
    }
  }
}
