<ion-content>
  <ion-list *ngIf="!loading">
    <ion-item class="product-item" *ngFor="let product of products" (click)="selectedProduct(product)">
      <div class="product-item__image">
        <img [src]="config.partImgProduct + '/ProductDetail/' + product.btfWeb + '.jpg'">
      </div>
      <div class="product-item__detail">
        <div class="product-item__detail__name" text-wrap>
          {{ product.btfWebDescTh }}
        </div>
        <ion-icon ios="md-star" md="md-star" class="favorite" [class.active]="product.isFavorite" (click)="setFavorite($event, product)"></ion-icon>
      </div>
    </ion-item>
    <ion-item *ngIf="!products?.length" text-center>
      ไม่พบสินค้า
    </ion-item>
  </ion-list>
</ion-content>
