<ion-header>
  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <pdf-viewer [src]="url"
              [autoresize]="true"
              [fit-to-page]="true"
              [render-text]="true"
              [show-all]="false"
              [zoom]="zoom"
              [(page)]="page"
              (after-load-complete)="onComplete($event)"
              style="display: block;"></pdf-viewer>

  <!-- <ion-fab right bottom>
    <button mode="md" ion-fab mini color="light" (click)="zoomInc()">
      <ion-icon name="add"></ion-icon>
    </button>
    <button mode="md" ion-fab mini color="light" (click)="zoomDec()">
      <ion-icon name="remove"></ion-icon>
    </button>
  </ion-fab> -->
  <ion-fab center bottom>
    <button mode="md" ion-button mini color="light" (click)="zoomDec()">
      <ion-icon name="remove"></ion-icon>
    </button>
    <button mode="md" ion-button color="light" (click)="prevPage()" *ngIf="totalPage > 1">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
    <button mode="md" ion-button color="light" (click)="nextPage()" *ngIf="totalPage > 1">
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </button>
    <button mode="md" ion-button color="light" (click)="zoomInc()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
