<ion-header>
  <ion-navbar>
    <ion-title>รายละเอียดประวัติการสั่งจ่าย</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid class="grid-content">
    <ion-row>
      <ion-col col-6>
        <span class="detail-name">Pay DocNo</span>
      </ion-col>
      <ion-col col-6 text-right>
        <span class="detail-name">{{PayDoc}}</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <span class="detail-name">วันที่สั่งจ่าย</span>
      </ion-col>
      <ion-col col-6 text-right>
        <span class="detail-name"> {{PayDate | date:'dd/MM/yyyy'}} </span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <span class="detail-name">Ref. Doc :</span>
      </ion-col>
      <ion-col col-6 text-right>
        <span class="detail-name">{{REFDOC_R}} </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        <span></span>
      </ion-col>
      <ion-col col-7 text-right>
        <span class="detail-name">{{REFDOC_P}} </span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br/>
  <ion-grid class="grid-content">
    <ion-row>
      <ion-col col-8>
        <span class="coinamount">จำนวนเหรียญแลกรับ : </span>
      </ion-col>
      <ion-col col-4 text-right>
        <span class="detail-amount">{{SALEQTY | number: '1.0-0'}}</span>
      </ion-col>
    </ion-row>
    <!-- row 1 -->
    <ion-row>
      <ion-col col-1>
        <ion-icon ios="ios-swap"></ion-icon>
      </ion-col>
      <ion-col col-6>
        <span class="detail-name">&nbsp;ค่าแลก (บาท) :</span>
      </ion-col>
      <ion-col col-5 text-right>
        <span class="detail-amount">{{SUMVALUER | number: '1.0-0'}}</span>
      </ion-col>
    </ion-row>

    <!-- row 2 -->
    <ion-row>
      <ion-col col-1>
        <ion-icon ios="ios-cube-outline"></ion-icon>
      </ion-col>
      <ion-col col-6>
        <span class="detail-name">&nbsp;ค่ารักษา (บาท) :</span>
      </ion-col>
      <ion-col col-5 text-right>
        <span class="detail-amount">{{SUMVALUEP | number: '1.0-0'}}</span>
      </ion-col>
    </ion-row>

    <!-- row 3 -->
    <ion-row>
      <ion-col col-7>
        <span class="detail-name">&nbsp;รวมสั่งจ่าย (บาท) :</span>
      </ion-col>
      <ion-col col-5 text-right>
        <span class="detail-amount">{{AMOUNT | number: '1.0-0'}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>