<ion-header>
  <ion-navbar>
    <ion-title>Commission by Gallon (Quarter) Report</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="filter">
    <ion-item>
      <ion-label>
        Files
      </ion-label>
      <ion-select [(ngModel)]="fileName" cancelText="ยกเลิก" okText="เลือก" (ionChange)="selectFile(fileName)">
        <ion-option *ngFor="let file of files" [value]="file">
          {{ file }}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        Sales Group
      </ion-label>
      <ion-select [(ngModel)]="salesGroup" cancelText="ยกเลิก" okText="เลือก" [disabled]="!fileName">
        <ion-option value="ALL">
          ALL
        </ion-option>
        <ion-option [value]="report.sales_group" *ngFor="let report of report1 | unique: 'sales_group' |orderBy: 'sales_group'">
          {{ report.sales_group }}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button full [disabled]="!fileName" (click)="showReport()">
          Preview
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full color="light" (click)="backPage()">
          กลับสู่หน้าหลัก
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-list *ngFor="let report of report2 | slice: 0 : slice" class="report-item">
      <div class="report-item__header">
        <table>
          <tbody>
          <tr>
            <td width="50%">
              <b>Commission type</b>
            </td>
            <td align="left">
              {{ report.commission_type }}
            </td>
          </tr>
          <tr>
            <td width="50%">
              <b>Period</b>
            </td>
            <td align="left">
              {{ report.period }}
            </td>
          </tr>
          <tr *ngIf="report.commission_type == '1001'">
            <td width="50%">
              <b>Customer Area</b>
            </td>
            <td align="left">
              {{ report.area_no }}
            </td>
          </tr>
          <tr>
            <td width="50%">
              <b>Manager</b>
            </td>
            <td align="left">
              {{ report.employee_code + ' ' + report.employee_name }}
            </td>
          </tr>
          <tr>
            <td width="50%">
              <b>Sales Group</b>
            </td>
            <td align="left">
              {{ report.sales_group }}
            </td>
          </tr>
          <tr>
            <td width="50%">
              <b>Supervisor</b>
            </td>
            <td align="left">
              {{ report.supervisor_code + ' ' + report.supervisor_name }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="report-item__detail">
        <table *ngFor="let order of report.orders">
          <tr>
            <td colspan="2">
              <b style="color: #5d54e6">
                {{ order.product }}
              </b>
            </td>
          </tr>
          <tr>
            <td width="50%">
              <b>Net (Amount/Quantity)</b>
            </td>
            <td align="right">
              {{ order.net_amount | number: '1.2-2' }}
            </td>
          </tr>
          <tr>
            <td width="50%">
              <b>Target (Amount/Quantity)</b>
            </td>
            <td align="right">
              {{ order.target_amount | number: '1.2-2' }}
            </td>
          </tr>
          <tr>
            <td width="50%">
              <b>%</b>
            </td>
            <td align="right">
              {{ order.percent | number: '1.2-2' }}
            </td>
          </tr>
          <tr>
            <td width="50%">
              <b>เงินรางวัล</b>
            </td>
            <td align="right">
              {{ order.reward | number: '1.2-2' }}
            </td>
          </tr>
          <tr>
            <td width="50%">
              <b>Actual Shop</b>
            </td>
            <td align="right">
              {{ order.actual_shop | number: '1.2-2' }}
            </td>
          </tr>
          <tr>
            <td width="50%">
              <b>Target Shop</b>
            </td>
            <td align="right">
              {{ order.target_shop | number: '1.2-2' }}
            </td>
          </tr>
        </table>
      </div>
      <div class="report-item__summary">
        <table>
          <tr>
            <td width="50%">
              <b>Net (Amount/Quantity)</b>
            </td>
            <td align="right">
              {{ report.total.net_amount | number: '1.2-2' }}
            </td>
          </tr>
          <tr>
            <td width="50%">
              <b>Target (Amount/Quantity)</b>
            </td>
            <td align="right">
              {{ report.total.target_amount | number: '1.2-2' }}
            </td>
          </tr>
          <tr>
            <td width="50%">
              <b>%</b>
            </td>
            <td align="right">
              {{ report.total.percent | number: '1.2-2' }}
            </td>
          </tr>
          <tr>
            <td width="50%">
              <b>เงินรางวัล</b>
            </td>
            <td align="right">
              {{ report.total.reward | number: '1.2-2' }}
            </td>
          </tr>
          <tr>
            <td width="50%">
              <b>Actual Shop</b>
            </td>
            <td align="right">
              {{ report.total.actual_shop | number: '1.2-2' }}
            </td>
          </tr>
          <tr>
            <td width="50%">
              <b>Target Shop</b>
            </td>
            <td align="right">
              {{ report.total.target_shop | number: '1.2-2' }}
            </td>
          </tr>
        </table>
      </div>
    </ion-list>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content loadingText="กำลังโหลด"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
