<ion-header no-border>
  <ion-navbar text-center transparent hideBackButton="true" >
    <ion-buttons end class="pc-icon-home">
      <button ion-button icon-only (click)="gotoDCHOME()">
        <ion-icon name="home" ></ion-icon>
        <span class="menu-right-text">DEALER CONNECT</span>
      </button>
    </ion-buttons>
    <div class="img-log-home"><img src="./assets/icon/ePocket_icon/LogoEpocket.png" class="ep-logo-home"></div>  
    <ion-buttons class="btn-right" end>
      <button  ion-button icon-only (click)="userSetting()">
        <ion-icon class="pc-icon-person" name="md-person" ></ion-icon>
        <span class="menu-right-text">ข้อมูลทางบัญชี</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

  
  <ion-content no-bounce fullscreen padding>  
      <ion-grid>
        <ion-row>
          <ion-col col-6 text-center *ngFor="let menu of tpMenu" (click)="onSelected(menu)">
            <img src="{{ menu.icon }}" class="sub-image">
            <h2 *ngIf="menu.action.name == 'EpDealerRedeemConfirmPage' && CountSumReceiveQty != 0  hidden">
            <ion-badge color="danger">{{CountSumReceiveQty}}</ion-badge>
            </h2> 
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-content>
  