page-ep-home {

    .badgeCustom{
        font-size: 2.3rem;
        top: 0px;
        right: 0px;
    }
    #notifications-badge {
        background-color: red;
        position: absolute;
        top: -3px;
        right: -3px;
        border-radius: 100%;
    
    }

    .img-log-home{
        clear: both;
        text-align:  center;
        
    }
    .pc-icon-home{
        position: absolute;
        float: left;
    }
    .ep-logo-home{
        width: 150px;
        margin-top: 5px;
        margin-left: 80px;
    }

    .pc-icon-person{
        margin-right: 20px;
    }
    .btn-right{
        margin-right: 10px;
    }


    ion-content{
        background-image: url('../assets/icon/ePocket_icon/EPBG.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        ion-badge {
            position: absolute;
            z-index: 999;
            margin: -75px -35px;
        }
    }

    ion-buttons[start] {
        button {
            width: 100% !important;
        }
        ion-icon {
            position: absolute !important;
            font-size: 36px !important;
            left: 0px;
            margin-left: 24px;
            color: #ffffff !important;
        }
        .menu-left-text {
            font-size: 10px !important;
            color: #ffffff !important;
            margin-top: 38px;
            z-index: 999;
        }
    }

    ion-buttons[end] {
        button {
            width: 100% !important;
        }
        ion-icon {
            // position: absolute !important;
            position: right;
            font-size: 36px !important;
            left: 0px;
            margin-left: 24px;
            color: #ffffff !important;
        }
        .menu-right-text {
            position: right;
            font-size: 10px !important;
            color: #ffffff !important;
            margin-top: 38px;
            z-index: 999;
        }
    }

    ion-buttons[end] {
        button {
            width: 100% !important;
        }
        ion-icon {
            position: absolute !important;
            font-size: 36px !important;
            color: #ffffff !important;
        }
        .menu-right-text {
            font-size: 10px !important;
            color: #ffffff !important;
            margin-top: 38px;
            z-index: 999;
        }
    }

    .grid {
        padding: 0px !important;
        margin-top: 0px;
        .col {
            padding: 0px !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media only screen and (max-width: 1023px) and (orientation: landscape) {
        .grid.bg-layout {
            width: 40vw;
        }
        .row-landscape {
            flex-wrap: nowrap !important;
            justify-content: center;
            overflow-x: auto;
        }
        .col-landscape {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 14.44444%;
            -ms-flex: 0 0 14.44444%;
            flex: 0 0 14.44444%;
            width: 14.44444%;
            max-width: 14.44444%;
        }
        ion-badge {
            position: absolute;
            right: 8px;
            top: 8px;
        }
        .scroll-content {
            padding: 0px !important;
            margin-top: 0px !important;
            align-items: center;
            justify-content: center;
        }
    }
}
