<ion-header>
  <ion-navbar>
    <ion-title>รายงาน</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-label class="sub-title">ฝาค้างส่ง</ion-label>
  <ion-item class="caption">
    <span>ร้านค้า :</span>
    <span class="result"> {{DEALER_NAME}} </span>
    <br>
    <span>ตั้งแต่วันที่ :</span>
    <span class="result"> {{DATE_TO}} </span>
  </ion-item>

  <!-- <ion-item class="caption">
    
  </ion-item> -->

  <ion-list no-lines class="toplist" (click)="DetailOnClick()">
    <ion-item>
      <ion-item *ngFor="let item of DataReport" class="caption">
        <ion-row>
          <ion-col col-4>
            <span class="result">{{item.cointypename}}</span>
            <span>&nbsp; บ.</span>
          </ion-col>
          <ion-col col-4 text-center>
            <span> จำนวนฝา </span>
          </ion-col>
          <ion-col col-4 text-center>
            <span class="result"> {{item.dealerqty}} </span>
          </ion-col>
        </ion-row>
      </ion-item>
      <button ion-button icon-only clear item-end>
        <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <!-- <ion-item class="caption">
    <ion-row>
      <ion-col col-6>
        <span>ค่าแลก</span>
      </ion-col>
      <ion-col col-6>
          <span class="result">{{ SumRAomunt | number: '1.0-0' }}</span>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
          <span>ค่ารักษาฝาหลังหัก WHT</span>
        </ion-col>
        <ion-col col-6>
            <span class="result">{{ SumPAomunt | number : '1.0-0' }}</span>
          </ion-col>
      </ion-row>
  </ion-item> -->

</ion-content>