<!--
  Generated template for the EpDealerHistoryInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>รายละเอียดการรับฝา</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
    <ion-item class="caption">
      <span>ร้านค้า :</span>
      <span class="result">{{HistoryHD.dealerid}}</span>
    </ion-item>
    <ion-item class="caption">
      
      <span class="result">{{HistoryHD.customername}}</span>
    </ion-item>
    <ion-item class="caption">
      <span>จำนวนฝารวม (ฝา) :</span>
      <span class="result">{{HistoryHD.qty | number: '1.0-0'}}</span>
    </ion-item>
    <ion-item class="caption">
      <span>จำนวนเงินรวม (บาท) :</span>
      <span class="result">{{HistoryHD.totalamount | number: '1.0-0'}}</span>
    </ion-item>
  
    <ion-list no-lines class="toplist">
      <ion-item *ngFor="let item of HistoryInfo">
        <ion-thumbnail item-start>
          <img [src]="item.imagefullpath">
        </ion-thumbnail>
        <p class="nametxt">ประเภทฝา :
          <span class="nameresult">{{ item.cointypename }}</span>
        </p>
        <p class="nametxt">จำนวน :
          <span class="nameresult">{{ item.qty | number: '1.0-0'}}</span>
          <span> ฝา</span>
        </p>
        <p class="nametxt">ค่าแลกฝา :
          <span class="nameresult">{{ item.sumvaluer | number: '1.0-0' }}</span>
          <span> บาท</span>
        </p>
        <p class="nametxt">ค่ารักษาฝา :
          <span class="nameresult">{{ item.sumvaluep | number: '1.0-0' }}</span>
          <span> บาท</span>
        </p>
        <p class="nametxt">ยอดรวม : 
          <!-- <span class="nameresult">{{ item.amout | number: '1.0-0' }}</span> -->
          <span class="nameresult">{{ item.sumvaluer + item.sumvaluep | number: '1.0-0' }}</span>
          <span> บาท</span>
        </p>
  
      </ion-item>
    </ion-list>
  
  </ion-content>
  