<ion-header>

  <ion-navbar>
    <ion-title>มูลค่าฝาเหรียญ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-item class="caption">
    <span>รหัสร้านค้า :</span>
    <span class="result">{{DataHD.dealercode}}</span>
  </ion-item> -->
  <ion-item class="caption">
    <span>ร้านค้า :</span>
    <span class="result">{{DataHD.dealername}}</span>
  </ion-item>
  <ion-item class="caption">
    <span>รหัส Sale ID :</span>
    <span class="result">{{DataHD.salename}}</span>
  </ion-item>

  <div></div>

  <ion-grid class="grid-content">
    <ion-row>
      <ion-col col-12 text-center>
        <h2 class="title-table">รายละเอียด</h2>
      </ion-col>
    </ion-row>
    <ion-row class="header-table" >
      <ion-col col-3  text-center>
        <span>มูลค่า</span>
      </ion-col>
      <ion-col col-3  text-center>
        <span>จำนวนฝา</span>
      </ion-col>
      <ion-col col-3  text-center>
        <span>Sale รับ</span>
      </ion-col>
      <ion-col col-3 text-center>
        <span>ผลต่าง</span>
      </ion-col>
    </ion-row>

    <ion-row class="detail-table" *ngFor="let item of DataDT">
      <ion-col col-3 text-center>
        <span>{{item.cointypename}}</span>
      </ion-col>
      <ion-col col-3  text-center>
        <span>{{item.dealerqty | number: '1.0-0'}}</span>
      </ion-col>
      <ion-col col-3 text-center>
        <span>{{item.saleqty | number: '1.0-0'}}</span>
      </ion-col>
      <ion-col col-3 text-center>
        <span>{{item.lostqty | number: '1.0-0'}}</span>
      </ion-col>
    </ion-row>

    <ion-row class="footer-table">
      <ion-col col-3 text-center>รวม</ion-col>
      <ion-col col-3 text-center>{{SumDealerQty}}</ion-col>
      <ion-col col-3 text-center>{{SumSaleQty}}</ion-col>
      <ion-col col-3 text-center>-</ion-col>
    </ion-row>
  </ion-grid>

  <div></div>

  <!-- <ion-item class="caption">
    <span>รวมฝาที่รับ (ฝา) :</span>
    <span class="result">{{DataHD.sumreceiveqty | number: '1.0-0'}}</span>
  </ion-item> -->
  <ion-item class="caption">
    <span>ค่าแลกฝา (บาท) :</span>
    <span class="result">{{DataHD.sumreceiveamount | number: '1.0-0'}}</span>
  </ion-item>
  <ion-item class="caption">
    <span text-wrap>ค่ารักษาฝา ก่อนหัก WHT (บาท) :</span>
    <span class="result">{{DataHD.sumprotechamount | number: '1.0-0'}}</span>
  </ion-item>
  <ion-item class="caption">
    <span>หัก ณ ที่จ่าย 3% (บาท) :</span>
    <span class="result">{{ (DataHD.sumprotechamount * 3 ) / 100 | number: '1.2-2'}}</span>
  </ion-item>
  <ion-item class="caption">
    <span>รวมจำนวนเงิน (บาท) :</span>
    <span class="result">{{DataHD.sumamount -  ((DataHD.sumprotechamount * 3 ) / 100 )| number: '1.2-2'}}</span>
  </ion-item>
  <!-- <ion-item class="caption">
    <span>รวมมูลค่าฝาที่หาย :</span>
    <span class="result">{{DataHD.sumlostamount | number: '1.0-0'}}</span>
  </ion-item> -->
  

</ion-content>

<ion-footer>
  <ion-toolbar no-padding class="footer-toolbar">
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full large color="danger" (click)="Reject()">Reject</button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button full large color="primary" (click)="ConfirmOrder()">ยืนยัน</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

