page-dc-login {
  ion-content {
    background-image: url('../assets/imgs/DealerConnect/BGLogin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include block('login') {
    @include element('logo') {
      text-align: center;
      img {
        margin-top: 30px;
        max-width: 250px;
      }
    }

    @include element('form') {
      margin: 20px;
      padding: 20px 20px 10px 20px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 15px;
      
      ion-list {
        margin-bottom: 0 !important;

        ion-item {
          &:last-child {
            border: none !important;
          }

          margin-bottom: 10px;
          border-radius: 30px;
          color: #5d54e6;

          .item-inner {
            margin-left: 0 !important
          }
        }
      }
      

      @include element('btn-submit') {
        width: 100%;
        border-radius: 30px;
        color: #5d54e6;
      }

      @include element('btn-forgot') {
        width: 100%;
        color: #5d54e6;
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }
}
