<ion-content class="login">
  <div class="login__logo">
    <img src="./assets/imgs/DealerConnect/DCLogo.png">
  </div>
  <div class="login__form">
    <form class="form-login" [formGroup]="form" (ngSubmit)="login(form.value)" autocomplete="off">
      <ion-list no-lines>
        <ion-item>
          <ion-icon name="md-person" item-start></ion-icon>
          <ion-input type="text" formControlName="username" placeholder="ชื่อผู้ใช้งาน"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="md-lock" item-start></ion-icon>
          <ion-input type="password" formControlName="password" placeholder="รหัสผ่าน"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button color="light" class="login__form__btn-submit" [disabled]="!form.valid || btnLoading" mode="ios">
        <span *ngIf="!btnLoading">
          เข้าสู่ระบบ
        </span>
        <span *ngIf="btnLoading">
          <ion-spinner name="bubbles"></ion-spinner>
        </span>
      </button>
      <button type="button" ion-button clear small class="login__form__btn-forgot" (click)="gotoForgot()" mode="ios">
        ลืมรหัสผ่าน ?
      </button>
    </form>
  </div>
</ion-content>
