<ion-header>
  <ion-navbar>
    <ion-title>
      รายงาน
    </ion-title>
  </ion-navbar>
  <ion-label class="sub-title">รายละเอียดฝาค้างส่ง</ion-label>
</ion-header>
<ion-content padding>
  <ion-list class="accordion-list">
      <!-- First Level -->
      <ion-list-header *ngFor="let item of DataReport; let i = index"  no-lines no-padding>
        <!-- Toggle Button -->
        <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
          <ion-icon item-left class="txt-orange" name="arrow-forward" *ngIf="!item.open"></ion-icon>
          <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
            {{ item.btfsdesc }}
        </button>
   
        <ion-list *ngIf="item.details && item.open"  no-lines>
          <!-- Second Level -->
          <ion-list-header *ngFor="let child of item.details; let j = index" no-padding>
            <!-- Direct Add Button as Fallback -->
            <ion-item *ngIf="!child.details" ion-item detail-none class="child-item" text-wrap>
              <p text-lowercase class="txt-orange">มูลค่าฝา : <span class="txt-white">{{child.cointypename}}</span></p>
              <p text-lowercase class="txt-orange">จำนวนฝา : <span class="txt-white">{{ child.dealerqty }}</span></p>
            </ion-item>
   
          </ion-list-header>
        </ion-list>
      </ion-list-header>
    </ion-list>
</ion-content>

<ion-footer no-padding>
  <ion-toolbar no-padding class="footer-toolbar">
    <ion-row no-padding>
      <ion-col col-6 no-padding>
        <button ion-button full large color="danger" (click)="cancel()">ยกเลิก</button>
      </ion-col>
      <ion-col col-6 no-padding>
        <button ion-button full large color="primary" (click)="downloadCSV()">Export</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>