$ep-bg-content:#17181a;
$ep-bg-header:#ef6c00;
$ep-bg-box:#2e323d;
$ep-txt-orange:#ff9900;
$ep-txt-white:#ffffff;

page-ep-rpt05-constock-info {
  @include epReportHeader;

  .data-scroll {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .txt-orange{
    color: $ep-txt-orange;
  }
  .txt-white{
    color: $ep-txt-white;
  }
  .data-table {
    min-width: 800px;
  }
  
  .toolbar-background {
    background-color: #ef6c00!important;
  }
  .back-button {
    color: #ffffff;
  }
  button{
    margin: 0 !important;
  }
  .toolbar-title {
    color: #ffffff;
  }

  //==== content ====
  //==== table ====
  .content {
    background: #17181a;
  }

  td{
    height: 23px;
  }

  table{
      background-color: #ffffff;

      thead {
        background-color: #43a1cc;
        color: #ffffff;
        font-size: 1.2em;

        tr{
            text-align: center;
        }
         
      }  
  }
  .red{
      background-color: #82dcf8;
  }
  .normal{
      background-color: rgb(255, 255, 255);
  }
  //====end table ====  

 
  

  ion-grid{
    ion-row {
      background-color: #2e323d;
      border-radius: 15px;
      margin-top: 10px !important;
    }
    ion-col {
      .text-header{
        color: #ffffff;
        font-size: 1.3em
      }
      
      .text-name{
        color: #ffffff;
        font-size: 1.1em;
        text-align: right;
      }
      .text-amount{
        color: #ff9900;
        font-size: 1.1em;
        text-align: right;
        
      }
      
    }
  }

   
 


  //same ple

  .accordion-list {
    background: $ep-bg-box;
    height: 100%;
    ion-list-header{
      border: none;
      margin: 0;
    }
}
.section {
  background: $ep-bg-box;
  color: $ep-txt-white;
  border-bottom: 1px solid $ep-bg-content;
  margin-bottom: 4px;
  .txt-orange{
    color: $ep-txt-orange;
  }
  
}
.section-active {
  background: $ep-bg-header;
  color: #fff;
}

.child {
  background: $ep-bg-box;
  color: $ep-txt-white;
  margin-bottom: 4px;
  
}

.child-item {
  background: $ep-bg-box;
  color: $ep-txt-white; 
  padding: 10px 5px;
  border-bottom: 1px solid $ep-bg-content !important;
}
.label {
    margin: 0px;
}
.list {
    margin-bottom: 0px;
}

}
