page-eo-main {
  @include eoHeader;

  ion-title {
    .toolbar-title-ios {
      font-size: 1.2rem !important;
    }

    .toolbar-title-md {
      font-size: 1.3rem !important;
    }
  }

  .menu-icon {
    width: 25px;
    position: relative;
    bottom: -8px;
    margin-right: 5px;
  }

  ion-slides {
    margin-top: 0px !important;
  }

  ion-segment {
    display: block;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    white-space: nowrap !important;
    background-color: #ffffff !important;
    height: 43px;

    ion-segment-button {
      padding: 13px 13px 13px 13px !important;
      display: inline !important;
      font-weight: bold !important;
      color: #000000 !important;
      font-size: 1.35rem !important;

      &.active {
        color: #3579ff !important;
        border-color: #3579ff !important;
      }
    }
  }

  .scroll-content {
    margin-bottom: 0px !important;
  }
  
  .main-content {
    &.content-ios {
      > .scroll-content {
        overflow: hidden !important;

        > .page-content {
          height: calc(100% - 99px);
        }
      }
    }

    &.content-md {
      > .scroll-content {
        overflow: hidden !important;

        > .page-content {
          height: calc(100% - 100px);
        }
      }
    }
  }
}
