<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="openProductFilter()">
        <ion-icon name="ios-funnel"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ customerInfo.customerCode }} <br> {{ customerInfo.customerName }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSearchProduct()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="openMenu($event)">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="main-content">
  <div no-padding>
    <ion-segment mode="md" [(ngModel)]="page" id="scroll">
      <ion-segment-button *ngFor="let menu of menus" [class.active]="page == menu.id" [hidden]="!verifyPermission(menu.code)" (click)="selectedPage(menu.id)">
        <img class="menu-icon" [src]="menu.icon">
        {{ menu.name }}
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="page-content" *ngIf="page == 0">
    <eo-home></eo-home>
  </div>
  <div class="page-content" *ngIf="page == 1">
    <eo-order></eo-order>
  </div>
  <div class="page-content" *ngIf="page == 2">
    <eo-favorite></eo-favorite>
  </div>
  <div class="page-content" *ngIf="page == 3">
    <eo-history></eo-history>
  </div>
  <div class="page-content" *ngIf="page == 4">
    <eo-news></eo-news>
  </div>
  <div class="page-content" *ngIf="page == 5">
    <eo-document></eo-document>
  </div>
  <div class="page-content" *ngIf="page == 6">
    <eo-report></eo-report>
  </div>
</ion-content>
